<p class='fda{{#if class}} {{class}} {{/if}}'>* These statements have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure, or prevent any disease.</p>
