
<footer id='page_footer'>
  <section class='contact-details'>
    <p class='emphasis'>Contact</p>
    <ul>
      <li>RavenRidgeFamilyFarm@gmail.com</li>
      <li class='pad-vertical'>336.705.3198</li>
      <li><em>RavenRidge Family Farm</em><br>348 Jim McKinney Rd.<br>Pinnacle, NC 27043</li>
      <li><img class='social_logo' src='/instagram_logo.png' /><img class='social_logo' src='/facebook_logo.png' /></li>
    </ul>
  </section><section class='static-content'>
    <ul>
      <li><a href='/terms_and_conditions/'>Terms and Conditions</a></li>
      <li><a href='/privacy_policy/'>Privacy Policy</a></li>
      <li><a href='/shipping_and_returns/'>Shipping & Returns Policy</a></li>
    </ul>
  </section>
</footer>
