
  <nav id="mtw_nav" role="navigation">
    {{#unless simple}}
    <p>Click the names below to get to know us better:</p>
    {{/unless}}
    <ul>
      <li {{#if nav.richard}} class='current_mtw_nav'{{/if}}><a href='/learn/richard'>Richard</a></li>
      <li {{#if nav.michele}} class='current_mtw_nav'{{/if}}><a href='/learn/michele'>Michele</a></li>
      <li {{#if nav.cynthia}} class='current_mtw_nav'{{/if}}><a href='/learn/cynthia'>Cynthia</a></li>
      <li {{#if nav.nathan}} class='current_mtw_nav'{{/if}}><a href='/learn/nathan'>Nathan</a></li>
    </ul>
    {{#unless simple}}
    <p class='nav_center'>Or go back to <a href='/learn/meet_the_wheelers'>Meet the Wheelers</a>.</p>
    {{/unless}}
</nav>
