
  <nav id="primary_nav" role="navigation">
    <ul>
      <li id="nav_learn" {{#if nav.learn}} class='current_nav' {{/if}}><a href='/learn/'>Learn</a>
        <ol id="learn_subnav" >
          <li {{#if nav.why_ravenridge}} class='current_subnav' {{/if}}><a href='/learn/why_ravenridge'>Why buy from RavenRidge?</a></li>
          <li {{#if nav.which_product}} class='current_subnav' {{/if}}><a href='/learn/which_product'>Which product should I buy?</a></li>
          <li {{#if nav.why_regenerative}} class='current_subnav' {{/if}}><a href='/learn/why_regenerative'>Why Regenerative Matters</a></li>
          <li {{#if nav.product_faqs}} class='current_subnav' {{/if}}><a href='/learn/product_faqs'>Product FAQs</a></li>
          <li {{#if nav.transparent_pricing}} class='current_subnav' {{/if}}><a href='/learn/transparent_pricing'>Transparent Pricing</a></li>
          <li {{#if nav.third_party_testing}} class='current_subnav' {{/if}}><a href='/learn/third_party_testing'>Product Testing</a></li>
          <li {{#if nav.meet_the_wheelers}} class='current_subnav' {{/if}}><a href='/learn/meet_the_wheelers'>Meet the Wheelers</a></li>
        </ol>
      </li><li id="nav_products"><a href='https://shop.ravenridgefamilyfarm.com'>Shop</a>
      </li><li id="nav_farmdoc" {{#if nav.farmdoc}} class='current_nav' {{/if}}>
            <a href='/farmdoc/'>CBD Guides</a></li><li id="nav_blog" {{#if nav.blog}} class='current_nav' {{/if}}>
            <a href='/blog/'>Newsletter & Blog</a></li><li id="nav_home"  {{#if nav.home}} class='current_nav_home' {{/if}}>
            <a id='small_home_button' href='/'><img class='logo_nav' src='/logo_tiny.png' alt='the RavenRidge Family Farm brand with bird watermark'/></a>
            <a id='medium_home_button' href='/'><img class='logo_nav' src='/logo_medium.png' alt='the RavenRidge Family Farm text-based logo. Still iconic but the mountains are not visible. They take up too much space!'/></a>
            <a id='large_home_button' href='/'><img class='logo_nav' src='/logo_large.png' alt='the RavenRidge Family Farm text-based logo. Still iconic but the mountains are not visible. They take up too much space!'/></a>
      </li>
    </ul>
  </nav>
