{{#if simple}}
<img src='/product_images/salve_and_sublingual.jpg' class='center tiny' alt='An example of our salve and sublingual products.' />
<a href='https://shop.ravenridgefamilyfarm.com' class='{{#if muted}}call_to_action_link{{else}}orange_cta_link{{/if}}'>https://<strong>shop</strong>.ravenridgefamilyfarm.com</a>
{{else}}
<div class='callout-link-box'>
  <div class='title'>Visit our Online Store</div>
  <div class='links' id='homepage_shop'>
    <a href='https://shop.ravenridgefamilyfarm.com' class='{{#if muted}}call_to_action_link{{else}}orange_cta_link{{/if}}'>https://<strong>shop</strong>.ravenridgefamilyfarm.com</a>
  </div>
</div>
{{/if}}
