<h1>Third Party Test Results ( COA's )</h1>

<p>Below is a list of each <em>RavenRidge Family Farm</em>  product and a link to the corresponding test results from a sample of that product.</p>

<p><small>For our testing, we use <a href='http://www.phrlabs.com/about-us/'>PHR Labs</a>, an <em>ISO-17025<em> accredited lab in Pennsylvania.</small></p>

<section>

  <h2>Sublingual Oil</h2>

  <table>
    <tr><th>Product</th><th>Test URL ( click to visit )</t></tr>
    <tr><td>300mg CBD Sublingual Oil</td><td><a href='/product_testing/100'>/product_testing/100</a></td></tr>
    <tr><td>600mg CBD Sublingual Oil</td><td><a href='/product_testing/101'>/product_testing/101</a></td></tr>
    <tr><td>900mg CBD Sublingual Oil</td><td><a href='/product_testing/103'>/product_testing/103</a></td></tr>
  </table>

</section>
