<div class="ui very padded container">
  <h3 class="ui header">Why is product testing important?</h3>
  <div class="ui text container">
    <p>Being a relatively young industry, regulations and enforcement of regulations are a work in progress. In a rush to turn a profit, <em>some organizations are behaving unscrupulously</em> as regards consumer health and wellness.</p>

    <div class="ui horizontal header divider">This is not how we do business.</div>

    <p>To ensure that any product you are purchasing contains the amount of CBD claimed, look for third-party testing on the product batch you are purchasing.</p>

  </div>
  <div class="ui horizontal divider"></div>
  <h3 class="ui header">How to find <em>RavenRidge</em> products test results.</h3>
  <div class="ui middle aligned two column stackable padded grid">
    <div class="column">
      <img class="ui centered image" src="/content/label_example.jpg">
    </div>
    <div class="column">
      <div class="ui very padded container">
        <div class="ui relaxed center aligned list">
          <div class="item">
            <span class="ui medium text">Scan the QR code found on the label.</span>
          </div>
          <div class="ui horizontal divider">OR</div>
          <div class="item">
            <span class="ui medium text">Enter the URL found along the edge of the label into your favorite web browser.</span>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui very padded center aligned container">
        <span class="ui medium text">Or you can click the link found in the description of the product you are interested in.</span>
      </div>
    </div>
    <div class="column">
      <img class="ui medium centered image" src="/content/product_listing.jpg">
    </div>
  </div>
<!--  <h3 class="ui header">Additional product testing.</h3>
  <div class="ui text container">
    <p>We also have tested our plant material to ensure it is free from mycotoxins and heavy metals.
    These test results for plants grown in 2019 can be viewed on page two of this <a href='/content/2019_hemp_flower_safety_report.pdf'>testing report</a>.</p>
  </div> -->
</div>
