<h1>Third Party Test Results ( COA's )</h1>

<p>Click the <em>View COA Report</em> button below to view the test results you requested.</p>
<div class='some-padding text-centered'><input type='button' value='View COA Report' onclick='window.location="https://ky.yourcoa.com/coa/download/{{product_data.sample_id}}";'></div>
<p>Nothing happening? For laptop and desktop users, clicking this button will initiate your browser downloading the requested pdf. If you can't find the downloaded file, look below for further instructions.
<p>To view impurity test results, click these <a href='/test_results/2019_coa_heavy_metals.pdf'>heavy metals</a> and <a href='/test_results/2019_coa_mycotoxins.pdf'>mycotoxins</a> links.</p>
<div class='text-centered'><small>Come back once you are satisfied, and </small><a href='/purchase/'><strong>buy some products</strong></a><small>!</small></div>

<hr class='pad-above'>

<h2>Why should product tests be hosted on a testing company's website?</h2>

<p>Since early February of 2020, we have been using <a href='https://www.kaychalabs.com'>Kaycha Labs</a> for our COA testing, a USDA and DEA certified testing facility in Kentucky.
Kaycha offers to freely host COA test results on their web servers to ensure complete transparency. It is surprisingly easy to modify test result documents in ways that are visually imperceptible, even without lots of technical expertise.
As a result, we have opted to avoid the question altogether and never handle the coa test documents that you view by clicking the link above.</p><p>This is an industry best practice, and you should consider it carefully when selecting a cbd product to use, particularly when using that product internally.</p>

<h2>How do I find the downloaded test results?</h2>
<ol><li>In most browsers you can see downloaded files as they are downloading in the bottom left corner of the browser window.</li>
<li>If not, these files can often be found by clicking on the <em>Downloads</em> menu option in the top navigation bar ( often found within the <em>Window</em> option ).</li>
<li>If neither of the above works, then after clicking the link, you can find the downloaded file in whatever folder your downloadeds are saved ( this is typically <em>downloads</em> on Mac and either <em>downloads</em> or <em>desktop</em> on Windows ). The filename to look for is <strong>{{product_data.sample_id}}.pdf</strong>!</li>
