<div class="ui bottom attached centered inverted blue segment">
  <div class="ui horizontal list">
    <div class="fitted item">
      <img class="ui image" src="/content/practices/substrate.jpg">
    </div>
    <div class="fitted item">
      <img class="ui image" src="/content/practices/hay_mulch.jpg">
    </div>
    <div class="fitted item">
      <img class="ui image" src="/content/practices/planted.jpg">
    </div>
    <div class="fitted item">
      <img class="ui image" src="/content/practices/interplanting.jpg">
    </div>
    <div class="fitted item">
      <img class="ui image" src="/content/practices/cover.jpg">
    </div>
    <div class="fitted item">
      <img class="ui image" src="/content/practices/at_harvest.jpg">
    </div>
  </div>
</div>
