<div class='ui menu'>
  <a href="/purchase/" class="item">
    Purchase Hemp/CBD Products
  </a>
  <a href="/" class="header item">
    About RavenRidge
  </a>
  <a href="/education/faqs" class="item">
    Hemp and Product FAQS
  </a>
  <a class="item">
    Contact
  </a>
  <div class="right aligned item">
    <div class="ec-cart-widget"></div>
    <div>
    <script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?17874207&data_platform=code&data_date=2019-11-11" charset="utf-8"></script>
    <script type="text/javascript">Ecwid.init();</script>
    </div>
  </div>
</div>
