<header class="ui stackable grid">
  <div class="six wide column">
    <div class="ui two column grid">
      <div class="ui column">
        <h1 class="ui header">Welcome to:</h1>
        <img class="ui medium image" src="/content/logo/rrhh_logo_clean.jpg">
      </div>
      <div class="ui column">
        <p class="ui center aligned text"><i>A multi-generational<br>family farm<br>nestled in the foothills of</i><br><b>Pilot Mountain State Park</b>,<br><i>North Carolina, USA.</i></p>
      </div>
    </div>
  </div>
  <div class="five wide column">
    <section class="ui basic segment">
      <div class="ui three column grid">
        <img class="ui small image item" src="/content/photographs/300_750_hemp_flower_closeup.jpg">
        <div class="item">
          <h2 class="center aligned text header">We make and sell<br>full spectrum hemp products<br>from plants we grew.</h2>
          <div class="ui big green disabled button">
            <i class="shop icon"></i>Buy here January 2020
          </div>
        </div>
        <img class="ui small image item" src="/content/photographs/300_750_label_on_product.jpg">
      </div>
    </section>
  </div>
  <div class="five wide column">
    <section class="ui basic segment">
      <div class="ui two column grid">
        <div class="item">
          <h3 class="ui header">I'd like to<br>learn more about:</h3>
          <ul class="ui list">
            <li class="item"><h5 class="ui header">RavenRidge <em>Products</em></h5></li>
            <li class="item"><h5 class="ui header">RavenRidge's <em>Growing Practices</em></h5></li>
            <li class="item"><h5 class="ui header">the RavenRidge <em>Family</em></h5></li>
          </ul>
          <h5 class="ui header">RavenRidge Hemp and Herbals is a branch of</h5>
          <h4 class="ui header">RavenRidge Family Farm</h4>
        </div>
        <div class="item">
          <img class="ui medium image" src="/content/photographs/600_500_four_generations.jpg">
        </div>
      </div>
      <h5 class="ui header">and the happy home of Borrowed Land Mushroom Farm and Fungus Lab</h5>
    </section>
  </div>
</header>
