<div id='header' class='ui block header white center aligned'>
  {{#if username}}
  <img style="min-height:215px; min-width:475px;" class="image" src='/content/assets/logo/rrhh_logo_clean.png'></img>
<!--  Hey {{username}}, thanks for visiting. When you're done, <a class="ui basic inverted green button" onClick="javascript:window.location='/user/logout/';">logout</a>.-->
  {{else}}
  RavenRidge Hemp and Herbals
  {{/if}}
</div>
