<img class="ui centered image" src="/content/rrhh_logo_min.png">
<div class='ui stackable menu'>
  <a href="/purchase/" class="{{#if nav.purchase}}header {{/if}} item">
    Purchase Hemp/CBD Products
  </a>
  <a href="/" class="{{#if nav.about}}header {{/if}} item">
    About RavenRidge
  </a>
  <a href="/education/faqs" class="{{#if nav.education}}header {{/if}} item">
    Hemp and Product FAQS
  </a>
  <a href="/product_testing" class="{{#if nav.product_testing}}header {{/if}} item">
    Lab Testing
  </a>
  <div class="right menu">
    <a class="{{#if nav.contact}}header {{/if}} item">
      Contact
    </a>
    <div class="vertically fitted item">
      <div class="ec-cart-widget"></div>
      <div>
      <script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?17874207&data_platform=code&data_date=2019-11-11" charset="utf-8"></script>
      <script type="text/javascript">Ecwid.init();</script>
      </div>
    </div>
  </div>
</div>
