<div class='ui stackable menu'>
  <a href="/purchase/" class="{{#if nav.purchase}}active{{/if}} item">
    Purchase Hemp / CBD Products
  </a>
  <a href="/" class="{{#if nav.rootpath}}active{{/if}} item">
    Learn about RavenRidge Family Farm
  </a>
  <a href="/education/faqs" class="{{#if nav.education}}active{{/if}} item">
    Read our Hemp / Product FAQS
  </a>
  <a href="/product_testing" class="{{#if nav.product_testing}}active{{/if}} item">
    See Our Third-party Testing
  </a>
  <div class="right menu">
    <a class="{{#if nav.contact}}active{{/if}} item">
      Contact us
    </a>
    <div class="vertically fitted item">
      <div class="ec-cart-widget"></div>
      <div>
      <script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?17874207&data_platform=code&data_date=2019-11-11" charset="utf-8"></script>
      <script type="text/javascript">Ecwid.init();</script>
      </div>
    </div>
  </div>
</div>
