<div class="ui vertical masthead segment">
    <image class="ui left floated image" style="max-height:200" src="./content/assets/hay_sauratown.jpg" />
    <image class="ui left floated image" style="max-height:200" src="./content/assets/hay_tractor_pilot.jpg" />
    <image class="ui left floated image" style="max-height:200" src="./content/assets/hay_utv_terrace.jpg" />
    <image class="ui left floated image" style="max-height:200" src="./content/assets/hemp_hay_terraces.jpg" />
    <image class="ui left floated image" style="max-height:200" src="./content/assets/hemp_ropey_sauratown.jpg" />
    <div class="ui center aligned container">
      <h1 class="ui middle aligned text">Hay There</h1>
      <h4>Welcome to RavenRidge Family Farm.</h4>
    </div>
  </div>
  <div class="ui huge primary button">Purchase Products <i class="right arrow icon"></i></div>
</div>
<!-- wrap with margins and padding -->
<div style="padding:50;margins:20 0 0 20;">
<div class="ui very padded segment">
      <div class="ui four stackable link cards">
        <div class="card">
          <div class="image">
            <img src="/content/assets/nate.png">
          </div>
          <div class="content">
            <div class="header">Nathan</div>
          </div>
        </div>
        <div class="card">
          <div class="image">
            <img src="/content/assets/molly.png">
          </div>
          <div class="content">
            <div class="header">Michele</div>
          </div>
        </div>
        <div class="card">
          <div class="image">
            <img src="/content/assets/cyn.png">
          </div>
          <div class="content">
            <div class="header">Cynthia</div>
          </div>
        </div>
        <div class="card">
          <div class="image">
            <img src="/content/assets/matthew.png">
          </div>
          <div class="content">
            <div class="header">Richard</div>
          </div>
        </div>
      </div>
      <div class="ui stackable grid">
        <div class="row">
          <div class="two wide column" />
          <div class="ten wide column">
        <div class="ui huge divided list">
          <div class="item">
            <em>RICHARD:</em> manages most of the stuff.
          </div>
          <div class="item">
            <em>MICHELE:</em> helps with all the work on the farm.
          </div>
          <div class="item">
            <em>CYNTHIA:</em> manages the various animals.
          </div>
          <div class="item">
            <em>NATHAN:</em> is the farm manager.
          </div>
        </div>
      </div>
        <div class="two wide column" />
      </div>
      </div>
</div>
</div>
