<section>
  <h1 class='text-centered'>Welcome to <em>RavenRidge Family Farm</em></h1>
  <img class='panoramic' src='/content/lay_of_land.jpg' />
  <h2 class='text-centered'>We grow hemp (and other herbs) <br>following Regenerative Agricultural Practices.</h2>
  <img class='panoramic' src='/content/terraces_under_improvement.jpg' />
  <h3>What is Regenerative Agriculture?</h3>
  <p>Among other things, this means we do not use herbicides, pesticides, or petroleum-derived
    fertilizers or mulches. We encourage diversity in animal, plant and microbial life,
    and we encourage living soil with green mulches, manures and compost teas.</p>
<!--  <small>Click to learn more about <a href='/regenerative_agriculture/'>Regenerative Agriculture.</a></small> -->
  <hr>
  <section class="action-box">
    <div class='action'>Click to <a href='/purchase/'>Buy Products</a>.</div>
    <div class='divider-box'>or</div>
    <div class='invitation'>scroll down to meet the family</div>
  </section>
</section>
<article id="about_us">
  <hr>
  <h2>Richard and Michele</h2>
  <p><em>Richard and Michele</em> are the owners of RavenRidge Family Farm, LLC.
    They purchased a former tobacco farm in 2007, with the intent of regenerating
    the land, and creating a multi-generational, sustainable family farm.
    They are the proud parents/grandparents of 3 children and 8 grandchildren.</p>
  <img class='paired-equal' src='/content/dad_and_willy_detrichomating.jpg' alt='Richard did over ninety percent of the trichome extraction in 2019, some with they help of Nathan and Cynthias son, Willie.' /><img class='paired-equal' src='/content/hemp_farmer_mom.jpg' alt='Michele spends much of the growing season face to face with hemp plants, caterpillars, and whetever else happens to be hanging around.' />
  <p><em>Richard</em> is a Family Physician who practiced at Kaiser and Duke in
    the Triangle area of North Carolina for 20 years prior to retiring
    from clinical practice in 2013. He also served as CMO of several companies,
    and currently works full time as a medical director at Cotiviti,
    a healthcare analytics and services company.</p>
  <p><em>Michele</em> worked for 25 years as an educator. Since retiring, she has pursued
    her love of art using repurposed materials.  Being a city girl, she never imagined
    herself farming in rural North Carolina, but nurturing the soil, plants and animals
    enriches life on a daily basis.  She is passionate about sharing her love for
    creativity and the farm with family and friends.</p>
  <h2>Grandma Hunt</h2>
  <img class='paired-half' src='/content/grandma_rocking_willy.jpg' alt='Grandma appreciates the time she has had with her youngest grandson. You can see her here rocking him the farmhouse porch.' /><img class='paired-half' src='/content/grandma_with_a_goat.jpg' alt='Grandma swore she wouldnt return to the farm, but even she will admit that baby goats are hard not to snuggle.' />
  <p><em>Neva</em> is the nonagenarian matriarch of the farm. She grew up on a small family farm
    in North Loup, Nebraska (the “popcorn capital of the world”).  She swore she would
    never live on a farm again. Seventy years later, she’s back on the farm, enjoying
    herself this time around.  She stays active with her sewing, ladies group,
    babysitting (animals and great-grandchildren) and helping with the hemp harvest.</p>
  <h2>Cynthia and Nathan</h2>
  <p><em>Cynthia and Nathan</em>, Richard and Michele’s eldest son, work the land, manage the animals,
    and keep the social and customer facing elements of the business running smoothly.
    They are both passionate about making the world a better place. Their greatest wish for
    <em>RavenRidge Family Farm</em> is that over time, more of the family can come to help work it,
    and that from it, more families learn what it means to take some degree of control over
    what we consume, where it comes from, and how the rest of the world will feel the impact
    of its production on the land.</p>
  <img class='landscape' src='/content/willy_and_cynthia_planting_hemp.jpg' alt='With a 8 month old ( at the time ), it was hard for Cynthia to spend much time in the fields, but when they could, they did, like here planting hemp clones.' />
  <p><em>Cynthia</em> grew up on her family horse farm and has always been passionate about animals
    and animal behavior. She worked many years as a large and small animal veterinary assistant,
    several years in the human medical field as an Emergency Medical Technician, then transitioned
    into Massage Therapy and Bodywork. Over the last few years she has focused on raising 2 kids
    on the farm, Georgia and William, as well as on making herbal bodycare products, all while helping to
    clarify the vision of what these two farms can be.</p>
  <img class='paired-half' src='/content/georgia_holds_a_chick.jpg' alt='Cynthia had her daughter Georgia in the barn from pretty much day one. Here she holds a young hen, her favorite from this clutch.' /><img class='paired-half' src='/content/nathan_with_a_hen_on_his_shoulder.jpg' alt='Nathan didnt grow up around animal barns, but he now sees eye to eye with the chickens at least, as shown here by the hen perched on his shoulder.' />
  <p><em>Nathan</em> graduated from UNC Chapel Hill with a BS degree in Biology, where he focused on avian and
    plant studies. He spent his first 10 working years as a full-stack web developer and then left
    the tech world to study herbal medicine and permaculture in Asheville, NC. The better part of the last
    ten years he spent learning the land so that he can grow meaningful crops while focusing on regenerating
    soil and building habitat for local species. He strives to bring community together with a sustainable
    holistic mindset for the future of his community, children and family.</p>
</article>
