
<article>
  <p>RavenRidge Hemp and Herbals is part of a multi-generational family farm located in the morning shadow of Pilot Mountain State Park, NC.</p>
</article>
<article>
  <section>
    <div>
      <img src='/content/drawings/800_280_pasture_grass.jpg' />
      <p>We grow hemp (and other herbs) following <em>regenerative agricultural practices</em>.</p>
      <p>No petrochemical fertilizers, pesticides or herbicides.</p>
      <img alt='' src='/content/drawings/600_164_small_roots.jpg' />
    </div>
  </section>
  <section>
    <p>To purchase product, you can click <a href='/purchase/'>here</a> or on the "View all Products" link in the bottom navigation.</p>
  </section>
</article>
