<div class="viewport">
  <article id="company_desc">
    <img src="/content/photos/600_500_four_generations.jpg" alt="Four generations of the Hunt-Wheeler family were present at the 2019 hemp harvest." />
    <p><em>RavenRidge Hemp and Herbals</em> is part of a multi-generational family farm ...</p>
    <img src="/content/photos/1_to_1_hemp_and_pilot_knob.jpg" alt="You can see the rocky knob of Pilot Mountain in the distance beyond rows of large hemp plants in flower." />
    <p>... located in the morning shadow of Pilot Mountain State Park, NC.</p>
  </article>
</div>
<article id="about_us">
  <section>
    <div>
      <img src='/content/drawings/1100_385_pasture_grass.jpg' />
      <div class="dark-background some-padding">
        <p>We grow hemp (and other herbs) following <em>regenerative agricultural practices</em>.</p>
        <p>No petrochemical fertilizers, pesticides or herbicides.</p>
      </div>
      <img alt='' src='/content/drawings/600_164_small_roots.jpg' />
    </div>
  </section>
  <section>

  </section>
  <section>
    <p>To purchase product, you can click <a href='/purchase/'>here</a> or on the "Buy Products" link in the navigation.</p>
  </section>
</article>
