<h1>Welcome, fellow ACRES subscriber.</h1>
<p>To actually farm regeneratively requires a commitment of time, so we want to make sharing these practices as easy as possible. Like many of you, we have farms to run!</p>
<p>To learn a bit more about our products and farming practices, you can click on <a href='/faqs'><em>Product FAQs</em></a> here or in the navigation bar.</p>
<p>To buy sublingual or salve products, try <a href='/purchase'><em>Buy Products</em></a>.</p>
<h2>Stay Up to Date</h2>
<p>Sign up for our newsletter below to recieve occasional product updates and educational content from on the farm.</p>
{{>newsletter_signup}}
