<h1>Welcome, fellow ACRES subscriber.</h1>
<p>If you are looking for regeneratively grown, small-batch manufactured CBD products, <strong>we've got you covered</strong>.</p>
<img class='landscape' src='/mixed_cover_raised_bed.jpg'></img>
<p>To learn a bit more about our products and farming practices, visit <a href='/faqs'><em>Product FAQs</em></a>, or if you're ready, you can <a href='/purchase'><em>Buy Products</em> here</a>.</p>
<h2>Stay Up to Date</h2>
<p>Sign up for our newsletter below to recieve occasional product updates and educational content from on the farm.</p>
{{>newsletter_signup}}
