<article class='story personal-story'>
  <p><em>Sharing what we learn being central to our mission</em>, there are a couple of ways we share information with those who are interested.</p>
  <section name='newsletter'>
    <img class='center tiny' src='/the_snail.jpg' alt='This hand drawn snail leads the way to the monthly newsletter.' />
    <h2>The RavenRidge Monthly Newlsetter</h2>
    <p>We email <a href='/signup'>anyone who wants it</a> a newsletter once monthly meant to help us connect with the living world outside our doors.</p>
    <div class='flex_box'>
      {{#each content.newsletter_list}}
      {{#if image }}<img class='small lightly-padded' src='{{image}}' alt='The first image from the newsletter on {{published_on}}.' />{{/if}}
      {{/each}}
    </div>
    <strong>Sign up now!</strong>
    {{>newsletter_signup simple=true}}
    <div class='center-text'><a class='call_to_action_link' href='/newsletter'>Read Past Editions</a></div>
  </section>
  <section id='archive' name='blog'>
    <img class='well-padded center medium' src='/ginger.jpg' alt='This hand drawn ginger plants represent the unique perspectives we each bring to the RavenRidge blog.' />
    <h2>The RavenRidge Blog</h2>
    <p>Some of us are more prolific than others, but we all contribute when we can.</p>
    <section id='blog_archive'>
      <ul class='padded_list no-decoration'>
      {{#each content.posts}}
        <li><a href='/blog/{{slug}}'>{{title}}</a></li>
      {{/each}}
      </ul>
    </section>
    <strong>Click a name to learn more about each author below.</strong>
    {{>mtw_navigation simple=true}}
  </section>
</article>

<!--
  <h2>Informational pieces</h2>


  <h2>Just darn good Narratives</h2>



  <h2>A mix of everything</h2>
</section>
-->
