<article class='story personal-story'>
    <h2>Stay Engaged with Us</h2>
    <p><em>Sharing what we learn is central to our mission</em>, and there are a couple of ways you can stay abreast of whats happening.</p>
  <section class='dark-section' name='newsletter'>
    <img class='center tiny' src='/the_snail.jpg' alt='This hand drawn snail leads the way to the monthly newsletter.' />
    <h3>The RavenRidge Newsletter</h3>
    <p>Get monthly peeks into the seasonal cycle of the farm, notes from the Farm Doc, and ideas for connecting with the living world outside your doors, delivered free to your inbox.</p>
    <div class='flex_box'>
      {{#each content.newsletter_list}}
      {{#if image }}<img class='small lightly-padded' src='{{image}}' alt='The first image from the newsletter on {{published_on}}.' />{{/if}}
      {{/each}}
    </div>
    <div class='well-padded center-text'><strong>Sign up now!</strong></div>
    {{>newsletter_signup simple=true}}
    <div class='center-text'><a href='/newsletter'>Read Past Editions</a></div>
  </section>
  <section id='archive' name='blog'>
    <img class='well-padded center medium' src='/ginger.jpg' alt='This hand drawn ginger plants represent the unique perspectives we each bring to the RavenRidge blog.' />
    <h3>The RavenRidge Blog</h3>
    <p>Some of us are more prolific than others, but we all contribute when we can.</p>
    <section id='blog_archive'>
      <ul class='padded_list no-decoration'>
      {{#each content.posts}}
        <li><a href='/blog/{{slug}}'>{{title}}</a></li>
      {{/each}}
      </ul>
    </section>
  </section>
</article>

<!--
  <h2>Informational pieces</h2>


  <h2>Just darn good Narratives</h2>



  <h2>A mix of everything</h2>
</section>
-->
