
<article class='blog_post'>
  <h1>{{content.post.title}}</h1>
  <p>Posted: {{content.post.publishedAt}}</p>

  {{{content.post.content}}}
</article>
<section>
  <h2>More posts you might like ...</h2>
  <hr />
  {{>post_list content}}
</section>
