<section id='story'>

<article class='story personal-story'>
  <h1>Despite a good season, it's time to say goodbye.</h1>
  <p>As of Feb 1, 2022, we are no longer selling CBD products. We are no longer making them, either. But stay tuned - maybe sign up for the newsletter. Something interesting is bound to happen, eventually.</p>
</article>
<h2>Our 2021 hemp season was full of ups and downs.</h2>
<a href='https://sunandearth.org'><img src='/2021_hemp_header.jpg' class="huge" alt='This series of images shows the RavenRidge crew managing the hemp crop across the 2021 grow season.'/></a>
<p class="center-text">That's just farm life in the North Carolina foothills.</p>
</section>
