<div class="ui text container">
  <h2 class="ui header">FAQs</h2>
  {{#each faqs}}
  <div class="ui horizontal divider">
    {{{category}}}
  </div>
  <div class="ui items">
    {{#each items}}
    <div class="item">
      <div class="content">
        <a class="header">{{question}}</a>
        <div class="description">
          <p>{{{answer}}}</p>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  {{/each}}
</div>
