<section>
    <h1>FAQS</h1>
    {{#each faqs}}
      <h2>{{{category}}}</h2>
      {{#if image}}
      <img src="/content/{{image}}" />
      {{/if}}
      {{#each items}}
      <article>
        <h3>{{question}}</h3>
        <p>{{{answer}}}</p>
      </article>
      {{/each}}
    {{/each}}
</section>
