<img src='/logo-farm-doc.png' class='medium center' />
<section class='story personal-story'>
  <p><em>The Farm Doc's CBD Guides</em> provide evidence based information for Physicians, Health Care Providers, their patients, and folks using or considering CBD.</p>
  <h1>List of Guides</h1>
  <table class='question-table'>
    <tr>
      <th>Physicians and Health Care Practitioners<span class='extra-content'> (written for clinicians)</span></th><th>Patient Pamphlets</th><th>Folks Taking or Considering CBD<span class='extra-content'> (written for non-clinicians)</span></th>
    </tr>
    <tr>
      <td><a href='/farmdoc/clinician_faq'>FAQs about CBD</a></td><td rowspan="3">Currently Under Development</td><td><a href='/farmdoc/nonclinician_faq'>FAQs about CBD</a></td>
    </tr>
    <tr>
      <td><a href='/farmdoc/clinician_toconsider'>Things to Consider - Product Comparison</a></td><td><a href='/farmdoc/nonclinician_toconsider'>Things to Consider - Product Comparison</a></td>
    </tr>
    <tr>
      <td>How to Take CBD and Adjust the Dose</td><td>How to Take CBD and Adjust the Dose</td>
    </tr>
  </table>
  <p>These guides are written by a Family Physician with 28 years of clinical practice, turned Regenerative Farmer.</p>
  <img src='/dad_on_utv_sm.jpg' class='center small' />
  <p>Read the Farm Doc's<a href='/learn/thefarmdoc'> Bio and Story here</a>.</p>
</section>
<section class='story personal-story'>
  <h2>Why we made these guides.</h2>
  <p>In 2019 <a href='https://news.gallup.com/poll/263147/americans-say-cbd-products.aspx'>a Gallup poll found that 14% of Americans use CBD products</a>, and given <a href='https://www.statista.com/statistics/760498/total-us-cbd-sales/'>the increase in CBD sales</a> since then, its likely that number has gone up.  This has created a “wild west” market for unregulated products, with a lot of hype, making it difficult for folks considering trying CBD to find reliable information that can help them make decisions about whether they should try it, how to find a high quality product, how to use it.</p>
  <p class='center-quote'>Richard, the Farm Doc, knows from first hand experience how challenging it can be for clinicians and patients to have a fact based conversation about the latest cure-all in this kind of environment: to get past the hyperbole, and have a discussion about what we do and don’t know.</p>
  <p>He wrote these guides to assist Physicians and other clinicians, patients, and folks considering taking CBD in getting past the hype, having these conversations, and making well informed decisions.</p>
</section>
