<img src='/logo-farm-doc.png' class='medium center' />
<section class='story personal-story'>
  <p><em>The Farm Doc's CBD Guides</em> provide evidence based information for Physicians, Health Care Providers, their patients, and folks using or considering CBD.</p>
  <h1>List of Guides</h1>
  <table class='question-table'>
    <tr>
      <th>Physicians and Health Care Practitioners<span class='extra-content'> (written for clinicians)</span></th><th>Patient Pamphlets</th><th>Folks Taking or Considering CBD<span class='extra-content'> (written for non-clinicians)</span></th>
    </tr>
    <tr>
      <td><a href='/farmdoc/clinician_faq'>FAQs about CBD</a></td><td rowspan="3">Currently Under Development</td><td><a href='/farmdoc/nonclinician_faq'>FAQs about CBD</a></td>
    </tr>
    <tr>
      <td>Things to Consider - Product Comparison</td><td>Things to Consider - Product Comparison</td>
    </tr>
    <tr>
      <td>How to Take CBD and Adjust the Dose</td><td>How to Take CBD and Adjust the Dose</td>
    </tr>
  </table>
  <p>These guides are written by a Family Physician with 28 years of clinical practice, turned Regenerative Farmer.</p>
  <img src='/dad_on_utv_sm.jpg' class='center small' />
  <p>Read the Farm Doc's<a href='/learn/thefarmdoc'> Bio and Story here</a>.</p>
</section>
<section class='story personal-story'>
  <h2>Why we made these guides.</h2>
  <p>We know it’s hard to find credible, scientifically sound information on CBD: while the products themselves are now legally available throughout the USA, they are not yet well-regulated, and frankly, we are still in a “wild west” phase where the scientific literature has not caught up to usage levels. In 2019, <a href='https://news.gallup.com/poll/263147/americans-say-cbd-products.aspx'>a Gallup poll found that 14% of Americans use CBD products</a>, and given the <a href='https://www.statista.com/statistics/760498/total-us-cbd-sales/'>increase in CBD sales</a> since then, it’s likely that number has gone up.</p>
  <img src='/farmlife_dad_plants_hemp.jpg' class='center medium' />
  <p>While RavenRidge Family Farm is a small operation, Richard, the Farm Doc, is committed to sharing the knowledge and research he’s been assembling with the medical community, as well as with everyday people who want to better understand how CBD interacts with the human body and its systems -- and how to make better-informed choices.</p>
</section>
