<section id='farmlife'>
  <img src='/farmlife_dad_plants_hemp.jpg' alt='Richard plants hemp into a healthy living cover crop at RavenRidge.'/>
  <div class='farmlife_overlay'>
    <h1>Full Spectrum CBD</h1>
    <p>Handmade products from regeneratively produced plants.</p>
    <em><ul><li>Estate Grown</li><li>Small Batch</li><li>Eco-conscious</li></ul></em>
  </div>
</section>

<article>
  <div class='callout-link-box'>
    <div class='title'>Visit the Online Store</div>
    <div class='links' id='homepage_shop'>
      <a href='https://shop.ravenridgefamilyfarm.com' class='call_to_action_link'><strong>shop</strong>.ravenridgefamilyfarm.com</a>
    </div>
  </div>
</article>
<article id='homepage_products'>
  <section>
    <h2>Our Regenerative CBD Products</h2>
    <p class='center medium'>We sell Sublingual Oil and Topical Salve made from hemp we grew. To learn more click on the category below.</p>
    <div class='flex_box'>
      <a class='border-highlight' href='/products/sublingual'>
        <h3>Sublingual Oil</h3>
        <img src='/product_images/sublingual_on_desk.jpg' alt='This image show three sublingual bottles sitting next to a snail shell.' />
      </a>
      <a class='border-highlight' href='/products/salve'>
        <h3>Topical Salves</h3>
        <img src='/product_images/salve_on_hemp.jpg' alt='This image shows a 2oz salve containing sitting on dried hemp leaves.' />
      </a>
    </div>
    <p class='center medium'>Or visit <a href='/products'>our products homepage</a> to learn more about the products we offer.</p>
  </section>
<!--  <section class='dark_section'>
    <h3>Are you new to CBD?</h3>
    <p>Heres a bunch of reasons why you might want to consider our Starter Pack:</p>
    <a href='/products/starter_pack' class='call_to_action_link'>Explore our Starter Pack</a>
  </section> -->
</article>

<article id='meet_the_wheelers'>
  <h2>Welcome to RavenRidge Family Farm</h2>
  <img src='/square_dad_willy.jpg' /><img src='/square_mom_hemp_row.jpg' />
  <p>Thanks for coming to visit. RavenRidge Family Farm is two things: a loose association between two farms,
    and a specific effort by four people to change the way we look at the possibilities for the future.
    Click below to learn more.</p>

  <a href='/learn/meet_the_wheelers' class='call_to_action_link'>Meet the Wheelers</a>
</article>

{{#if content.posts}}
<section class='blog_posts'>
  <h2>Visit our Blog</h2>
  <hr />
  {{>post_list content}}
</section>
{{/if}}
