<section id='story'>
  <h1>Our 2021 hemp season was full of ups and downs.</h1>
  <a href='https://sunandearth.org'><img src='/2021_hemp_header.jpg' class="huge" alt='This series of images shows the RavenRidge crew managing the hemp crop across the 2021 grow season.'/></a>
  <p class="center-text">That's just farm life in the North Carolina foothills.</p>
</section>
<article class='story personal-story'>
  <h2>Our Path to Regenerative Agriculture</h2>
  <p>From the early years when our first 100 grape vines went into the ground, we knew that spraying chemicals to manage pests and weeds was not something we wanted to do.</p>
  <p class='center-quote'>As we began experimenting with raising animals and growing more diverse crops, we began observing that life thrives most in areas where healthy soil is impacted the least.</p>
  <img class='center big' src='/nsl_beds_prepped.jpg' />
  <p>Yet like so many others, we were challenged by having adopted worn-out land with unhealthy soils, which if left to natural means would require multiple generations to recover.</p>
  <section  class='alt-section'>
    <h3>Low-impact Ecological Agriculture</h3>
    <p>Over the past decade we've been learning through observation and hard work to manage this degraded land back to productivity using the lightest practical touch.</p>
    <img class='center big' src='/nsl_hayed.jpg' />
    <p>It turns out many others have been learning to do the same, <em>setting the stage for a regenerative revolution</em>.</p>
  </section>
  <h3>So what exactly is Regenerative?</h3>
  <p>Regenerative refers to growing systems which utilize and enhance the evolved ability of plants and animals, in relationship with microbiology, to cycle nutrients within healthy ecosystems.</p>
  <p class='center-quote'>At RavenRidge, in our food and hemp production, we follow the set of practices put forth as <strong>Regenerative Agriculture</strong>.</p>
  <img class='center big' src='/nsl_covercropped.jpg' />
  <p>To learn more about this land-management approach, visit <a href='/learn/why_regenerative'>Why Regenerative Matters</a>.
</article>

<!--
<p>On our 2 acre grow space, we constructed terraces on-contour in the steep parts of this fescue dominant pasture. Although we used tillage in initial construction, the spaces have been managed primarily no-till since.</p>
<p>Each season we have had new challenges to overcome including plant competition, armyworm invasions and mineral deficient, night-walking, hemp felling field mice but we have held firm to our principles and taken an ecosystem view in developing solutions.</p>

<p>In a regenerative operation like ours, we:
  <ul>
    <li>Keep our soil covered with living or once living mulch.</li>
    <li>Encourage diversity above and below ground.</li>
    <li>Let soil grow plants year 'round.</li>
    <li>Do not till.</li>
    <li>Integrate animals and manage their impact.</li>
  </ul>
</p>
-->


<!--
<article class='well-padded'>
  <div class='callout-link-box'>
    <div class='title'>Visit the Online Store</div>
    <div class='links' id='homepage_shop'>
      <a href='https://shop.ravenridgefamilyfarm.com' class='call_to_action_link'><strong>shop</strong>.ravenridgefamilyfarm.com</a>
    </div>
  </div>
</article>
-->

{{#if content.posts}}
<section class='blog_posts'>
  <h2>Visit our Blog</h2>
  <hr />
  {{>post_list content}}
</section>
{{/if}}
