
<section id='farmlife'>
  <img src='/farmlife_dad_plants_hemp.jpg' alt='Richard plants hemp into a healthy living cover crop at RavenRidge.'/>
  <div class='farmlife_overlay'>
    <h1>Full Spectrum CBD</h1>
    <p>Handmade products from regeneratively produced plants.</p>
    <em><ul><li>Estate Grown</li><li>Small Batch</li><li>Eco-conscious</li></ul></em>
  </div>
</section>

<article id='homepage_products'>
  <section>
    <h2>Products</h2>
    <div class='flex_box'>
      <a class='border-highlight' href='/shop/sublingual'>
        <h3>Sublinguals</h3>
        <img src='sublingual_homepage.jpg' />
      </a>
      <a class='border-highlight' href='/shop/salve'>
        <h3>Salves</h3>
        <img src='salve_homepage.jpg' />
      </a>
    </div>
  </section>
<!--  <section class='dark_section'>
    <h3>Are you new to CBD?</h3>
    <p>Heres a bunch of reasons why you might want to consider our Starter Pack:</p>
    <a href='/shop/starter_pack' class='call_to_action_link'>Explore our Starter Pack</a>
  </section> -->
</article>

<article id='meet_the_wheelers'>
  <h2>Welcome to RavenRidge Family Farm</h2>
  <img src='/square_dad_willy.jpg' /><img src='/square_mom_hemp_row.jpg' />
  <p>Thanks for coming to visit. RavenRidge Family Farm is two things: a loose association between two farms,
    and a specific effort by four people to change the way we look at the possibilities for the future.
    Click below to learn more.</p>

  <a href='/learn/meet_the_wheelers' class='call_to_action_link'>Meet the Wheelers</a>
</article>

{{#if content.posts}}
<section class='blog_posts'>
  <h2>Visit our Blog</h2>
  <hr />
  {{>post_list content}}
</section>
{{/if}}
