
<section id='farmlife'>
  <img src='/farmlife_dad_plants_hemp.jpg' alt='Richard plants hemp into a healthy living cover crop at RavenRidge.'/>
  <div class='farmlife_overlay'>
    <h1>Full Spectrum CBD</h1>
    <p>Carefully grown in the mountains of North Carolina,<br>processed fresh in small batches.</p>
  </div>
</section>

<article>
  <section>
    <h2>Products</h2>
    <div class='flex_box'>
      <a href='/shop/sublingual'>
        <img src='use_sublingual.png' />
        Sublinguals
      </a>
      <a href='/shop/salve'>
        <img src='use_salve.png' />
        Salves
      </a>
    </div>
  </section>
  <section class='dark_section'>
    <h3>Are you new to CBD?</h3>
    <p>Heres a bunch of reasons why you might want to consider our Starter Pack:</p>
    <a href='/shop/starter_pack' class='call_to_action_link'>Explore our Starter Pack</a>
  </section>
</article>

<article id='meet_the_wheelers'>
  <h2>Welcome to RavenRidge Family Farm</h2>
  <img src='/square_dad_willy.jpg' /><img src='/square_mom_hemp_row.jpg' />
  <p>Thanks for coming to visit. RavenRidge Family Farm is two things: a loose association between two farms,
    and a specific effort by four people to change the way we look at the possibilities for the future.
    Click below to learn more.</p>

  <a href='/learn/meet_the_wheelers' class='call_to_action_link'>Meet the Wheelers</a>
</article>

<section class='blog_posts'>
  <h2>Blog Posts / Articles</h2>
  <div class='flex_box'>
    <a href='/blog/1'>
      <img src='willy_in_the_grass.jpg' />
      Willy Looks Down
    </a>
    <a href='/blog/2'><img src='rake_on_row.jpg' />Rake on a Row</a>
  </div>
</section>
