<h1>Michele Wheeler Creations</h1>
<p>Michele has been creating artwork for years featuring mixed media pieces that utilize locally sourced and reclaimed materials. In the future we hope to display more of Michele's artwork here.</p>
<h2>Artwork Auction to support Project Mask WS</h2>
<p>Pictured below is a functional Poplar Bark Fairy House. It is sturdy enough for a responsible young person to play with, yet classy enough to be appreciated by the kid in all of us. This item is up for auction to support a local Winston Salem organization, sewing masks for healthcare providers. To learn more about this great project, visit <a href='https://www.projectmaskws.org'>Project Mask WS</a>.</p>

<img class='landscape' src='/mwc_auction_fairyhouse.jpg' alt='This poplar tree bark fairy house was hand made from materials found on the farm.' />


<p>These natural poplar bark Fairy Houses have been growing in popularity each year at the <a href='https://whimsicalwomen.org/'>Whimsical Women Artist Fair</a> in Winston Salem, NC.

Each piece is hand made with an eye for detail and the inspiration drawn from the ecology around RavenRidge Family Farm where she lives and creates is clearly reflected in every piece.</p>
