<section class='story'>
  <h1>Thanks for your interest!</h1>
  <p>Sign up below for updates from the farm, informative articles, and occasional subscriber-only promotions.</p>
  {{>newsletter_signup}}
  <p><em>* We won't ever share your information without your consent. You can read our <a href='/privacy_policy'>privacy policy</a> to learn more.</em></p>
</section>
