<h1>Coronavirus Covid-19</h1>

<p>Covid-19 is generally thought of as a respiratory tract disease, presenting with runny nose, sore throat, cough, and low grade fever.  However, the virus can present in several other ways, making it easy to mis-diagnose early in the infection:</p>
<ul><li>25-50% of people who are infected and spreading the virus are asymptomatic, which is one of the characteristics making it so difficult to contain.</li>
<li>30-40% of people have nausea, vomiting, and diarrhea as their initial symptoms.</li></ul>
<p>In addition, as the National Institute of Health recently reported, Coronavirus can remain infectious on some surfaces for up to 3 days and can live on cardboard for 24 hours or more.</p>

<h2>Our Response</h2>

<p>With the Coronavirus Covid-19 Pandemic, it is more important than ever to know who you are buying products from, to minimize any risk of exposure. <strong>RavenRidge Family Farm</strong> operates our manufacturing, packaging, and shipping under the assumption that any employee could be infected, and any surface could contain active coronavirus.  Accordingly, all employees follow a strict protocol to prevent Coronavirus spread.</p>
<img class='landscape' src='/coronavirus_protocol.jpg' alt='Our coronavirus protocol is posted at the entrance to our manufacturing facility to minimize risk of transimission.' />

<h2>Our Coronavirus Pandemic Pricing</h2>

<p>We have lowered our prices to help the large number of folks who would like to benefit from high quality CBD products and are under additional financial strain during this stressful time. These prices will be in effect indefinitely.</p>

<p>Be safe, and we hope <a href="/products">our products</a> benefit you in some meaningful way!</p>
