<h1>Educational Presentations</h1>
<p class='big center'><em>Please enjoy the information</em> in the following presentations about select topics related to Regenerative Land Management.</p>
<section class='story personal-story'>
  <img src='/presentations_header.jpg' class='huge center' />
  <ul class='padded-list'>
    <li><a href='https://docs.google.com/presentation/d/1taNSZtrrpBtlc0HsEkfncZwGwEqLlpvT2Zd4Hkeazzs/present?usp=sharing' target='presentation'>Getting to the Root of Mulching</a> - CFSA conference 2020</li>
    <li><a href='https://docs.google.com/presentation/d/1LIu7JTLa99NGIgd-4hY8bmN47QXdxBywy8sEXr9vtNg/present?usp=sharing' target='presentation'>Mulching at Small Farm Scale</a> - CFSA conference 2021</li>
    <li><a href='https://docs.google.com/presentation/d/1j4dpzfTzRJZT3NgG7McQtEmajIjciIzmlh_Dx78MG2U/present?usp=sharing' target='presentation'>Understanding Irrigation</a> - CFSA half day workshop 2021</li>
  </ul>
</section>
<section class='story personal-story'>
  <h2>Why we are offering this information.</h2>
  <p>Core to our mission at RavenRidge family farm is encouraging the wider adoption of regenerative land management pratices. Addressing any lack of knowledge through effective education is a key component in our strategy.</p>
  <p>Expect more to come ...</p>
  <p>Feel free to reach out with questions, concerns or issues relating to this content - ravenridgefamilyfarm@gmail.com.</p>
</section>
