<h1>Privacy Policy</h1>
<p>Your privacy is important to us and any data we collect will be with your prior acknowledgement and approval.</p>
<h2>Your Email Address and Name</h2>
<p>During the course of purchasing products, you can <strong>opt-in</strong> to our email list. We occasionally send emails to the folks on this list as our products and the seasons change. If you opt-in, you can <strong>opt-out</strong> at any time. We also collect your mailing address at the time of purchase, but we will never share this information without your consent.</p>
<h2>Credit Card Information</h2>
<p>We utilize shopping cart functionality provided by <em>Shopify</em>, an accredited business. Shopify takes customer financial information seriously, and we let them handle your financial transactions. You can learn more about how they use your credit card information from their website, www.shopify.com​.</p>
<h2>Website Cookies</h2>
<p><em>RavenRidge Family Farm</em> does not currently not use any cookies to track customer information. For cookies used by our shopping cart, <em>Shopify</em>, visit their <a href="https://www.shopify.com/legal/cookies">website</a>.</p>
<h3>The Future</h3>
<p>When a privacy related change occurs, we will make those updates clear on our website, and through the aforementioned email list.</p>
