<h2>What is Regenerative Agriculture</h2><img class='tall' src='content/what_is_regenerative_agriculture.jpg' alt='Regenerative Agriculture is not exactly easy to define, and not all people agree, but at its core is an ethic to understand and work with the land and all of its living inhabitants.'  />
<p>A Method of growing plants and animals, wild and domesticated, in harmonious rhythm with the people, and the natural systmes that support them</p>

<p>We prioritize finding and using local raw materials to build soil, we maintain an organic mulch
<p>No petrochemical fertilizers, pesticides or herbicides.</p>
and Encouraging diversity in all forms of life on the farm.</p>
Among other things, this means we encourage habitat for predatory insects and microorganisms so we dont have to use herbicides or pesticides,
  and we find and use local organic materials to build living soil so we are less dependent upon fossil fuel derived / petroleum based fertilizers.
