
<h1>Shipping and Return Policies</h1>

<h2>Shipping</h2>
<p>Free priority level USPS shipping is included in the price of our products, and we promise to ship each product ordered within 24 hours, although items ordered on Saturday may not ship until the following Monday.</p>

<h2>Returns</h2>
<p>Let us know within 10 days of purchase if you are not satisfied with your product for any reason, and we can offer you a full refund, less any return shipping charges.</p>
<p>To arrange for a refund or to report an issue, please email <em>RavenRidgeFamilyFarm@gmail.com</em>, or leave a text or voice message at 336-705-3198.</p>
