<h1>Terms and Conditions</h1>

<h2>Age Restrictions:</h2>

<p>In some states, it may be illegal to purchase products that contain cbd or the trace amounts of thc that exist in most cbd containing products. Know your laws!</p>
<p>If you are under the age of 18, by purchasing our products you acknowledge any and all risks and release <em>RavenRidge Family Farm and its representatives</em> from any and all liability resulting from the purchase of these products.</p>

<h2>Risks:</h2>

<p>​​As with anything that is taken internally or used topically, there are potential risks. We source our oils and flavorings from reputable suppliers, and follow good manufacturing practices in our growing, extracting and formulating operations. We do not use chemicals or harsh biological compounds at any stage in production, and we leave our products in as natural a state as possible. Regardless, you should always pay attention to how you feel when you are using these and any other products internally or topically, and stop using them if you notice anything that doesn't feel right to you.</p>
<p>By purchasing products from our website, you acknowledge any and all risk and release <em>RavenRidge Family Farm and its representatives</em> from any and all liability resulting from the use of these products.</p>

<h2>And Finally:</h2>
<p>These statements have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure, or prevent any disease.</p>
