
<article>
  <section>
    <h1 class="ui header">Why is product testing important?</h1>
    <p>Being a relatively young industry, regulations and enforcement of regulations are a work in progress. In a rush to turn a profit, <em>some organizations are behaving unscrupulously</em> as regards consumer health and wellness.</p>
    <p><strong>This is not how we do business.</strong></p>
    <p>To ensure that any product you are purchasing contains the amount of CBD claimed, look for third-party testing on the product batch you are purchasing.</p>
  </section>
  <section>
    <p>You can access the testing for any given RavenRidge product using the QR code or url found on the label:</p>
    <img src="/content/label_example.jpg">
    <p>Or you can click the link found on our website in the description of the product you are interested in.</p>
    <img src="/content/product_listing.jpg">
  </section>
<!--  <h3 class="ui header">Additional product testing.</h3>
  <div class="ui text container">
    <p>We also have tested our plant material to ensure it is free from mycotoxins and heavy metals.
    These test results for plants grown in 2019 can be viewed on page two of this <a href='/content/2019_hemp_flower_safety_report.pdf'>testing report</a>.</p>
  </div> -->
</article>
