
<article>
  <section>
    <h1>Why is product testing important?</h1>
    <p>Being a relatively young industry, regulations and enforcement of regulations are a work in progress. In a rush to turn a profit, <em>some organizations are behaving unscrupulously</em> as regards consumer health and wellness.</p>
    <p><strong>This is not how we do business.</strong></p>
    <p>To ensure that any product you are purchasing contains the amount of CBD claimed, look for third-party testing on the product batch you are purchasing.</p>
  </section>
  <section>
    <h2>Cannabinoid testing</h2>
    <p>You can access the testing for any given <em>RavenRidge Hemp and Herbals</em> product using the QR code or url found on the label:</p>
    <img class='example' src="/content/label_example.jpg" alt="This image points out the locations on our product labels where testing details can be found.">
    <p>Or you can click the link found on our website in the description of the product you are interested in:</p>
    <img class='example' src="/content/listing_example.jpg" alt="This image show where you can click on the product details page to see product testing.">
  </section>
  <section>
    <h2>Heavy Metals and Mycotoxins</h2>
    <p>As with any plant growing in soil, whatever is in the soil can also be in the plant. Metals and mycotoxins can be naturally occurring but also are concentrated when conventional agricultural inputs are used for years on end. No matter the source, we don't want them in products we use internally or topically, and although we don't practice conventional agriculture, we still feel it is important to do the testing. Click the following links to see the test results from our 2020 product line for <a href='/content/test_results/2019_coa_heavy_metals.pdf'>heavy metals</a> and <a href='/content/test_results/2019_coa_mycotoxins.pdf'>mycotoxins</a>.</p>
    <img class='example' src="/content/report_example.jpg" alt="This image shows that the capital letters ND stand for not detected on our product mycotoxin and heavy metal reports.">
  </section>
</article>
