<h1>Hello Triad Natural reader - you came!</h1>
<p>Those qr-codes can be a pain, and typing in a url that long takes persistence.<br><em>Anyway, we're glad you visited.</em></p>
<p>If you have questions about our products or farming practices, click <a href='/faqs'><em>Product FAQs</em></a>, either here, or in the navigation bar.</p>
<p>Or, if you're ready to buy, try <a href='/purchase'><em>Buy Products</em></a>.</p>
<p>Thanks again for visiting, and we hope you find benefit from our sublingual and salve products.</p>
<h2>Want to keep up to date?</h2>
<p>Sign up for our newsletter using the form below.<br>
<small>We send information about our products, and occasional activity updates from on the farm.</small></p>
{{>newsletter_signup}}
