<h1>Dear Natural Triad reader:</h1>

<p>We hope you find some inspiration in these interesting times.</p>
<img class='paired-half' src='/nate_geared_up.jpg' alt='Nathan prepares to safely mail product packages at the post office with face mask and disposable gloves.' /><img class='paired-half' src='/willy_in_the_grass.jpg' alt='Little William ponders the complexities of healthy soil, looking at a covercrop of triticale and clover.' />
<p>To learn more about our products and farming practices visit <a href='/'>About Us</a> and <a href='/faqs'><em>Product FAQs</em></a>. Or, if you're ready to buy, try <a href='/purchase'><em>Buy Products</em></a>.</p>
<p>Thanks again for visiting, and we hope you find benefit from our sublingual and salve products.</p>
<h2>Want to keep up to date?</h2>
<p>Sign up for our newsletter using the form below.<br>
<small>We send information about our products, and occasional activity updates from on the farm.</small></p>
{{>newsletter_signup}}
