<h1>So you've seen our Brochure ...</h1>
<p>Thank you for your interest in our farm based products. To sign up for occasional farm and product updates, enter your information in the form below.</p>
{{>newsletter_signup}}
<h2>Ready to Buy</h2>
<p>If you are ready to buy, click <a href='/purchase/'>here</a>, </p>
<p>or you can learn more about our products and growing practices <a href='/faqs/'>here</a>.</p>
