* {
  font-family: , serif;
  font-size: 10vh;
  box-sizing: border-box;
}

h1 h2 h3 h4 h5 h6 {
  font-family: Georgia, serif;
}

h1 {
  font-size: 1.6em;
}

div {
  height: 100vh;
  width: 100vw;
  padding: 1vw;
  background-color: hotpink;
  border: solid 3px black;
  margin: 1vw;
  color: #fff;
}

.content-box {
  box-sizing: content-box
}

.border-box {
  box-sizing: border-box;
}
