.fd-faq{
  padding-top:3rem;
}

.fd-faqheader{
  padding: 1rem;
  background-color:var(--mountain);
  color:#FFFFFF;
}

.fd-answer{
  margin-top:1rem;
  margin-right:5%;
  margin-left:5%;
}

.fd-answer li{
  padding:.25em 0 1em 1em;
}

.fd-references{
  margin-top:1em;
  max-width:800px;
  border:2px solid black;
  padding-left:1em;
}

.fd-references li {
  list-style-position: inside;
  padding-right: .8em;
  font-size:.8em;
}

.fd-callout-text {
  color: #C80C0C;
  font-weight:bold;
}

.print-only{
  display:none;
}

@media print {
  body{
    font-size:12px;
    margin-left:3rem;
    margin-right:2rem;
  }

  h1{
    margin:auto;
  }

  .print-only{
    display:block;
  }

  .print-hidden{
    display:none;
  }
  .fd-faq{
    padding-top:5px;
  }
  .fd-faqheader{
    padding:0;
    border-bottom:1px solid black;
    color:#000000;
  }
  .fd-answer{
    margin:0;
  }

  .fd-answer li{
    padding-top:2px;
  }

  .medium{
    max-width:250px;
  }
}
