
:root {
    --rich-soil: #1D1A19;
    --earth: #4D2310;
    --mountain: #133648;
    --grass: #586D31;
    --lichen: #829950;
    --sunset: #D08B45;
    --dusk: #A6B9CE;
    --evergreen: #3E614D;
}

header {
  background-color: var(--lichen);
}

p h1-h6 span {
  color:#000000;
}

a {
  color:#1d3acc;
}

/* used for selected tabs and buttons */
  .selected {
    background-color: #FFFFFF;
    color:#d38322;
  }

  .dark-background{
    background-color: #322e26; /*dark brown*/
    color: #ffffff;
  }

@media only screen {
  nav a {
    color:inherit;
  }

  nav li {
    color:#FFFFFF;
    background-color:var(--lichen);
    text-decoration: none;
  }

  nav li:hover {
    background-color: var(--grass);
    text-decoration: underline;
    text-decoration-color: var(--sunset);
    text-decoration-thickness: 3px;
  }

  nav ol li {
    background-color: var(--grass);
  }

  nav ol li:hover {
    background-color: var(--lichen);
  }

  #nav_products {
    background-color: var(--evergreen);
  }

  #nav_products:hover {
    background-color: var(--grass);
  }

  #nav_home:hover{
    border-bottom-color: var(--sunset);
  }
}
