header {
  background-color: #FFFFFF;
}

p h1-h6 span {
  color:#000000;
}

a {
  color:#1d3acc;
}

nav a {
  color:inherit;
}

nav, nav li {
  color:#FFFFFF;
  background-color:#4c4946;
  text-decoration: none;
}

nav li:hover {
  color:#1d3acc;
  background-color: #FFFFFF;
  text-decoration: underline;
}

/* used for selected tabs and buttons */
  .selected {
    background-color: #FFFFFF;
    color:#d38322;
  }

  .dark-background{
    background-color: #322e26; /*dark brown*/
    color: #ffffff;
  }
