/** base "mobile" font sizes follow **/

html {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 16px;
}

div, p, span, body {
  font-family: Montserrat, Arial, sans-serif;
}

nav{
  font-family: Adriane, Georgia, serif;
}

ol, ul {
  font-size:1rem;
}

footer{
  font-family:Montserrat, Arial, sans-serif;
  font-size:.8rem;
  line-height: 1.25rem;
}

footer .contact-details{
  font-size:.6rem;
  line-height:.85rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Adriane, Georgia, serif;
  line-height: 1em;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.563em;
}

h3, h4 {
  font-size: 1.25em;
}

h5, h6 {
  font-size: 1em;
}

@media only screen and (max-width: 500px){
  h1{
    font-size:1.4em;
    line-height: 1.2em;
  }

  h2 {
    font-size: 1.3em;
  }
}
@media only screen and (min-width: 900px){
  html{
    font-size:16px;
  }

  h1{
    font-size: 2.369em;
  }

  h2{
    font-size: 1.777em;
  }

  h3, h4{
    font-size: 1.333em;
  }

  h5, h6{
    font-size:1em;
  }

  h1, h2, h3, h4, h5, h6{
    line-height: 1.5em;
  }
}

@media only screen and (min-width: 1200px){
  html{
    font-size:18px;
  }

  div, p, span, body {
    line-height:1.5rem;
  }
}
