/** base "mobile" font sizes follow **/
.emphasis{
  font-weight: bold;
}

html {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 16px;
}

div, p, span, body {
  font-family: Montserrat, Arial, sans-serif;
}

nav{
  font-family: Adriane, Georgia, serif;
}

ol, ul {
  font-size:1rem;
}

footer{
  font-family:Montserrat, Arial, sans-serif;
  font-size:.8rem;
  line-height: 1.25rem;
}

footer .contact-details{
  font-size:.6rem;
  line-height:.85rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Adriane, Georgia, serif;
  line-height:2.5rem;
}

/*** base ratios are for mobile devices, using major third ratio ( 4/5 or 1.25 ) ***/
/** to bump up in size, the next values are 2.441, 3.052 **/
/** to reduce size, the next values down are .8, .64 **/
h1 {
  font-size: 2.1em;
}

h2 {
  font-size: 1.563em;
}

h3, h4 {
  font-size: 1.25em;
}

h5, h6 {
  font-size: 1em;
}

/** core user-centric elements of interface follow **/
main {
  margin:5rem auto;
}

article {
  margin:0 auto;
}

/*** change ratios to perfect fourth on anything small tablet size or above ***/
/** to bump up in size, the next values are 3.157, 4.209 **/
/** to reduce size, the next values down are .75, .563 **/
@media only screen and (min-width: 900px){
  html{
    font-size:16px;
  }

  h1{
    font-size: 2.369em;
  }

  h2{
    font-size: 1.777em;
  }

  h3, h4{
    font-size: 1.333em;
  }

  h5, h6{
    font-size:1em;
  }

  main{
    margin:7rem auto;
  }
}

/*** change ratios to perfect fifth on large screens ***/
/** to bump up in size, the next values are 5.063, 7.594 **/
/** to reduce size, the next values down are .667, .444 **/
@media only screen and (min-width: 1200px){
  html{
    font-size:18px;
  }

  div, p, span, body {
    line-height:1.5rem;
  }
}
