
@media only screen {

  /**********  footer styles ******/

  footer{
    z-index: 2500;
    background-color: var(--evergreen);
    color:#FFFFFF;
    display: block;
    padding-bottom: 1rem;
    margin-bottom: 5rem;
    width:100vw;
  }

  footer ul {
    list-style: none;
    font-size: .7rem;
  }

  footer a {
    text-decoration: none;
    color:#FFFFFF;
  }

  footer .pad-vertical {
    line-height: 1.5rem;
  }

  footer .social_logo {
  /**      background-color: var(--mountain); */
    margin-top: 3px;
    padding: 4px;
    width: 1.3rem;
  }

  /** ravenridge contact information ul in footer **/
  footer .contact-details {
    padding-top:0;
    padding-left:5vw;
    display: inline-block;
  }

  footer .static-content {
    padding-right: 5vw;
    padding-top: 2rem;
    float:right;
  }

}


@media only screen and (max-width:400px) {
  footer .contact-details {
    display: block;
    padding-top: 1rem;
  }

  footer .static-content {
    float:none;
    padding-left:5vw;
  }
}

@media only screen and (min-width: 900px) {

  /******  footer style changes *******/
    footer{
      padding:0;
      margin:0;
      position:fixed;
      bottom:0;
      left:0;
    }

    footer .pad-vertical {
      line-height: 1.2rem;
    }

    footer p {
      padding-bottom: 0;
      margin-bottom: 0;
    }

    footer .static-content {
      padding-top: 1rem;
    }

}

@media only screen and (min-width: 1200px) {

  footer .static-content {
    padding-top: 1.5rem;
  }

}
