
@media only screen {

 /* use for visually hidden notes just for screen readers */
  .hidden-visual {
     border: 0;
     clip: rect(0 0 0 0);
     height: 1px;
     width: 1px;
     margin: -1px;
     padding: 0;
     overflow: hidden;
     position: absolute;
  }

  .padded-list{
    padding-left:5vw;
    padding-right:10vw;
    padding-bottom:2rem;
  }

  .padded-list li {
    padding-top:.5rem;
  }

  .really-extra-content {
    display:none;
  }

  .hidden {
    display: none;
  }

  .center{
    display:block;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
  }

  .well-padded{
    padding:2rem;
  }

  .border-highlight{
    border-style:solid;
    border-bottom-width: 5px;
    border-color: #FFFFFF;
  }
  .border-highlight:hover{
    border-color: var(--sunset);
  }

  .fl{
    position:relative;
    float: left;
  }

  .maxh_600 {
    max-height: 800;
  }

  .maxw_600 {
    max-width: 800;
  }

  .center-basic-quote{
    border-top:1px solid black;
    border-bottom:1px solid black;
    padding-top:2rem;
    padding-bottom:2rem;
    margin-bottom:2rem;
    margin-left:auto;
    margin-right:auto;
    width:80%;
    font-size:1.2rem;
    line-height:1.5rem;
    font-style: italic;
  }

}

@media only screen and (max-width:500px) {

  .extra-content {
    display: none;
  }

}

@media only screen and (min-width:900px) {

  .padded-list{
    padding-left:1rem;
    padding-right:1rem;
    padding-bottom:2rem;
  }

  .really-extra-content {
    display:inline;
  }

}
