
@media only screen {

 /* use for visually hidden notes just for screen readers */
  .hidden-visual {
     border: 0;
     clip: rect(0 0 0 0);
     height: 1px;
     width: 1px;
     margin: -1px;
     padding: 0;
     overflow: hidden;
     position: absolute;
  }

  .really-extra-content {
    display:none;
  }

  .hidden {
    display: none;
  }

  .border-highlight{
    border-style:solid;
    border-bottom-width: 5px;
    border-color: #FFFFFF;
  }
  .border-highlight:hover{
    border-color: var(--sunset);
  }

}

@media only screen and (max-width:500px) {

  .extra-content {
    display: none;
  }

}

@media only screen and (min-width:900px) {

  .really-extra-content {
    display:inline;
  }

}
