
/** base screen styles are for 500px to 900px mobile landscape through tablet screen sizes **/
@media only screen {

    #narrative, #regenerative_health, #our_backyards{
      text-align:center;
    }

    #regenerative_health, #our_backyards{
      padding-top: 10vh;
    }

    #narrative article, #regenerative_health article, #our_backyards article {
      padding:1rem .5rem;
      max-width: 1000px;
      font-size:1.2rem;
      line-height: normal;
      text-align: left;
    }

    #narrative h2, #regenerative_health h3, #our_backyards h3 {
      text-align:left;
    }

    #narrative h1{
      padding: .5rem;
      background-color: var(--rich-soil);
      color: #ffffff;
    }

    #narrative p {
      line-height:1.6rem;
    }

    /* rh_ prefixes indicate the regenerative_health section */
    .rh_header {
      background-color: var(--grass);
      color: #ffffff;
    }

    .rh_header h2 {
      margin:0;
      padding-bottom:10px;
      padding-top: 10px;
      line-height:normal;
    }

    .rh_tagline {
      width: 100%;
      text-align:center;
      background-color: var(--rich-soil);
      padding: .5rem;
    }

    /* ob_ prefixes indicate the our backyards section */
    .ob_header {
      background-color: var(--earth);
      color: #FFFFFF;
    }

    .ob_header h2 {
      margin:0;
      padding-bottom:10px;
      padding-top: 10px;
      line-height:normal;
    }

    .ob_tagline {
      width: 100%;
      text-align:center;
      background-color: var(--rich-soil);
      padding: .5rem;
    }

    /*  image styles **/
    .nl_fwc{
      display:block;
      margin:auto;
      max-width: 750px;
    }

    .nl_center_small{
      display:block;
      margin:auto;
      max-width: 500px;
    }

    .thanks {
      text-align:center;
      color:#ffffff;
      background-color: var(--sunset);
      padding-top: 1rem;
      padding-bottom:.5rem;
    }

}

/** following are styles for the narrowist of views ... this includes most phones in portrait orientation **/
@media only screen and (max-width:500px) {
}

/** following are styles for typical laptop sizes, screens wider than 900px **/
@media only screen and (min-width:900px) {
}

/** following are styles for the largest screens, those wider than 1200px **/
@media only screen and (min-width:1200px) {
}
