
/* assume all screen media defaults as phone to small tablet upright single column */

@media only screen {

/********* base definitions **********/
  body {
    z-index:-101;
    background-color:#FFFFFF;
  }

  h1, h2, h3 {
    text-align: center;
  }

  /**********  main styles *********/
  main {
    z-index: -100;
    margin:4rem .5rem;
  }

  main img {
    width:100%;
  }

  article{
    display:inline-block;
    width:100%;
  }

  main article, main section{
  }

  embed{
    width:98vw;
    height:60vh;
  }

  #farmlife{
    position:relative;
    width:100%;
    margin-top:-4rem;
  }

  #farmlife h1{
    line-height:1rem;
  }
  #farmlife ul {
    margin-bottom:1rem;
  }

  #farmlife li {
    display:inline;
    margin:.5rem;
  }

  .farmlife_overlay {
    position:absolute;
    width:100%;
    top:4rem;
    text-align: center;
    background-color: var(--evergreen);
    color: #FFFFFF;
    padding:0 3rem;
    margin:auto;
  }

  .flex_box{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:flex-end;
    width:100%;
    text-align:center;
  }

  .flex_box a {
    width:40%;
  }

  .flex_box_top_align{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:flex-start;
    width:100%;
  }

  .dark_section{
    text-align:center;
    padding-top:2rem;
    padding-bottom:3rem;
    background-color: #E3E3E3;
  }

  .call_to_action_link{
    background-color: var(--evergreen);
    color:#FFFFFF;
    display:inline-block;
    padding:.3rem 1.5rem;
  }

  .call_to_action_link:hover {
    background-color: var(--grass);
    padding:.3rem 2.5rem;
  }

  #meet_the_wheelers{
    background-color: var(--lichen);
    color:#FFFFFF;
    padding:1rem 4rem;
    margin-top:4rem;
    text-align: center;
  }

  #meet_the_wheelers img {
    max-width: 320px;
    width:30vw;
  }

  .blog_posts {
    margin-top: 4rem;
  }

   .blog_post h1 {
     text-align:left;
     font-size: 1.8rem;
   }

   .blog_post h2 {
     text-align:left;
     font-size: 1.4rem;
   }

   .blog_post h3 {
     text-align:left;
     font-size: 1.2rem;
   }

   .blog_post p {
     font-size:.9rem;
   }
   .blog_post img {
     display:block;
     width:70%;
     margin-left:auto;
     margin-right:auto;
   }

   .blog_post .flex_box img {
     padding:1rem;
   }

   .blog_post .references {
     overflow: hidden;
   }

   .post_list a{
     padding:1rem;
     width:40%;
   }

   .post_list {
     flex-wrap:wrap;
   }

  /* this is the image and text showing one of the farmers */
  .farmer_profile{
    width:40%;
    margin:.5rem;
    color:var(--mountain);
  }

  .farmer_profile span{
    font-size: .8rem;
    font-weight: bold;
  }

  .farmer_profile h3 {
    line-height:1rem;
    padding:0;
  }

  .farmer_profile p {
    font-style: italic;
    font-size: 16px;
    line-height:1.2em;
  }

  .farmer_profile a {
    font-weight: bold;
    font-style: normal;
    float:right;
    padding-right: 1rem;
    margin-top:2rem;
  }
  .farmer_profile a:hover{
    text-decoration: underline;
  }

  #homepage_products{
    margin-top: 8vh;
    margin-bottom: 5vh;
  }

  .learn_header {
    padding:5%;
    background-color: var(--mountain);
    color:#FFFFFF;
    border-bottom:3px;
    border-color: var(--dusk);
    border-style: solid;
  }

  .learn_header h1 {
    font-size: 1.6rem;
    line-height: 1.8rem;
  }

  .thing_to_know h2 {
    text-align: left;
    font-size: 1.3rem;
    line-height: 1.5rem;
    color: var(--rich-soil);
  }

  .thing_to_know p {
    margin:2% 10%;
    color: var(--rich-soil);
  }

  .thing_to_know{
    padding:5%;
  }

  .thing_to_know:nth-of-type(odd){
    background-color:var(--dusk);
    border-top:3px;
    border-color:var(--mountain);
    border-style:solid;
  }
}

@media only screen and (max-width:500px) {
  #meet_the_wheelers{
    padding:1rem;
  }
  #meet_the_wheelers img {
    width:50%;
  }

  .post_list a{
    width:90%;
  }

  #rrff_things_to_know p {
    margin:2% 4%;
  }

  #farmlife p{
    display:none;
  }

  .farmlife_overlay {
    padding:0 1rem;
    top:3rem;
  }
}

@media only screen and (min-width: 900px) {

  h1, h2, h3, p {
    padding:0;
  }

  main{
    width:850px;
    margin:4rem auto 8rem auto;
  }


/*****   other style changes *******/
  embed{
    width:850px;
    height:85vh;
  }

  /* image style for callout images */
  .example {
    padding: 2vw 5vw;
    border: #000000 solid 3px;
  }

  .farmer_profile{
    width:40%;
    margin:2rem;
  }

}

/* bigger than 1200, display two column */
@media only screen and (min-width: 1200px) {
  main{
    width:1150px;
    margin-top: 6rem;
  }

  #homepage_products{
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .post_list a{
    width:30%;
  }

}

@media only screen and (min-width: 1800px) {
  main{
    width:1750px;
  }

}
