
/** base screen styles are for 500px to 900px mobile landscape through tablet screen sizes **/
@media only screen {

  .dark-section{
    margin-top:4rem;
    text-align:center;
    padding-right:4rem;
    padding-left:4rem;
    padding-top:2rem;
    padding-bottom:3rem;
    background-color: var(--dusk);
  }

  .call_to_action_link{
    background-color: var(--evergreen);
    color:#FFFFFF;
    display:inline-block;
    padding:.75rem 1rem;
  }

  .call_to_action_link:hover {
    background-color: var(--grass);
    padding:calc(.75rem - 4px) calc(1rem - 4px);
    border: 4px solid var(--evergreen);
  }

  .orange_cta_link{
    background-color: var(--sunset);
    color:#FFFFFF;
    display:inline-block;
    padding:.75rem 1rem;
  }

  .orange_cta_link:hover {
    padding:calc(.75rem - 4px) calc(1rem - 4px);
    border: 4px solid #000000;
  }

  .callout-link-box{
    width:fit-content;
    display:block;
    margin-left:auto;
    margin-right:auto;
    border: 4px solid var(--earth);
  }

  .callout-link-box .title{
    font-family:Adriane;
    font-size: 1.8rem;
    line-height: 2.5rem;
    padding-left:.5rem;
    background-color: var(--earth);
    color: #FFFFFF;
  }

  .callout-link-box .links{
    padding:2rem;
  }

  #meet_the_wheelers{
    background-color: var(--lichen);
    color:#FFFFFF;
    padding:1rem 4rem;
    margin-top:4rem;
    text-align: center;
  }

  #meet_the_wheelers img {
    max-width: 320px;
    width:30vw;
  }

  #farmlife{
    position:relative;
    width:100%;
    margin-top:-4rem;
    margin-bottom:5vh;
  }

  #farmlife h1{
    line-height:1rem;
  }
  #farmlife ul {
    margin-bottom:1rem;
  }

  #farmlife li {
    display:inline;
    margin:.5rem;
  }

  .farmlife_overlay {
    position:absolute;
    width:100%;
    top:4rem;
    text-align: center;
    background-color: var(--evergreen);
    color: #FFFFFF;
    padding:0 3rem;
    margin:auto;
  }

  #homepage_products{
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  #homepage_shop{
    padding-top:5vh;
    padding-bottom:5vh;
    background-image: url("/shopify_homepage.jpg");
    background-position: top; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size:cover;
  }
}

/** following are styles for the narrowist of views ... this includes most phones in portrait orientation **/
@media only screen and (max-width:500px) {

  #meet_the_wheelers{
    padding:1rem;
  }
  #meet_the_wheelers img {
    width:50%;
  }

  #farmlife p{
    display:none;
  }

  .callout-link-box .links{
    padding:5px;
    font-size:1rem;
  }

  .farmlife_overlay {
    padding:0 1rem;
    top:3rem;
  }

}

/** following are styles for typical laptop sizes, screens wider than 900px **/
@media only screen and (min-width:900px) {
}

/** following are styles for the largest screens, those wider than 1200px **/
@media only screen and (min-width:1200px) {

  #homepage_products{
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

}
