
/* all base screen styles go here */

@media only screen {

/********* base definitions **********/
  body {
    position:relative;
    z-index:-101;
    background-color:#FFFFFF;
  }

  button {
    padding:1em;
    border:1px solid #A39480;
    border-radius: 1em;
    color:#A39480;
  }

/***********  helper classes **********/

  .content-box {
    box-sizing: content-box
  }

  .border-box {
    box-sizing: border-box;
  }

  .hidden-all {
    display: none;
  }

  .hidden-visual {
     border: 0;
     clip: rect(0 0 0 0);
     height: 1px;
     width: 1px;
     margin: -1px;
     padding: 0;
     overflow: hidden;
     position: absolute;
  }

  .centered {
    width:100%;
    margin:auto;
  }

  .some-padding {
    padding: 1rem;
  }
/* used for selected tabs and buttons */
  .selected {
    border-right:.5vw solid #000000;
  }

/* used for hover state */
  .active {

  }

/********** header styles *********/

header {
  height:6rem;
  position: fixed;
  top:0;
  display: inline-block;
  width:100%;
}

 .logo {
   display:flex;
   margin-top:.05rem;
   height:5.9rem;
   margin-left:auto;
   margin-right:auto;
 }

/********** navigation styles ********/

  nav {
    position:fixed;
    width:100vw;
    top:6rem;
    left:0px;
  }

  nav ul {
    list-style: none;
    display: inline-block;
    margin:0;
  }

  nav li {
    width:50vw;
    display: inline-block;
    padding:.5rem;
    text-align: center;
  }

  #product-navigation {
    top:auto;
    bottom:0;
  }

  /**********  main styles *********/
  main {
    position:relative;
    z-index: -100;
    padding: 2vh 2vw;
  }

  main img {
    width:100%;
  }

  article{
    display:inline-block;
  }

  embed{
    width:90vw;
    height:90vh;
  }

  /**********  styles related to specific articles or pages *********/

  #company_desc{
    margin-top:3vh;
  }
  #company_desc p {
    width:75vw;
  }
  #company_desc img {
    width:auto;
    height:40vh;
  }

  #company_desc img:first-child {
    height:30vh;
  }


  #about_us {
    margin:20vh 5vw;
  }
  #about_us p {
    text-align: center;
  }

}



@media only screen and (min-width: 599px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 900px) {

  main{
    width:850px;
  }

  nav{
    width:50vw;
  }

  nav li{
    width:25vw;
  }

  embed{
    width:850px;
    height:90vh;
  }
  #product-navigation {
    bottom: auto;
    top: 6rem;
    right: auto;
    left:50%;
  }

}

@media only screen and (min-width: 1200px) {
}
