
:root {

}

/********** navigation styles ********/

@media only screen {

  :root{
    --hover_menu_display:none;
  }

  nav {
    position:fixed;
    top:0px;
    z-index:5000;
  }

  nav ul {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  nav ul li {
    display: inline-block;
    text-align: center;
    padding: 0;
  }

  nav img {
    width: 100%;
    max-width:250px;
  }

  nav a {
    width:100%;
    display:block;
    box-sizing: border-box;
    padding: .5rem 0;
  }

  .current_nav {
    background-color:var(--mountain);
  }

  .current_nav:hover {
    background-color:var(--mountain);
  }

  .current_nav_home {
    border-bottom-color: var(--sunset);
  }
/** subnavigation styles begin here **/

  .current_subnav {
    background-color:var(--rich-soil);
    pointer-events: none;
    cursor: default;
  }

  .current_subnav a {
    pointer-events: none;
    cursor: default;
  }

  .shop_subnav {
    background-color:var(--mountain);
    color:#FFFFFF;
  }

  .shop_subnav:hover {
    background-color:var(--dusk);
    color:var(--mountain);
  }

  #learn_subnav, #products_subnav {
    position:fixed;
    top: 2.5rem;
/*    width:60vw; */
    display:none;
  }

  #learn_subnav {
    left:0;
  }

  #products_subnav {
    right:0;
  }

  nav ol{
    list-style: none;
    display: block;
    margin:0;
    padding:0;
  }

  nav ol li {
    display: block;
    text-align: center;
    padding: 0 2rem;
  }

  #nav_home a {
    padding:10px .5rem;
  }

  #nav_learn, #nav_products {
    position:fixed;
    width:40vw;
    top:0;
    z-index: 1000;
  }

  #nav_learn {
    left:0;
  }

  #nav_learn:hover > #learn_subnav {
     display: var(--hover_menu_display);
  }

  #nav_products {
    right:0;
  }

  #nav_products:hover > #products_subnav {
     display: var(--hover_menu_display);
  }

  #nav_farmdoc, #nav_blog {
    position:fixed;
    width:50vw;
    top:auto;
    bottom:0;
  }

  #nav_farmdoc {
    right: 0;
  }

  #nav_home {
    background-color: #FFFFFF;
    border-bottom: .5vh var(--earth) solid;
    position:fixed;
    top:0;
    width:20vw;
    left:40vw;
  }

  #large_home_button {
    display:none;
  }

  #medium_home_button {
    display:block;
  }

  #small_home_button {
    display:none;
  }

  .logo_nav{
    max-width:150px;
  }

  #mtw_nav{
    position:static;
    text-align:center;
    margin-top:2rem;
  }

  #mtw_nav li{
    padding-left: .5rem;
    padding-right: .5rem;
    background-color: #FFFFFF;
    color:var(--rich-soil);
  }

  #mtw_nav .current_mtw_nav{
    background-color:var(--rich-soil);
    color:#FFFFFF;
  }

  .nav_center{
    text-align:center;
  }
}

@media only screen and (max-width:600px) {

    #nav_learn, #nav_products {
      width:46vw;
    }

    #nav_home {
      left:46vw;
      width:8vw;
    }

    #nav_home a {
      padding:.1rem 0;
    }

    #large_home_button {
      display:none;
    }

    #medium_home_button {
      display:none;
    }

    #small_home_button {
      display:block;
    }
}

@media (hover: hover) {
  :root{
    --hover_menu_display:block;
  }
}

@media only screen and (min-width: 900px) {

  /******    navigation style changes *******/

    #nav_learn, #nav_products, #nav_farmdoc, #nav_blog, #nav_home {
      width:20vw;
    }

    #nav_farmdoc, #nav_blog {
      bottom: auto;
      top:0;
    }

    #nav_blog{
      left: 20vw;
    }

    #nav_farmdoc{
      left: 60vw;
    }

    #nav_home a{
        padding:10px 2rem 5px 2rem;
    }

    #large_home_button {
      display:none;
    }

    #medium_home_button {
      display:block;
    }

    #small_home_button {
      display:none;
    }

    #learn_subnav, #products_subnav {
/*      width:30vw; */
    }

}

/* bigger than 1200, display two column */
@media only screen and (min-width: 1200px) {

  #nav_learn, #nav_products, #nav_farmdoc, #nav_blog {
    width:21vw;
  }

  #nav_home {
    left:42vw;
    width:16vw;
  }

  #nav_blog{
    left: 21vw;
  }

  #nav_farmdoc{
    left: 58vw;
  }

  #large_home_button {
    display:block;
  }

  #medium_home_button {
    display:none;
  }

  #small_home_button {
    display:none;
  }

}
