<div class="ui middle aligned segment">
<h3 class="ui h3">We've had to make a change ...</h3>

<h5 class="ui h5">We have changed the location of our pharmbuddy surveys. In the future, you will not continue to see this message, but for now:
<br><br>
<a href='{{route}}'>Please click here to submit your survey feedback</a>.
<br><br>
Thank you.
</h5>
</div>
