<article id='faqs' class='center'>
  <p class='center-text print-hidden'>A printable version for patients can be found <a href='/farmdoc/nonclinician_faq'>here</a>.</p>
  <h1>CBD and the Endocannabinoid System</h1>
  <img src='/logo-farm-doc.png' class='small center' />
  <section class='fd-faq' id='f1'>
    <p class='fd-faqheader'>What is the Endocannabinoid System?</p>
    <div class='fd-answer'>
      <ul>
        <li>Large, cell membrane receptor system comprised of CB1 and CB2 receptors
          <ul>
            <li>CB1 receptors predominate in the CNS, but are also widely scattered in the peripheral nervous system, and other tissues.</li>
            <li>CB2 receptors are found predominantly on muscle, adipose tissue, and immune cells, but are also scattered through the brain, mostly on glial cells.</li>
          </ul>
        </li>
        <li>Discovered in 1992 by Dr. Mechoulam and others.</li>
      </ul>
      <img src='/cbdguides/endocannabinoid_system.jpg' class='center medium' alt='The humany body is home to a set of receptors called the endocannabinoid sytem, pictured here showing various receptor sites in the liver, brain and elsewhere.' />
      <ul>
        <li>In general the receptor system:
          <ul>
            <li>Increases energy consumption and storage in response to physical exertion</li>
            <li>Modulates emotional responses (balances mood)</li>
            <li>Blunts inflammatory responses</li>
            <li>Modulates pain</li>
            <li>Restores homeostasis:
              <ul>
                <li>Following psychological stress by blunting the effects of inhibitory or excitatory nuerotransmitters in the nervous system</li>
                <li>Following physical exertion/exercise, by increasing energy storage</li>
                <li>Following physical injury by modulating pain and inflammatory responses</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
      <div class='fd-references print-hidden'>
        <p><strong>External References</strong></p>
        <ul>
          <li><a href='https://www.nature.com/articles/npp2017130'>Overview of Endocannabinoid System</a>, <em>Nature Journal</em> online</li>
          <li><a href='https://www.nature.com/articles/s41380-018-0215-1'>Endocannabinoid Effect on Psychological Stress</a>, <em>Nature Journal</em> online</li>
          <li><a href='https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6444701/'>Endocannabinoid Effect on Energy Expenditure</a>, <em>NCBI</em></li>
        </ul>
      </div>
    </div>
  </section>
  <section class='fd-faq' id='f2'>
    <p class='fd-faqheader'>What endogenous molecules (Endocannabinoids) activate the Endocannabinoid System?</p>
    <div class='fd-answer'>
      <ul>
        <li>The primary endocannabinoids are N-arachidonoylethanolamide (Anandamide:  AEA) and 2-arachidonoylglcyerol (2-AG).
          <ul>
            <li>Anandamide is manufactured by nerve, muscle, immune and adipose cells.  In the CNS, its actions are primarily mediated through the CB1 receptor, and peripherally primarily through the CB2 receptor.</li>
            <li>2-AG is concentrated mainly in the brain where most of its actions are mediated through the CB1 receptor.</li>
          </ul>
        </li>
        <li>The endocannabinoids are unique neurotransmitters, in that:
          <ul>
            <li>they are fatty acid based</li>
            <li>they are not stored and released by vesicles, but are produced on demand by post-synaptic cells</li>
            <li>their production and release are primarily stimulated by calcium influx when a post-synaptic cell is stimulated</li>
            <li>they travel retrograde and attach to CB1 and CB2 receptors on pre-synaptic cells, which decreases calcium influx, thereby modulating release of excitatory and inhibitory neurotransmitters from the presynaptic cells.</li>
          </ul>
        </li>
        <li>In immune/inflammatory response, they modulate T- and B-lymphocyte proliferation, migration, apoptosis, and cytokine production.</li>
        <li>In muscle cells they reduce energy expenditure</li>
        <li>In liver and adipose cells they increase glucose uptake and lipogenesis, decrease insulin sensitivity, and decrease lipolysis, resulting in energy storage.</li>
        <li>In addition to activating CB1 and CB2 receptors, endocannabinoids interact with other receptors:
          <ul>
            <li>TRPV1 (Transient Receptor Potential Vanilloid Type- 1) activation-modulates pain and inflammation</li>
            <li>PPARG (Peroxisome Proliferator Activated Receptor gamma) activation-resulting in neuroprotection, improved memory and cognition, analgesia, and anti-tumor effects</li>
          </ul>
        </li>
      </ul>
      <div class='fd-references print-hidden'>
        <p><strong>External References</strong></p>
        <ul>
          <li><a href='https://www.nature.com/articles/s41380-018-0215-1'>Endocannabinoid Effect on Psychological Stress</a>, <em>Nature Journal</em> online</li>
          <li><a href='https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6444701/'>Endocannabinoid Effect on Energy Expenditure</a>, <em>NCBI</em></li>
          <li><a href='https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3044336/#:~:text=Endocannabinoids%20have%20important%20effects%20on,migration%20%5B44%2C45%5D'>Endocannabinoid Effect on Pain and Inflammation</a>, <em>NCBI</em></li>
          <li><a href='https://www.frontiersin.org/articles/10.3389/fmolb.2020.00144/full'>Endocannabinoids Activate TRPV1</a>, <em>FrontiersIn.org</em></li>
          <li><a href='https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4882496/'>Endocannabinoids Activate PPARG</a>, <em>NCBI</em></li>
        </ul>
      </div>
    </div>
  </section>
  <a class='well-padded center print-hidden' href='#'>Back to top.</a>
  <section class='fd-faq' id='f3'>
    <p class='fd-faqheader'>How does Cannabidiol (CBD) interact with the Endocannabinoid System and other receptors?</p>
    <div class='fd-answer'>
      <ul>
        <li>CBD is a non-psychoactive Phytocannabinoid that interacts with the Endocannabinoid System, some enzymes, and ion channels
          <div class='center-quote'>NOTE:  WHETHER THESE INTERACTIONS RESULT IN CLINICALLY SIGNIFICANT EFFECTS HAS ONLY BEEN DEMONSTRATED IN HIGH QUALITY CLINICAL TRIALS OF ITS USE IN TREATING SOME SEIZURE DISORDERS</div>
        </li>
        <li>CBD is not a ligand for CB1 or CB2 receptors: Its a negative allosteric modulator, binding to the CB1 and CB2 receptors and changing the 3 dimensional shape of their receptor site, modulating the effect of ligands.</li>
        <li>It is an antagonist of GPR55 (G Protein-coupled Receptor 55, felt to possibly be an endocannabinoid receptor).  GPR55 inactivation inhibits some cancer cells that over express GPR55 (common in colorectal, pancreatic, and colon cancer).</li>
        <li>It binds with receptors which are not part of the endocannabinoid system
          <ul>
            <li>It selectively inhibits COX-2.  COX-2 inhibition results in pain modulation; has an anti-inflammatory effect and anti-tumor effects</li>
            <li>It activates PPARgamma.  Activation is neuroprotective; improves memory and cognition; has analgesic and anti-tumor effects.</li>
            <li>It activates TRPV1.  Activation modulates pain and inflammation.</li>
            <li>It activates the serotonin receptor 5-HT1A (5-Hydroxytryptamine Receptor Subtype 1A).  Activation of 5-HT1A results in an anti-inflammatory, anti-anxiety, anti-depressant effect.</li>
            <li>It activates the Adenosine A2A receptor, and inhibits Adenosine uptake via Phospholipase-A2.  Activation of A2A and reuptake inhibition has an anti-inflammatory, neuroprotective, effect.</li>
          </ul>
        </li>
        <li>It deactivates FAAH (Fatty Acid Amide Hydrolase), the enzyme which metabolizes Anandamide and 2-AG, enhancing their effects.  FAAH deactivation results in higher levels of Anandamide in the brain, which has a calming effect, blunting the persistence of the fight-flight response (part of the mechanism for developing PTSD).</li>
        <li>It has an inhibitory effect on some Na+ and Ca++ ion channels, thus slowing neuron firing.</li>
      </ul>
      <div class='fd-references print-hidden'>
        <p><strong>External References</strong></p>
        <ul>
          <li><a href-'https://www.who.int/medicines/access/controlled-substances/CannabidiolCriticalReview.pdf'>Overview of CBD by WHO</a>, World Health Organization</li>
          <li><a href='https://www.projectcbd.org/science/how-cbd-works'>CBD Receptor Interaction Overview</a>, <em>ProjectCBD.org</em></li>
        </ul>
      </div>
    </div>
  </section>
  <section class='fd-faq' id='f4'>
    <p class='fd-faqheader'>Where is (CBD) produced in the hemp plant?</p>
    <div class='fd-answer'>
      <ul>
        <li>Its primarily produced in trichomes (sac like structures that are part of the flower)</li>
        <li>Like all the cannabinoids, its produced as an acid.  In the case of CBD, as CBDA (cannabidiolic acid)</li>
        <li>CBDA is converted to CBD with light exposure, heat, and aging</li>
        <li>CBD is the most studied form, but there is emerging evidence that CBDA is a much more potent anti-inflammatory, and possibly anti-cancer molecule.</li>
      </ul>
      <img src='/cbdguides/trichomes.jpg' class='medium center' alt='This image is a close up of a mature hemp flower showing the trichomes sticking up from the surface.' />
      <div class='fd-references print-hidden'>
        <p><strong>External References</strong></p>
        <ul>
          <li><a href='https://pubmed.ncbi.nlm.nih.gov/18556441/#:~:text=Furthermore%2C%20the%20crude%20extract%20of,selective%20inhibitor%20for%20COX%2D2'>CBDA Cox-2 inhibition</a>, <em>PubMed</em></li>
          <li><a href='https://www.jstage.jst.go.jp/article/jts/45/4/45_227/_article'>CBDA Cox-2 inhibition</a>, <em>J-Stage</em> Online Journals</li>
        </ul>
      </div>
    </div>
  </section>
  <section class='fd-faq' id='f5'>
    <p class='fd-faqheader'>What other biologically active molecules are produced and stored in the hemp trichomes?</p>
    <div class='fd-answer'>
      <ul>
        <li>Hundreds of molecules produced by the plant that may be biologically active in humans
          <ul>
            <li>Over 100 Cannabinoids other than CBD and THC.  They are all produced as the acid form.  Recent studies have shown both the acid form, and decarboxylated form are biologically active.  Major ones are:
              <ul>
                <li>CBDVA (Cannabidivarinic acid)</li>
                <li>CBGA (Cannabigerolic acid</li>
                <li>CBGVA (Cannabigerovarinic acid)</li>
              </ul>
            </li>
            <li>Terpenes (essential oils)
              <ul>
                <li>Beta-Caryophyllene and Humulene have strong anti-inflammatory effects</li>
                <li>Myrcene and Terpinolene are sedating</li>
                <li>Limonene, Caryophyllene and Linalool are calming with anxiolytic effects</li>
                <li>Pinene increases alertness</li>
              </ul>
            </li>
            <li>Flavones and Flavanols (as a group, they produce anti-inflammatory, anti-cancer, and neuroprotective effect)</li>
          </ul>
        </li>
      </ul>
      <div class='fd-references print-hidden'>
        <p><strong>External References</strong></p>
        <ul>
          <li><a href='https://www.frontiersin.org/articles/10.3389/fpls.2016.00019/full'>Types of Biologically Active Molecules in Hemp</a>, <em>FrontiersIn.org</em></li>
          <li><a href='https://www.leafly.com/news/cannabis-101/list-major-cannabinoids-cannabis-effects'>Other Major Cannabinoids</a>, <em>Leafly.com</em></li>
          <li><a href='https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7763918/'>Terpenes produced by Hemp</a>, <em>NCBI</em></li>
        </ul>
      </div>
    </div>
  </section>
  <section class='fd-faq' id='f6'>
    <p class='fd-faqheader'>What is the difference between pure CBD; CBD included in a Full Spectrum Extract; and the entourage effect?</p>
    <div class='fd-answer'>
      <ul>
        <li>Pure CBD has a narrow, bell shaped therapeutic index, requiring high doses to get an effect, with the effect peaking and tapering off quickly with higher doses. <strong>Typical doses are in the 5-20 mg/kg/day for approved indications (up to 50 mg/kg have been used for seizure control).</strong></li>
        <li>Full spectrum extract containing CBD and the full range of biologically active compounds found in the trichomes requires a much lower dose <strong>(typically in the range of 0.5 to 1 mg/kg/day)</strong> for the same effect, with a much wider therapeutic window.
          <ul>
            <li>This is referred to as the entourage effect.</li>
            <li>There is a growing body of evidence that this is clinically relevant</li>
            <li>The evolving field of synergistic network pharmacology, moving past the single molecule, single target model of drug discovery, is ideally suited to further explore this effect</li>
          </ul>
        </li>
      </ul>
      <div class='fd-references print-hidden'>
        <p><strong>External References</strong></p>
        <ul>
          <li><a href='https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6334252/'>The case for the Entourage Effect</a>, <em>NCBI</em></li>
          <li><a href='https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3165946/'>The Entourage Effect</a>, <em>NCBI</em></li>
          <li><a href='https://www.scirp.org/html/5-2500582_53912.htm'>The Entourage Effect</a>, <em>Scirp.org</em></li>
          <li><a href='https://www.frontiersin.org/articles/10.3389/fneur.2018.00759/full'>The Entourage Effect</a>, <em>FrontiersIn.org</em></li>
          <li><a href='https://www.medicines.org.uk/emc/product/602/smpc#gref'>Pharmacokinetics/interactions/ dosing/precautions</a>, <em>Medicines.org</em></li>
          <li><a href='https://www.pnas.org/content/116/14/7129'>Network pharmacology</a>, <em>PNAS.org</em></li>
        </ul>
      </div>
    </div>
  </section>
  <section class='fd-faq' id='f7'>
    <p class='fd-faqheader'>Is it legal to use CBD products?</p>
    <div class='fd-answer'>
      <p>The 2018 Farm Bill made it legal to grow hemp.</p>
      <p>The 2020 Farm Bill amended the 2018 Bill, legalizing products made from hemp containing &lt;0.3%, however states were allowed to still consider it illegal.</p>
      <p>All but 2 states have legalized it based on that definition. In Idaho, it is legal if derived from hemp and it contains no THC. In South Dakota it is not legal.</p>
    </div>
  </section>
  <a class='well-padded center print-hidden' href='#'>Back to top.</a>
  <section class='fd-faq' id='f8'>
    <p class='fd-faqheader'>Has the FDA approved pure CBD for use in any medicines?</p>
    <div class='fd-answer'>
      <ul>
        <li>Yes. It has approved Epidiolex (Cannabidiol), manufactured by GW Pharmaceuticals, for certain seizure disorders in children: Lennox-Gastaut syndrome; Dravet syndrome; Tuberous Sclerosis Complex.  The mechanism of action is uncertain, but felt to be related to:
          <ul>
            <li>Inhibition of Adenosine uptake</li>
            <li>Antagonism of GPR55</li>
            <li>Activation of TRPV1</li>
            <li>Inhibitory effects on Na+ and low voltage Ca++ channels</li>
          </ul>
        </li>
      </ul>
      <div class='fd-references print-hidden'>
        <p><strong>External References</strong></p>
        <ul>
          <li><a href='https://onlinelibrary.wiley.com/doi/full/10.1684/epd.2020.1135'>Anti-seizure effect of CBD: Mechanisms of Action</a>, <em>Wiley Online Library</em></li>
          <li><a href='https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6204917/'>Anti-seizure effect of CBD: Mechanism of Action</a>, <em>NCBI</em></li>
        </ul>
      </div>
    </div>
  </section>
  <section class='fd-faq' id='f9'>
    <p class='fd-faqheader'>Has the FDA approved any medicine made with CBD included in a Full Spectrum Extract?</p>
    <div class='fd-answer'>
      <ul>
        <li>Sativex is an oromucosal spray containing equal amounts of THC and CBD, made from hemp extract.  It is produced by GW Pharma, and is approved in Canada and Europe for treatment of moderate to severe spasticity due to MS.
          <ul>
            <li>It is currently in phase 3 trials in the US for the same indication.</li>
          </ul>
        </li>
      </ul>
      <div class='fd-references print-hidden'>
        <p><strong>External References</strong></p>
        <ul>
          <li><a href='https://www.medicines.org.uk/emc/product/602/smpc#gref'>Pharmacokinetics/interactions/ dosing/precautions</a>, <em>Medicines.org</em></li>
        </ul>
      </div>
    </div>
  </section>
  <section class='fd-faq' id='f10'>
    <p class='fd-faqheader'>Can CBD be applied on the skin?</p>
    <div class='fd-answer'>
      <ul>
        <li>Yes, but CBD is not water soluble and cannot penetrate into the dermis and subcutaneous tissues.</li>
        <li>If the intended effect is related to deeper tissues, an absorption enhancer such as Argan Oil, needs to be added to topical formulation.
          <ul>
            <li>Argan Oil contains 40-50% Oleic Acid, and 30-40% Linoleic Acid, both of which disrupt the skin barrier and allow deeper penetration</li>
          </ul>
        </li>
      </ul>
      <div class='fd-references print-hidden'>
        <p><strong>External References</strong></p>
        <ul>
          <li><a href='https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6151382/'>Skin Penetration Enhancer</a>, <em>NCBI</em></li>
          <li><a href='https://pubmed.ncbi.nlm.nih.gov/32906680/'>Fatty Acid Composition of Argan Oil</a>, <em>PubMed</em></li>
        </ul>
      </div>
    </div>
  </section>
  <section class='fd-faq' id='f11'>
    <p class='fd-faqheader'>How is CBD metabolized?</p>
    <div class='fd-answer'>
      <ul>
        <li>Major route of metabolism is the liver
          <ul>
            <li>Primarily by Cytochrome P450 (CYP2C group and CYP3A group). Of note, coumadin is metabolized by a CYP2C enzyme.</li>
          </ul>
        </li>
        <li>CBD undergoes significant first pass metabolism in the liver.
          <ul>
            <li>90% of orally ingested CBD undergoes first pass metabolism in the liver</li>
            <li>Because of first pass metabolism, Sublingual/buccal mucosa administration is the preferred route of administration if systemic effects are desired, or topically if local effects are.</li>
            <li>It can also be smoked and absorbed in the lungs, but long term harmful effects of this route of administration are not known.</li>
          </ul>
        </li>
      </ul>
      <div class='fd-references print-hidden'>
        <p><strong>External References</strong></p>
        <ul>
          <li><a href='https://www.medicines.org.uk/emc/product/602/smpc#gref'>Pharmacokinetics/interactions/ dosing/precautions</a>, <em>Medicines.org</em></li>
          <li><a href='https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2689518/'>CBD Metabolism - First Pass effect</a>, <em>NCBI</em></li>
        </ul>
      </div>
    </div>
  </section>
  <a class='well-padded center print-hidden' href='#'>Back to top.</a>
  <section class='fd-faq' id='f12'>
    <p class='fd-faqheader'>Does CBD interact with other medications?</p>
    <div class='fd-answer'>
      <ul>
        <li>There are potential interactions between prescription doses of CBD (pure CBD taken in much higher doses than contained in products made from Full Spectrum Extract) and drugs that are metabolized by CYP1A2; CYP2B6; CYP2C9; CYP2C19; and CYP3A4.</li>
        <li>There have been few reports of significant interactions between prescription drugs and sublingual or topical doses of CBD contained in products made from Full Spectrum Extract.</li>
        <li>The main interactions to watch for would be CBD with drugs with a narrow therapeutic index (NTI) metabolized by the same enzymes.  Penn State pharmacy recently published a list of 57 medications to monitor.  Commonly prescribed drugs on the list include:
          <ul>
            <li>Warfarin</li>
            <li>Levothroxin</li>
          </ul>
        </li>
        <li class='fd-callout-text'>See the reference below for the full Penn State list of NTI medications to monitor.</li>
      </ul>
      <div class='fd-references'>
        <p class='print-hidden'><strong>External References</strong></p>
        <ul>
          <li class='print-hidden'><a href='https://sites.psu.edu/cannabinoid/files/2020/08/Delta-9-THC-and-Cannabidiol-DDI-Table-2-attributed-Kocis-Vrana-2020-doi-10.1159000507998_2020_08_17.pdf'>NTI medications  that need to be monitored</a>, Penn State University</li>
          <li class='print-only small-text'>https://sites.psu.edu/cannabinoid/files/2020/08/Delta-9-THC-and-Cannabidiol-DDI-Table-2-attributed-Kocis-Vrana-2020-doi-10.1159000507998_2020_08_17.pdf</li>
        </ul>
      </div>
    </div>
  </section>
  <section class='fd-faq' id='f13'>
    <p class='fd-faqheader'>What Precautions are there?</p>
    <div class='fd-answer'>
      <ul>
        <li>The following is based on <a href='#f9'>experience with Sativex</a> in Canada and Europe.  <strong>See the reference below for full information.</strong>
          <ul>
            <li>Use in patients with moderate to severe hepatic impairment is not advised.  If used in patients with mild hepatic impairment, LFTs should be monitored to confirm no adverse effect on the liver.  CBD related effects are reversible when CBD use is discontinued.</li>
            <li>Use in patients with severe cardiovascular disease is not advised</li>
            <li>Patients with impaired renal function should be monitored for side effects</li>
            <li>Do not use in women who are pregnant or breast feeding</li>
          </ul>
        </li>
        <li>Many of the precautions, like those related to a personal, or family history of psychiatric illness, are related to the THC contained in Sativex.  There is emerging evidence that CBD has a positive or neutral effect on these conditions.</li>
        <li>Products made from Full Spectrum Extract can contain small amounts of THC which can be detected in high sensitivity drug screening.  If patients are subject to drug testing, they should be made aware of this prior to taking these products</li>
      </ul>
      <div class='fd-references print-hidden'>
        <p><strong>External References</strong></p>
        <ul>
          <li><a href='https://www.medicines.org.uk/emc/product/602/smpc#gref'>Pharmacokinetics/interactions/ dosing/precautions</a>, <em>Medicines.org</em></li>
          <li><a href='https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6966847/'>Use of CBD for Psychiatric conditions</a>, <em>NCBI</em></li>
        </ul>
      </div>
    </div>
  </section>
  <section class='fd-faq' id='f14'>
    <p class='fd-faqheader'>What are common Side Effects of CBD included in a Full Spectrum Extract?</p>
    <div class='fd-answer'>
      <ul>
        <li>Side effects are based on <a href='#f9'>experience with Sativex</a> in Canada and Europe. <strong>Sativex contains both THC and CBD in equal amounts and most side effects appear to be related to THC.</strong>
          <ul>
            <li>Mild to moderate dizziness during the first few weeks of use</li>
            <li>Mild nausea</li>
            <li>Mild to moderate stinging sensation at site of oral application.  If this occurs it is recommended the site of application be altered and application should be discontinued if symptoms persist</li>
          </ul>
        </li>
        <li print-hidden><strong>See the reference below for full information.</strong></li>
      </ul>
      <div class='fd-references print-hidden'>
        <p><strong>External References</strong></p>
        <ul>
          <li><a href='https://www.medicines.org.uk/emc/product/602/smpc#gref'>Pharmacokinetics/interactions/ dosing/precautions</a>, <em>Medicines.org</em></li>
        </ul>
      </div>
    </div>
  </section>
  <section class='fd-faq' id='f15'>
    <p class='fd-faqheader'>What evidence is there that CBD is effective in treating defined medical conditions?</p>
    <div class='fd-answer'>
      <ul>
        <li>Researchers have identified a large number of receptors, enzymes, and membrane transporters that CBD interacts with, and the effects of those interactions, in human and animal models.  This is an essential first step, but not sufficient to demonstrate clinical efficacy.</li>
        <li>With the potential mechanisms of action identified, clinical uses of CBD is a hot research topic currently, with some well designed clinical trials currently being conducted in the US and other countries, focused on its use in a wide range of conditions.</li>
        <li>Most clinical trials reported to date have small numbers of participants, and with few exceptions are not randomized, controlled, blinded trials, which is the standard for proving efficacy.</li>
        <li>Evidence to date is that CBD is safe in doses used in the reported trials.</li>
      </ul>
      {{>fda_approved}}
      <div class='fd-references print-hidden'>
        <p><strong>External References</strong></p>
        <ul>
          <li><a href='https://www.who.int/medicines/access/controlled-substances/CannabidiolCriticalReview.pdf'>Overview of CBD by WHO</a>, World Health Organization</li>
          <li><a href='https://www.projectcbd.org/science/how-cbd-works'>CBD Receptor Interaction Overview</a>, <em>ProjectCBD.org</em></li>
          <li><a href='https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7092763/'>Clinical Trial Review</a>, <em>NCBI</em></li>
          <li><a href='https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5818782/'>Labelling issues with CBD products</a>, <em>NCBI</em></li>
        </ul>
      </div>
    </div>
  </section>
  <p class='print-only'>This guide was written by Richard Wheeler M.D. Learn more at <em>www.ravenridgefamilyfarm.com</em>.</p>
</article>

<script language='javascript'>
function printFaq() {
    var prtContent = document.getElementById('faqs');
    var WinPrint = window.open('', '', 'letf=0,top=0,width=700,height=800,toolbar=0,scrollbars=0,status=0');
    WinPrint.document.write("<html><head><style>@import url('/css_uglified.css');</style></head><body>" + prtContent.innerHTML + "</body></html>");
    WinPrint.document.close();
    myVar = setTimeout(function(){
      WinPrint.focus();
      WinPrint.print();
      WinPrint.close();
      clearTimeout( myVar );
    }, 1000);
}
</script>

<section class='alt-section'>
  <p id='printout'><strong>PRINT this information</strong> by <a href='javascript:printFaq();'>clicking here</a>.</p>
  <p>A printable version for patients can be found <a href='/farmdoc/nonclinician_faq'>here</a>.</p>
  <p>For additional information on CBD and CBD Products visit <a href='https://www.ravenridgefamilyfarm.com'>www.ravenridgefamilyfarm.com</a>.</p>
</section>
  <!--




<Ref 18>




“These statements have not been evaluated by the Food and Drug Administration.  This product is not intended to diagnose, treat, cure, or prevent any disease.”

<Reference 7> Overview of CBD by WHO
<Reference 8>  How CBD works
<Reference 27>  Clinical Trial Overview
<Reference 28> Labelling accuracy of CBD nutritional supplement products

A HANDOUT with FAQs written for patients can be accessed here. <link to the printable version>

For additional information on CBD and CBD Products visit www.ravenridgefamilyfarm.com
-->
