
<article class='story'>
  <p class='fd-callout-text'>INFORMATION ON RECEPTORS CBD INTERACTS WITH <a target="_blank" href='https://sites.psu.edu/cannabinoid/files/2020/08/Delta-9-THC-and-Cannabidiol-DDI-Table-2-attributed-Kocis-Vrana-2020-doi-10.1159000507998_2020_08_17.pdf'>CAN BE ACCESSED HERE</a>.</p>
  <section class='learn_header'>
    <h1>How to Take CBD and Adjust the Dose</h1>
    <img src='/logo-farm-doc-reverse.png' class='small center' />
    <p>If your patient has not used CBD before, Table 1 is a guide for the typical dose range people use, depending on what they are using it for.  They should use the lowest dose that is effective for them.</p>
    <p>See Tables 2 and 3 for determining their optimal dose.<sup>*</sup></p>
  </section>
  <p>* If they are using CBD for general health, without any specific symptoms, there is no reason to adjust the dose up.</p>
  <section>
    <h2>Typical Dose Based on Reason for Taking CBD</h2>
    <table class='question-table'>
      <caption>Table 1.  Typical Dose</caption>
      <tr><th>Reason for trying CBD</th><th>Recommended Product</th><th>Typical Dose</th></tr>
      <tr><td>Intermittent joint pain</td><td>Topical Salve</td><td>1 or 2% salve 1-2 times/day, as needed</td></tr>
      <tr><td>Daily joint pain</td><td>Sublingual Oil</td><td>20-30 mg/day</td></tr>
      <tr><td>Anxiety</td><td>Sublingual Oil</td><td>30-40 mg/day</td></tr>
      <tr><td>Sleep</td><td>Sublingual Oil</td><td>30-40 mg nightly</td></tr>
      <tr><td>PTSD</td><td>Sublingual Oil</td><td>30-40 mg/day</td></tr>
      <tr><td>General Health (no specific symptoms)</td><td>Sublingual Oil</td><td>5-10 mg/day</td></tr>
    </table>
    {{>fda_approved class='center big'}}
  </section>
  <section>
    <h2>Determining the Optimal Dose</h2>
    <p>The amount of CBD a person requires to get the desired benefit varies from person to person, due to genetic differences.  <em>If they have not taken CBD before, it is recommended they start at 10 mg CBD/day and increase weekly until they get the desired effect.</em></p>
    <p><em>Formulations of CBD will vary between producers.</em>  Patients should select a product that is in the range of 25-35 mg/ml and adjust the number of sprays or drops to approximate the doses listed in the table below.</p>
    <p class='center-quote'>The following tables are based on a sublingual oil formulation that contains 30 mg CBD/ml.</p>
    <p>They can find a product that contains 30 mg/ml at <a href='https://shop.ravenridgefamilyfarm.com'>shop.ravenridgefamilyfarm.com</a>.</p>
    <hr />
    <h3>Sublingual Spray:</h3>
    <p>It can take 2-3 days to know if the dose produces the desired effect.</p>
    <ul class='padded-list'>
      <li>Start by using 2 sprays (10mg)/day, under the tongue or on inside of cheeks, either as a single dose in the AM or PM, or half the dose AM and PM.</li>
      <li>If they are not getting the desired effect, increase each week by 2 sprays (10mg)/day and continue increasing until it is effective.</li>
    </ul>
    <img src='/use_sublingual.png' class='center medium' alt='To use sublingual oil, spray on the inside of the cheek or place drops under the tongue.' />
    <table class='product-table'>
      <caption>Table 2. Dosage Chart for 900 mg Bottle, Sprayer (30 mg/ml daily dose)</caption>
      <tr><th># of Sprays</th><th>CBD Dose in mg</th></tr>
      <tr><td>8</td><td>40 mg</td></tr>
      <tr><td>6</td><td>30 mg</td></tr>
      <tr><td>4</td><td>20 mg</td></tr>
      <tr><td>2</td><td>10 mg</td></tr>
    </table>
    <p><strong>*If no benefit after 2 weeks at 40 mg (8 sprays)/day, CBD should be discontinued, as it is unlikely to be effective for them.</strong></p>
    <hr />
    <h3>Sublingual Drops:</h3>
    <p>They should place drops under the tongue. Hold under tongue for 30 seconds before swallowing.</p>
    <p>It can take 2-3 days to know if the dose produces the desired effect.</p>
    <ul class='padded-list'>
      <li>Start by using 0.3 ml (10mg)/day, either as a single dose in the AM or PM, or half the dose AM and PM.</li>
      <li>If they are not getting the desired effect,  increase each week by 0.3 ml (10 mg)/day and continue increasing until it is effective, which will be their optimal dose.</li>
    </ul>
    <table class='product-table'>
      <caption>Table 3. Dosage Chart for 900 mg Bottle, Dropper</caption>
      <tr><th>Amount (approximate) in mls</th><th>CBD Dose in mg</th></tr>
      <tr><td>1.3</td><td>40 mg</td></tr>
      <tr><td>1.0</td><td>30 mg</td></tr>
      <tr><td>0.7</td><td>20 mg</td></tr>
      <tr><td>0.3</td><td>10 mg</td></tr>
    </table>
    <p><strong>*If no benefit after 2 weeks at 40 mg (1.3ml)/day, CBD should be discontinued, as it is unlikely to be effective for them.</strong></p>
    <hr />
    <h3>CBD Salve or Cream:</h3>
    <p><strong>The “fingertip rule” for applying topical salve or cream</strong></p>
    <img src='/use_salve.png' class='center small' alt='Using salve following the fingertip rule is as easy as it sounds. Use a dollop on your fingertip for each affected area.'/>
    <p>They should start with the 1% strength.</p>
    <p>Apply a fingertip worth to each body area being treated.  Rub in for 15-30 seconds.</p>
    <p>Apply 1-2 times daily, as needed.</p>
    <p>If they get no benefit after using 5-7 days increase to 2% strength.  If no benefit after using the 2% strength 2 times/day they are unlikely to get the desired benefit from topical application.</p>
    {{>fda_approved}}
  </section>
  <section class='dark-section'>
    <h4>WARNINGS FOR ALL CBD PRODUCT</h4>

    <p>CBD products are not intended for use in children or women who are pregnant.</p>
    <p>Information on side effects, precautions, and drug interactions can be found on the <a href='/farmdoc/clinician_faq'>FAQs for Clinicians</a> page.</p>
  </section>

  <script language='javascript'>
  function printFaq() {
      var prtContent = document.getElementById('ttc');
      var WinPrint = window.open('', '', 'letf=0,top=0,width=700,height=800,toolbar=0,scrollbars=0,status=0');
      WinPrint.document.write("<html><head><style>@import url('/css_uglified.css');</style></head><body>" + prtContent.innerHTML + "</body></html>");
      WinPrint.document.close();
      myVar = setTimeout(function(){
        WinPrint.focus();
        WinPrint.print();
        WinPrint.close();
        clearTimeout( myVar );
      }, 1000);
  }
  </script>

  <section class='alt-section'>
    <p id='printout'><strong>PRINT this clinician version for your reference </strong> by <a href='javascript:printFaq();'>clicking here</a>.</p>
    <p>A HANDOUT written for patients can be printed <a href='/farmdoc/nonclinician_adjustdose#printout'>from this page</a>.</p>
    <p>For additional information on CBD and CBD Products visit <a href='/'>https://ravenridgefamilyfarm.com</a>.</p>
  </section>
</article>
