<article id='faqs' class='center'>
  <h1>FAQs About CBD</h1>
  <img src='/logo-farm-doc.png' class='small center' />
  <p class='center-text'>For patients and folks considering or using CBD.</p>
  <p class='center-text print-hidden'><strong>ADDITIONAL INFORMATION FOR CLINICIANS</strong> can be found <a href='/farmdoc/clinician_faq'>here</a>.</p>

  <section class='fd-faq' id='f1'>
    <p class='fd-faqheader'>What is the Endocannabinoid System?</p>
    <div class='fd-answer'>
      <p>The endocannabinoid system is one of the largest receptor systems in our body.  The major receptors are CB1 and CB2.</p>
      <p>They are found in most tissues, but are concentrated in the brain, spinal cord, nerves, immune cells, fatty tissue and muscle.</p>
      <p>Its primary role is to return our body to baseline functioning when we experience physical or emotional stress.</p>
      <img src='/cbdguides/endocannabinoid_system.png' class='center medium' alt='The humany body is home to a set of receptors called the endocannabinoid sytem, pictured here showing various receptor sites in the liver, brain and elsewhere.' />
    </div>
    {{>clinician_faq nonclinician=true bookmark='f1'}}
  </section>
  <section class='fd-faq' id='f2'>
    <p class='fd-faqheader'>What molecules does our body produce that activate the Endocannabinoid System (these are referred to as Endocannabinoids)?</p>
    <div class='fd-answer'>
      <p>The primary Endocannabinoids are AEA (also referred to as Anandamide) and 2-AG.</p>
      <p>They are produced when we experience physical or emotional stress, and attach to the CB1 and/or CB2 receptors to restore the body to baseline functioning.</p>
    </div>
    {{>clinician_faq nonclinician=true bookmark='f2'}}
  </section>
  <section class='fd-faq' id='f3'>
    <p class='fd-faqheader'>How does Cannabidiol (CBD) work?</p>
    <div class='fd-answer'>
      <p>Like most molecules that have an effect on our body, CBD interacts with a large number of receptors in our body.  CBD activates some of these receptors and blocks other ones, resulting in anti-inflammatory, pain relieving, anxiety relieving, and other effects.</p>
      <p>It is important to note that while many people seem to benefit from taking CBD for these effects, studies to date have only proven it to be effective in treating certain seizures in children.</p>
    </div>
    {{>clinician_faq nonclinician=true bookmark='f3'}}
  </section>
  <section class='fd-faq' id='f4'>
    <p class='fd-faqheader'>Where is (CBD) produced in the hemp plant?</p>
    <div class='fd-answer'>
      <p>CBD, is produced and stored in small, sac-like structures on the Hemp flower, called trichomes.</p>
      <p>It is produced as CBDA (cannabidiolic acid), the acid form of CBD.  CBDA is converted to CBD using heat, or light exposure.</p>
      <img src='/cbdguides/trichomes.jpg' class='medium center' alt='This image is a close up of a mature hemp flower showing the trichomes sticking up from the surface.' />
    </div>
    {{>clinician_faq nonclinician=true bookmark='f4'}}
  </section>
  <section class='fd-faq' id='f5'>
    <p class='fd-faqheader'>What other biologically active molecules are produced and stored in the hemp trichomes?</p>
    <div class='fd-answer'>
      <p>Hemp produces over 100 Cannabinoids other than CBD and small amounts of THC.</p>
      <p>It produces small amounts of essential oils (terpenes) that can have anti-inflammatory, calming, and other effects.</p>
      <p>It also produces small amounts of Flavones which have anti-inflammatory effects.</p>
      <p>Products made from a Full Spectrum Extract containing all the bioactive molecules produced by hemp exhibit what is referred to as the entourage effect.</p>
    </div>
    {{>clinician_faq nonclinician=true bookmark='f5'}}
  </section>
  <section class='fd-faq' id='f6'>
    <p class='fd-faqheader'>What is the entourage effect?</p>
    <div class='fd-answer'>
      <p>When CBD is extracted from the hemp flower and used as a single molecule, it requires large doses to have a clinical effect.</p>
      <p>When extracted along with all the other biologically active molecules hemp produces (referred to as a Full Spectrum Extract), much smaller amounts of CBD produce a similar effect.</p>
    </div>
    {{>clinician_faq nonclinician=true bookmark='f6'}}
  </section>
  <section class='fd-faq' id='f7'>
    <p class='fd-faqheader'>Is it legal to use CBD products?</p>
    <div class='fd-answer'>
      <p>Yes.</p>
      <p>The 2018 Farm Bill made it legal to grow hemp.</p>
      <p>The 2020 Farm Bill amended the 2018 Bill, making it legal to sell CBD products made from hemp .</p>
    </div>
  </section>
  <section class='fd-faq' id='f8'>
    <p class='fd-faqheader'>Has the FDA approved pure CBD for use in any medicines?</p>
    <div class='fd-answer'>
      <p>Yes. The FDA has approved pure CBD as a treatment for some forms of difficult to treat seizures in children.</p>
    </div>
    {{>clinician_faq nonclinician=true bookmark='f8'}}
  </section>
  <section class='fd-faq' id='f9'>
    <p class='fd-faqheader'>Has the FDA approved any medicine made with CBD included in a Full Spectrum Extract?</p>
    <div class='fd-answer'>
      <p>Sativex is an oral spray formulated to treat spasms in Multiple Sclerosis.  It is approved for use in Canada and Europe, and is in clinical trials in the US, but has not yet been approved by the FDA.</p>
    </div>
    {{>clinician_faq nonclinician=true bookmark='f9'}}
  </section>
  <section class='fd-faq' id='f10'>
    <p class='fd-faqheader'>Can CBD be applied on the skin?</p>
    <div class='fd-answer'>
      <p>Yes, but it is not water soluble, so it cannot penetrate below the surface layer of the skin (the epidermis) on its own.</p>
      <p>It has to be combined with an absorption enhancer, like Argan Oil to penetrate and have an effect on deeper tissues.</p>
    </div>
    {{>clinician_faq nonclinician=true bookmark='f10'}}
  </section>
  <section class='fd-faq' id='f11'>
    <p class='fd-faqheader'>How is CBD metabolized and why is that important?</p>
    <div class='fd-answer'>
      <p>It is metabolized primarily in the liver.</p>
      <p>When ingested and absorbed in the GI tract, it goes directly to the liver and undergoes what is called first pass metabolism, which inactivates 90% of the CBD before it can have any systemic effects.</p>
      <p>To avoid this, it is typically administered in a spray or drops absorbed in the mouth; or topically.</p>
      <p>It can also be smoked and absorbed in the lungs, but long term effects of this route of administration are not known.</p>
    </div>
    {{>clinician_faq nonclinician=true bookmark='f11'}}
  </section>
  <section class='fd-faq' id='f12'>
    <p class='fd-faqheader'>Does CBD interact with other medications?</p>
    <div class='fd-answer'>
      <p>CBD in the high doses contained in prescription medicine can interact with medicines like the blood thinner Coumadin, and thyroid replacement medications like Synthroid.</p>
      <p>In the low doses contained in products made with Full Spectrum Extract, interactions are less likely.</p>
      <p>However, if you are on prescription medicines, <em>you need to discuss using CBD products with your Health Care Provider prior to taking them</em>.</p>
    </div>
    {{>clinician_faq nonclinician=true bookmark='f12'}}
  </section>
  <section class='fd-faq' id='f13'>
    <p class='fd-faqheader'>What Precautions are there?</p>
    <div class='fd-answer'>
      <p>You should discuss using CBD with your Health Care Provider prior to use.</p>
      <p>This is especially important if you have liver, kidney, or heart disease.</p>
      <p>CBD should not be used if you are pregnant, or breastfeeding.</p>
      <p>Most products made from Full Spectrum Extract contain small amounts of THC, which may be detectable on drug screening.  If you are subject to work related drug screening, you should inform your employer prior to use.</p>
    </div>
    {{>clinician_faq nonclinician=true bookmark='f13'}}
  </section>
  <section class='fd-faq' id='f14'>
    <p class='fd-faqheader'>What are common Side Effects of CBD included in a Full Spectrum Extract?</p>
    <div class='fd-answer'>
      <p>Side effects are uncommon.  If they do occur they tend to be very mild and resolve after regular use.</p>
      <p>The most common are dizziness; nausea; stinging at the site of oral application, which typically resolves by alternating sites of application (under tongue, sprayed on the inside of one cheek or the other).</p>
    </div>
    {{>clinician_faq nonclinician=true bookmark='f14'}}
  </section>
  <section class='fd-faq' id='f15'>
    <p class='fd-faqheader'>What evidence is there that CBD is effective in treating defined medical conditions?</p>
    <div class='fd-answer'>
      <p>There is evidence from studies on human and animal tissue, what are referred to as pre-clinical studies, that demonstrate CBD’s effects on receptors involved in many conditions.</p>
      <p>While demonstrating the mechanism of action is an important first step, well done clinical trials are required to prove a clinically relevant effect.</p>
      <p>There is a lot of anecdotal evidence that CBD can be effective, especially for joint pain related to arthritis, muscle or ligament pain, difficulty sleeping, anxiety, and PTSD.</p>
      <p>However, there is currently minimal evidence from well done clinical trials for any of these uses.</p>
      <p>Until those trials are done, benefit from CBD for any condition is speculative.</p>
      <p>If you decide to try CBD, you should discuss with your Health Care Provider prior to use, and be sure to purchase high quality products that contain the amount of CBD you are paying for.</p>
      {{>fda_approved}}
    </div>
    {{>clinician_faq nonclinician=true bookmark='f15'}}
  </section>

</article>

<script language='javascript'>
function printFaq() {
    var prtContent = document.getElementById('faqs');
    var WinPrint = window.open('', '', 'letf=0,top=0,width=600,height=800,toolbar=0,scrollbars=0,status=0');
    WinPrint.document.write("<html><head><style>@import url('/css_uglified.css');</style></head><body>" + prtContent.innerHTML + "</body></html>");
    WinPrint.document.close();
    myVar = setTimeout(function(){
      WinPrint.focus();
      WinPrint.print();
      WinPrint.close();
      clearTimeout( myVar );
    }, 1000);
}
</script>

<section class='alt-section'>
  <p>You can find information on <a href='/farmdoc/nonclinician_ttc'>things to consider when purchasing a CBD product here</a>.</p>

  <p id='printout'>PRINT this information by <a href='javascript:printFaq();'>clicking here</a>.</p>

  <p>For additional information on CBD and CBD Products visit <a href='www.ravenridgefamilyfarm.com'>www.ravenridgefamilyfarm.com</a>.</p>
</section>
