<article id='ad' class='story'>
  <p class='center-text print-hidden' id='printout'><strong>PRINT this information</strong> by <a href='javascript:printFaq();'>clicking here</a>.</p>
  <section class='learn_header print-hidden'>
    <h1>How to Take CBD and Adjust Your Dose</h1>
    <img src='/logo-farm-doc-reverse.png' class='small center' />
    <p>If you have not used CBD before, Table 1 is a guide for the typical dose range people use, depending on what you are using it for. You should use the lowest dose that is effective for you.</p>
    <p>See Tables 2 and 3 for determining your optimal dose.<sup>*</sup></p>
  </section>
  <section class='print-only v-center'>
    <div class='v-center'>
      <img src='/logo_tiny.png' class='tiny' />
      <p>the Farm Doc CBD Guides</p>
    </div>
    <hr />
    <h1>How to Take CBD and Adjust the Dose</h1>
    <p>If you have not used CBD before, Table 1 is a guide for the typical dose range people use, depending on what you are using it for. You should use the lowest dose that is effective for you.</p>
    <p>See Tables 2 and 3 for determining your optimal dose.<sup>*</sup></p>
  </section>
  <p>* If you are using CBD for general health, without any specific symptoms there is no reason to adjust the dose up.</p>
  <section>
    <h2>Typical Dose Based on Reason for Taking CBD</h2>
    <table class='product-table'>
      <caption>Table 1.  Typical Dose</caption>
      <tr><th>Reason for trying CBD</th><th>Recommended Product</th><th>Typical Dose</th></tr>
      <tr><td>Intermittent joint pain</td><td>Topical Salve</td><td>1 or 2% salve 1-2 times/day, as needed</td></tr>
      <tr><td>Daily joint pain</td><td>Sublingual Oil</td><td>20-30 mg/day</td></tr>
      <tr><td>Anxiety</td><td>Sublingual Oil</td><td>20-40 mg/day</td></tr>
      <tr><td>Sleep or PTSD</td><td>Sublingual Oil</td><td>30-40 mg nightly</td></tr>
      <tr><td>General Health (no specific symptoms)</td><td>Sublingual Oil</td><td>5-10 mg/day</td></tr>
    </table>
    {{>fda_approved class='center big'}}
  </section>
  <section>
    <h2>Determining Your Optimal Dose</h2>
    <p>The amount of CBD a person requires to get the desired benefit varies from person to person, due to genetic differences. <em>If you have not taken CBD before, it is recommended you determine the lowest dose that produces the desired effect.</em></p>
    <p class='center-quote'>The following tables are based on a sublingual oil formulation that contains 30 mg CBD/ml.</p>
    <p><em>Formulations of CBD will vary between producers.</em> Select a product that is the range of 25-35 mg/ml and adjust the number of sprays or drops to approximate the doses listed in the tables below.</p>
    <p><strong>Or you can find a product that contains 30 mg/ml at <a href='https://shop.ravenridgefamilyfarm.com/collections/regenerative-cbd-sublingual-oil/products/regenerative-cbd-900mg-sublingual-oil'>shop.ravenridgefamilyfarm.com</a>.</strong></p>
    <hr />
    <h3>Sublingual Spray:</h3>
    <p>It can take 2-3 days to know if the dose produces the desired effect.</p>
    <img src='/sublingual_spray.jpg' class='center medium' alt='To use sublingual oil, spray on the inside of the cheek and hold for 15-30 seconds before swallowing.' />
    <ul class='padded-list'>
      <li>Start by using 2 sprays (10mg)/day, under the tongue or on inside of cheeks, either as a single dose in the AM or PM, or half the dose AM and PM.</li>
      <li>If you are not getting the desired effect, increase each week by 2 sprays (10mg)/day and continue increasing until it is effective. <em>This will be your optimal dose.</em></li>
    </ul>
    <table class='product-table'>
      <caption>Table 2. Dosage Chart for 900 mg Bottle, Sprayer (30 mg/ml daily dose)</caption>
      <tr><th># of Sprays</th><th>CBD Dose in mg</th></tr>
      <tr><td>8</td><td>40 mg</td></tr>
      <tr><td>6</td><td>30 mg</td></tr>
      <tr><td>4</td><td>20 mg</td></tr>
      <tr><td>2</td><td>10 mg</td></tr>
    </table>
    <p><strong>*If no benefit after 1 week at 40 mg (8 sprays)/day, discontinue use as CBD is unlikely to be effective for you at this time.</strong></p>
    <hr />
    <h3>Sublingual Drops:</h3>
    <p>Place drops under the tongue. Hold under tongue for 30 seconds before swallowing.</p>
    <p>It can take 2-3 days to know if the dose produces the desired effect.</p>
    <img src='/sublingual_dropper.jpg' class='center medium' alt='To use sublingual oil, place drops under the tongue and hold there for 15-30 seconds before swallowing.' />
    <ul class='padded-list'>
      <li>Start by using 0.3 ml (10mg)/day, either as a single dose in the AM or PM, or half the dose AM and PM.</li>
      <li>If you are not getting the desired effect, increase each week by 0.3 ml (10 mg)/day and continue increasing until it is effective. <em>This will be your optimal dose.</em></li>
    </ul>
    <table class='product-table'>
      <caption>Table 3. Dosage Chart for 900 mg Bottle, Dropper</caption>
      <tr><th>Amount (approximate) in mls</th><th>CBD Dose in mg</th></tr>
      <tr><td>1.3</td><td>40 mg</td></tr>
      <tr><td>1.0</td><td>30 mg</td></tr>
      <tr><td>0.7</td><td>20 mg</td></tr>
      <tr><td>0.3</td><td>10 mg</td></tr>
    </table>
    <p><strong>*If no benefit after 1 week at 40 mg (1.3ml)/day, discontinue use as CBD is unlikely to be effective for you at this time.</strong></p>
    <hr />
    <h3>CBD Salve or Cream:</h3>
    <p><strong>The “fingertip rule” for applying topical salve or cream</strong></p>
    <img src='/use_salve.png' class='center small' alt='Using salve following the fingertip rule is as easy as it sounds. Use a dollop on your fingertip for each affected area.'/>
    <p>Start with the 1% strength.</p>
    <p>Apply a fingertip worth to each body area being treated. Rub in for 15-30 seconds.</p>
    <p>Apply 1-2 times daily, as needed.</p>
    <p>If you get no benefit after using 5-7 days, increase to 2% strength. If no benefit after using the 2% strength 2 times/day you are unlikely to get the desired benefit from topical application.</p>
    {{>fda_approved}}
  </section>
  <section class='dark-section'>
    <h4>WARNINGS FOR ALL CBD PRODUCT</h4>
    <p>Consult with your healthcare provider prior to using CBD products.</p>
    <p>CBD products are not intended for use in children or women who are pregnant.</p>
    <p class='print-hidden'>Information on side effects, precautions, and drug interactions can be found on the <a href='/farmdoc/nonclinician_faq'>CBD and the Endocannabinoid System</a> information sheet.</p>
  </section>
</article>

<script language='javascript'>
function printFaq() {
    var prtContent = document.getElementById('ad');
    var WinPrint = window.open('', '', 'letf=0,top=0,width=700,height=800,toolbar=0,scrollbars=0,status=0');
    WinPrint.document.write("<html><head><style>@import url('/css_uglified.css');</style></head><body>" + prtContent.innerHTML + "</body></html>");
    WinPrint.document.close();
    myVar = setTimeout(function(){
      WinPrint.focus();
      WinPrint.print();
      WinPrint.close();
      clearTimeout( myVar );
    }, 1000);
}
</script>

<section class='alt-section'>
  <p>For additional information on CBD and CBD Products visit <a href='/'>https://ravenridgefamilyfarm.com</a>.</p>
</section>
