<article id='ttc' class='story'>
  <h1>Things to Consider When Purchasing CBD Products</h1>
  <img src='/logo-farm-doc.png' class='small center' />
  <p>If you have decided using CBD is right for you, some of the challenges you face are assuring the product is safe; you are getting the amount of CBD you are paying for; and you are getting the most benefit from what you are taking.</p>
  <strong>Here are 9 things to consider, that can help inform your decision*:</strong>
  <ol>
    <li>Confirm the product has been tested and doesn’t contain heavy metals.
      <ul>
        <li>The hemp plant concentrates heavy metals from the soil.</li>
        <li>Even soil containing small amounts of heavy metals can produce hemp CBD oil with significant levels of heavy metals.</li>
      </ul>
    </li>
    <li>Confirm the product has been tested and doesn’t contain dangerous mycotoxins.
      <ul>
        <li>Hemp can be infected with molds that produce harmful toxins (mycotoxins)</li>
        <li>Organic or Regenerative farming lowers, but doesn’t eliminate the risk</li>
      </ul>
    </li>
    <li>Confirm the product has been tested for CBD content and the results correlate with the label.
      <ul>
        <li>Studies show a wide range of CBD potency relative to the labelled amount</li>
        <li>Confirm the amount shown on the label is for the <strong>CBD content</strong>, not “hemp oil”, “whole plant extract”, “full spectrum extract”, “cannabinoids” or anything other than the CBD content</li>
      </ul>
    </li>
    <li>If you are subject to drug testing for your job, confirm the product has been tested for THC
      <ul>
        <li>Drug tests can identify very small amounts of THC in the urine.</li>
        <li>Many products state that they contain no THC, however testing has shown THC was detected in 45% of CBD in these products.</li>
        <li>If you use a product that contains any THC, you need to inform your employer</li>
      </ul>
    </li>
    <li>Confirm the product has been grown following organic or regenerative farming practices.
      <ul>
        <li>It is optimal, when possible, to use products made with CBD from hemp that was grown following organic or regenerative practices.</li>
        <li>If you don’t know it was grown following these practices, confirm the product has been tested and doesn’t contain pesticides.</li>
      </ul>
    </li>
    <li>Confirm whether the product is made from Full Spectrum Extract or Isolated CBD.
      <ul>
        <li>There is increasing evidence that, for most purposes, products made from a Full Spectrum Extract containing all of the flower’s cannabinoids, terpenes, and flavonoids is more beneficial than product made from the isolated CBD molecule  </li>
        <li>This increased benefit is called the Entourage Effect, and should be considered when purchasing products.</li>
      </ul>
    </li>
    <li>Consider using sublingual/oral solutions, not edibles, for systemic benefits.
      <ul>
        <li>When ingested and absorbed through the GI tract, 90% of the CBD is metabolized (deactivated) before being sent to the heart and circulated to the body.</li>
        <li>Edibles are an expensive way to consume CBD if you are looking for systemic benefits.</li>
      </ul>
    </li>
    <li>Consider using topical CBD that contains an absorption enhancer like Argan Oil if you will be using it for deeper tissue benefits.
      <ul>
        <li>CBD is not water soluble.  It cannot penetrate below the outer layer of skin.</li>
        <li>Argan Oil is an absorption enhancer that allows molecules like CBD to penetrate through the skin to deeper structures.</li>
      </ul>
    </li>
    <li>Consider buying from a manufacturer committed to transparency.
      <ul>
        <li>Some manufacturers understand the above considerations, and are committed to testing their products and making the test results readily and easily accessible.</li>
        <li>Seek out manufacturers who follow those practices.</li>
      </ul>
    </li>
  </ol>
  <p>* always insist on seeing test results for the product Lot # you are purchasing</p>
  <p class='print-only'>This guide was written by Richard Wheeler M.D. Learn more at <em>www.ravenridgefamilyfarm.com</em>.</p>
</article>

<script language='javascript'>
function printFaq() {
    var prtContent = document.getElementById('ttc');
    var WinPrint = window.open('', '', 'letf=0,top=0,width=700,height=800,toolbar=0,scrollbars=0,status=0');
    WinPrint.document.write("<html><head><style>@import url('/css_uglified.css');</style></head><body>" + prtContent.innerHTML + "</body></html>");
    WinPrint.document.close();
    myVar = setTimeout(function(){
      WinPrint.focus();
      WinPrint.print();
      WinPrint.close();
      clearTimeout( myVar );
    }, 1000);
}
</script>

<section class='alt-section'>
  <p>A tool to compare different products is available here.</p>
  <p id='printout'><strong>PRINT this information</strong> by <a href='javascript:printFaq();'>clicking here</a>.</p>
  <p>For additional information on CBD and CBD Products visit <a href='www.ravenridgefamilyfarm.com'>www.ravenridgefamilyfarm.com</a>.</p>
</section>
