<small logo of RavenRidge here>

<h1>FAQs About CBD</h1>
<span>for patients and folks considering or using CBD</span>

<p>ADDITIONAL INFORMATION FOR CLINICIANS can be found <a href='/farmdoc/clinician_faq'>here</a>.</p>

What is the Endocannabinoid System?
The endocannabinoid system is one of the largest receptor systems in our body.  The major receptors are CB1 and CB2.

They are found in most tissues, but are concentrated in the brain, spinal cord, nerves, immune cells, fatty tissue and muscle.

Its primary role is to return our body to baseline functioning when we experience physical or emotional stress.

<Image 1> Image of endocannabinoid system

Additional information, with references, for Clinicians can be found here <link to the same question in the Clinicians’ FAQs about CBD page>

What molecules does our body produce that activate the Endocannabinoid System (these are referred to as Endocannabinoids)?

The primary Endocannabinoids are AEA (also referred to as Anandamide) and 2-AG.

They are produced when we experience physical or emotional stress, and attach to the CB1 and/or CB2 receptors to restore the body to baseline functioning.

Additional information, with references, for Clinicians can be found here <link to the same question in the Clinicians’ FAQs about CBD page>

How does Cannabidiol (CBD) work

Like most molecules that have an effect on our body, CBD interacts with a large number of receptors in our body.  CBD activates some of these receptors and blocks other ones, resulting in anti-inflammatory, pain relieving, anxiety relieving, and other effects.

It is important to note that while many people seem to benefit from taking CBD for these effects, studies to date have only proven it to be effective in treating certain seizures in children.

Additional information, with references, for Clinicians can be found here <link to the same question in the Clinicians’ FAQs about CBD page>

Where is (CBD) produced in the hemp plant?

CBD, is produced and stored in small, sac-like structures on the Hemp flower, called trichomes.

It is produced as CBDA (cannabidiolic acid), the acid form of CBD.  CBDA is converted to CBD using heat, or light exposure.

<Image 2> Image of Trichomes

Additional information, with references, for Clinicians can be found here <link to the same question in the Clinicians’ FAQs about CBD page>

What other biologically active molecules are produced and stored in the hemp trichomes?

Hemp produces over 100 Cannabinoids other than CBD and small amounts of THC.

It produces small amounts of essential oils (terpenes) that can have anti-inflammatory, calming, and other effects.

It also produces small amounts of Flavones which have anti-inflammatory effects.

Products made from a Full Spectrum Extract containing all the bioactive molecules produced by hemp exhibit what is referred to as the entourage effect.

Additional information, with references, for Clinicians can be found here <link to the same question in the Clinicians’ FAQs about CBD page>

What is the entourage effect?
When CBD is extracted from the hemp flower and used as a single molecule, it requires large doses to have a clinical effect.

When extracted along with all the other biologically active molecules hemp produces (referred to as a Full Spectrum Extract), much smaller amounts of CBD produce a similar effect.

Additional information, with references, for Clinicians can be found here <link to the same question in the Clinicians’ FAQs about CBD page>

Is it legal to use CBD products?
Yes.

The 2018 Farm Bill made it legal to grow hemp.

The 2020 Farm Bill amended the 2018 Bill, making it legal to sell CBD products made from hemp .


Has the FDA approved pure CBD for use in any medicines?

Yes.  The FDA has approved pure CBD as a treatment for some forms of difficult to treat seizures in children.

Additional information, with references, for Clinicians can be found here <link to the same question in the Clinicians’ FAQs about CBD page>

Has the FDA approved any medicine made with CBD included in a Full Spectrum Extract?

Sativex is an oral spray formulated to treat spasms in Multiple Sclerosis.  It is approved for use in Canada and Europe, and is in clinical trials in the US, but has not yet been approved by the FDA.

Additional information, with references, for Clinicians can be found here <link to the same question in the Clinicians’ FAQs about CBD page>

Can CBD be applied on the skin?

Yes, but it is not water soluble, so it cannot penetrate below the surface layer of the skin (the epidermis).

It has to be combined with an absorption enhancer, like Argan Oil to penetrate and have an effect on deeper tissues.

Additional information, with references, for Clinicians can be found here <link to the same question in the Clinicians’ FAQs about CBD page>

How is CBD metabolized and why is that important?

It is metabolized primarily in the liver.

When ingested and absorbed in the GI tract, it goes directly to the liver and undergoes what is called first pass metabolism, which inactivates 90% of the CBD before it can have any systemic effects.

To avoid this, it is typically administered in a spray or drops absorbed in the mouth; or topically.

It can also be smoked and absorbed in the lungs, but long term effects of this route of administration are not known.

Additional information, with references, for Clinicians can be found here <link to the same question in the Clinicians’ FAQs about CBD page>

Does CBD interact with other medications?

CBD in the high doses contained in prescription medicine can interact with medicines like the blood thinner Coumadin, and thyroid replacement medications like Synthroid.

In the low doses contained in products made with Full Spectrum Extract, interactions are less likely.

However, if you are on prescription medicines, you need to discuss using CBD products with your Health Care Provider prior to taking them.

Additional information, with references, for Clinicians can be found here <link to the same question in the Clinicians’ FAQs about CBD page>

What Precautions are there?

You should discuss using CBD with your Health Care Provider prior to use.

This is especially important if you have liver, kidney, or heart disease.

It should not be used if you are pregnant, or breastfeeding.

Most products made from Full Spectrum Extract contain small amounts of THC, which may be detectable on drug screening.  If you are subject to work related drug screening, you should inform your employer prior to use.

Additional information, with references, for Clinicians can be found here <link to the same question in the Clinicians’ FAQs about CBD page>

What are common Side Effects of CBD included in a Full Spectrum Extract?

Side effects are uncommon.  If they do occur they tend to be very mild and resolve after regular use.

The most common are dizziness; nausea; stinging at the site of oral application, which typically resolves by alternating sites of application (under tongue, sprayed on the inside of one cheek or the other).

Additional information, with references, for Clinicians can be found here <link to the same question in the Clinicians’ FAQs about CBD page>

What evidence is there that CBD is effective in treating defined medical conditions?

There is evidence from studies on human and animal tissue, what are referred to as pre-clinical studies, that demonstrate CBD’s effects on receptors involved in many conditions.

While demonstrating the mechanism of action is an important first step, well done clinical trials are required to prove a clinically relevant effect.

There is a lot of anecdotal evidence that CBD can be effective, especially for joint pain related to arthritis, muscle or ligament pain, difficulty sleeping, anxiety, and PTSD.

However, there is currently minimal evidence from well done clinical trials for any of these uses.

Until those trials are done, benefit from CBD for any condition is speculative.

If you decide to try CBD, you should discuss with your Health Care Provider prior to use, and be sure to purchase high quality products that contain the amount of CBD you are paying for.

“These statements have not been evaluated by the Food and Drug Administration.  This product is not intended to diagnose, treat, cure, or prevent any disease.”

You can find information on things to consider when purchasing a CBD product here <link to The Farm Doc Guide- Things to Consider When Purchasing CBD Products>

A PRINTABLE VERSION of this information can be accessed. <link to printable version>

For additional information on CBD and CBD Products visit www.ravenridgefamilyfarm.com
