<h1>Our family farm is more than a farm, and its about more than our family!</h1>

<section>
  <p>We farm, grow hemp, and make CBD products, but there’s so much more to our story. Each member of our family has our own path, skills, and reasons for choosing this work, this land, and this approach.</p>
  <p>Customers and community members tell us that our stories, and how they weave together, are an integral part of why they choose to support our farm. So we’d like to share them with you.</p>
  <h2>Meet your farmers!</h2>
  <div class='flex_box_top_align'>
    <div class='farmer_profile'>
      <img src='/square_dad_willy_sm.jpg' />
      <h3>Richard</h3>
      <span>Soil Enthusiast • </span><span class='extra-content'>Family Physician • </span><span class='really-extra-content'>Skeptic • </span><span>Grandfather</span>
      <p>As a primary care physician, I observed and treated the effects of modern life, disconnected from the natural world. <a class='hidden' href='/learn/richard'>Read Richard's Story</a></p>
    </div>
    <div class='farmer_profile'>
      <img src='/square_mom_pruning_hemp.jpg' />
      <h3>Michele</h3>
      <span>City Girl in the Country • </span><span class='extra-content'>Artist • </span><span class='really-extra-content'>Educator • </span><span>Grandmother</span>
      <p>Bringing the soil back to life brings continued life back to us.<a class='hidden' href='/learn/michele'>Read Michele's Story</a></p>
    </div>
  </div>
  <div class='flex_box_top_align'>
    <div class='farmer_profile'>
      <img src='/square_cynthia_holds_hemp.jpg' />
      <h3>Cynthia</h3>
      <span>Mother • </span><span class='really-extra-content'>Gardener • </span><span class='extra-content'>Massage Therapist • </span><span>Horse Woman</span>
      <p>It’s all connected: the soil, the living organisms above and below ground, our food, how we treat each other and the world around us.<a class='hidden' href='/learn/cynthia'>Read Cynthia's Story</a></p>
    </div>
    <div class='farmer_profile'>
      <img src='/square_nathan_hen.jpg' />
      <h3>Nathan</h3>
      <span>Unlikely farmer • </span><span class='extra-content'>Environmentalist • </span><span class='really-extra-content'>Web Developer • </span><span>Father</span>
      <p>Hemp in and of itself is not agriculture’s salvation. The way humans choose to grow hemp could be. <a class='hidden' href='/learn/nathan'>Read Nathan's Story</a></p>
    </div>
  </div>
</section>
<hr />
<section class='well_padded'>
  <h2>The rest of the crew.</h2>
  <p>We'd be remiss not to mention at least some of the other folks who have contributed to the farm.</p>
  <section>
    <h3>Grandma Hunt</h3>
    <p>Grandma lives on the farm and has been involved from the beginning. She carried chicken poop from vine to vine at the original grape planting. She has seen animals of every sort come and go. And although she did spend much of her youth on a farm, she certainly never expected to spend her final years on one too!</p>
    <img src='/grandma_and_goat.jpg' class='nl_center_small' alt='Grandma Hunt holds a young goat at Hidden Springs.' />
    <p>In her ninth decade, she is still helping out wherever she can and has weighed in as many buckets of hemp as anyone over the past three years of harvest. Thank you Grandma. We love you.</p>
    <img src='/grandma_hemping.jpg'  class='nl_center_small' alt='Grandma Hunt helping weigh in the hemp harvest with Nathan and little Willy watching on.' />
  </section>
  <hr />
  <section>
    <h3>The Boys</h3>
    <p>Shauna ( the middle daughter ) and her three boys have helped out whenever something major is happening during their visits to the farm. Dan is the work-horse. Braxton is the clever one. And Adam is the wild child. Each of them has left a mark on the farm.</p>
    <p>Then there are Tretan and Gabe, children of Richard's brother Ernie ( more on him below ). These two characters are always around. It seems every time I visit the hogs, I pass them wandering this way or that across the farm. To be fair, they really only help when they have to, but I don't blame them. Farming is hard work. </p>
    <h3>The Girls</h3>
    <p>Ben ( the youngest son ) and his family of fine ladies have also helped out when opportunity allows, and having the creative energies of all those girly brains working for us certainly never hurts. Shoot, Ben himself is sometimes helpful, too. ;)</p>
    <p>There is one other lady in need of mentioning and that is Georgia. Cynthia's daughter is a little ray of sunshine when she's not a thundercloud of doom. Either way, her help wrangling little William is invaluable when mama needs to milk a goat.</p>
    <h3>The other brother</h3>
    <p>This brother belongs to Richard, so he's uncle to half of us. Ernie and his wife Cathy run <a href='http://www.borrowedlandfarm.com'>Borrowed Land Mushroom Farm</a> out of a small corner of the RavenRidge land. They live on-site, homestead and help with animals when no-one else is around. The spent substrate from their mushroom business is one of the core ingredients in our hemp growing soil!</p>
</section>
