<h1>Our family farm is more than a farm, and its about more than our family!</h1>
<p>We farm, grow hemp, and make CBD products, but there’s so much more to our story. Each member of our family has our own path, skills, and reasons for choosing this work, this land, and this approach.</p>
<p>Customers and community members tell us that our stories, and how they weave together, are an integral part of why they choose to support our farm. So we’d like to share them with you.</p>
<h2>Meet your farmers!</h2>
<div class='flex_box_top_align'>
  <div class='farmer_profile'>
    <img src='/square_dad_willy_sm.jpg' />
    <h3>Richard</h3>
    <span>family physician • grandfather • skeptic • soil enthusiast</span>
    <p>As a primary care physician, I observed and treated the effects of modern life, disconnected from the natural world. <a href='/learn/richard'>Read Richard's Story</a></p>
  </div>
  <div class='farmer_profile'>
    <img src='/square_mom_pruning_hemp.jpg' />
    <h3>Michele</h3>
    <span>artist • educator • grandmother • city girl in the country</span>
    <p>Bringing the soil back to life brings continued life back to us.<a href='/learn/michele'>Read Michele's Story</a></p>
  </div>
</div>
<div class='flex_box_top_align'>
  <div class='farmer_profile'>
    <img src='/square_cynthia_holds_hemp.jpg' />
    <h3>Cynthia</h3>
    <span>EMT • massage therapist • mother • animal caretaker</span>
    <p>It’s all connected: the soil, the living organisms above and below ground, our food, how we treat each other and the world around us.<a href='/learn/cynthia'>Read Cynthia's Story</a></p>
  </div>
  <div class='farmer_profile'>
    <img src='/square_nathan_hen.jpg' />
    <h3>Nathan</h3>
    <span>unlikely farmer • environmentalist • web developer • father</span>
    <p>Hemp in and of itself is not agriculture’s salvation. The way humans choose to grow hemp could be. <a href='/learn/nathan'>Read Nathan's Story</a></p>
  </div>
</div>
