

<section class='story-time'>
  <section class='story-intro'>
    <p>Customers and community members tell us that our stories,
      and how they weave together,
      are an integral part of why they choose to support our farm.</p>
    <p><b>We would like to share those stories with you.</b></p>
  </section>

  <img src='/pilot_sunrise.jpg' alt='The lovely oranges and reds of a sunrise over Pilot Mountain as seen from the porch of the Big House at RavenRidge.'/>

  <p class='pad-above'><em>There is a place in North Carolina</em>, <br />
    in the morning shadow of a mountain <br />
    the Saura Native Americans called Jomeokee.</p>
  <p class='center-quote'><b>“the Great Guide”;</b></p>
  <img class='center-logo-part' src="/logo_pilot_mountain.png" alt='Artistic rendering of the iconic shape of Pilot Mountain, North Carolina.' />
  <p>It was carved by Mother Nature from
    the shores of <em>the Iapetus Ocean</em>,
    father to the Atlantic;</p>
  <p>This place was gifted to them, and the
    people lived in harmony with the land
    for many generations, gaining sustenance from its abundance.</p>
  <hr />
  <p>Over time, as the surrounding area was settled,
    the land changed hands many times until eventually
    it became a <em>small family tobacco farm</em>.</p>
  <p>It was still considered the most beautiful and
    abundant land to be found in the shadows
    of the mountain, and it was a good place
    to raise a family.</p>
  <p>The fertile fields provided the owners a good living,
    but over time, both the land and its owners wore out,
    and their children moved on.</p>
  <img class='center-logo-part' src="/logo_hanging_rock.png" alt='Artistic rendering of Cooks Mountain, one of the bluffs of Hanging Rock State Park, and visible from Hidden Springs.' />
  <section class='story-intro'>
    <h2>Richard and Michele Wheeler</h2>
    <p>In 2007, Richard and Michele purchased and became stewards of the land.
      They took their time to learn the lay of the land,
      and they became committed to recovering the diversity and abundance
      that once thrived here all on its own.</p>

      <div class='flex_box_top_align'>
        <div class='farmer_profile'>
          <img src='/square_dad_willy_sm.jpg' />
          <h3>Richard</h3>
          <span>Soil Enthusiast • </span><span class='extra-content'>Family Physician • </span><span class='really-extra-content'>Skeptic • </span><span>Grandfather</span>
          <p>As a primary care physician, I observed and treated the effects of modern life, disconnected from the natural world. <a href='/learn/richard'>Read Richard's Story</a></p>
        </div>
        <div class='farmer_profile'>
          <img src='/square_mom_pruning_hemp.jpg' />
          <h3>Michele</h3>
          <span>City Girl in the Country • </span><span class='extra-content'>Artist • </span><span class='really-extra-content'>Educator • </span><span>Grandmother</span>
          <p>Bringing the soil back to life brings continued life back to us.<a href='/learn/michele'>Read Michele's Story</a></p>
        </div>
      </div>
  </section>
  <section class='story-intro'>
  <h2>Nathan and Cynthia</h2>
  <p>In time, this place came to be known as <b><em>RavenRidge Family Farm</em></b>,
    and the Wheeler's eldest son Nathan and wife Cynthia
    took on the task of farming the land in this new, yet ancient way.</p>
    <p><em>Turning the pratices of the past into possibility for a brighter future.</em></p>

    <div class='flex_box_top_align'>
      <div class='farmer_profile'>
        <img src='/square_cynthia_holds_hemp.jpg' />
        <h3>Cynthia</h3>
        <span>Mother • </span><span class='really-extra-content'>Gardener • </span><span class='extra-content'>Massage Therapist • </span><span>Horse Woman</span>
        <p>It’s all connected: the soil, the living organisms above and below ground, our food, how we treat each other and the world around us.<a href='/learn/cynthia'>Read Cynthia's Story</a></p>
      </div>
      <div class='farmer_profile'>
        <img src='/square_nathan_hen.jpg' />
        <h3>Nathan</h3>
        <span>Unlikely farmer • </span><span class='extra-content'>Environmentalist • </span><span class='really-extra-content'>Web Developer • </span><span>Father</span>
        <p>Hemp in and of itself is not agriculture’s salvation. The way humans choose to grow hemp could be. <a href='/learn/nathan'>Read Nathan's Story</a></p>
      </div>
    </div>

    <p>Cynthia and Nathan also manage a second farm
      called <b>Hidden Springs</b>, on Cynthia's family land <br />
      at the base of Sauratown mountain.</p>
  </section>
    <img class='center-logo-part' src="/logo_sauratown.png" alt='Artistic rendering of Sauratown mountain outside of King, North Carolina. Home of Hidden Springs Horse Farm' />

    <p>To make a long story short:<br/>
      We raise animals ( including children ).<br />
      We grow hemp following regenerative practices.<br />
      And we make CBD products from that hemp. <br />
    but as you can see, there’s so much more to our story than that.</p>
    <hr />
</section>
<section class='well_padded'>
  <h2>The rest of the crew.</h2>
  <p>We'd be remiss not to mention at least some of the other folks who have contributed to the farm.</p>
  <section>
    <h3>Grandma Hunt</h3>
    <p>Grandma lives on the farm and has been involved from the beginning. She carried chicken poop from vine to vine at the original grape planting. She has seen animals of every sort come and go. And although she did spend much of her youth on a farm, she certainly never expected to spend her final years on one too!</p>
    <img src='/grandma_and_goat.jpg' class='mtw_center_small' alt='Grandma Hunt holds a young goat at Hidden Springs.' />
    <img src='/grandma_waits.jpg' class='fl' alt='Grandma Hunt helping weigh in the hemp harvest with Nathan and little Willy watching on.' />
    <p>In her ninth decade, Neva is still helping out wherever she can and has weighed in as many buckets of hemp as anyone over the past three years of harvest. Here she is pictured at left waiting for us to bring her a few more buckets. Thank you Grandma Hunt. We love you.</p>

  </section>
  <section>
    <h3>The Boys</h3>
    <p>Shauna ( the middle daughter ) and her three boys have helped out whenever something major is happening during their visits to the farm. Dan is the work-horse. Braxton is the clever one. And Adam is the wild child. Each of them has left a mark on the farm.</p>
    <p>Then there are Tretan and Gabe, children of Richard's brother Ernie ( more on him below ). These two characters are always around. It seems every time I visit the hogs, I pass them wandering this way or that across the farm. To be fair, they really only help when they have to, but I don't blame them. Farming is hard work. </p>
    <h3>The Girls</h3>
    <p>Ben ( the youngest son ), wife Jenny and family of fine ladies and a little fellah have also helped out when opportunity allows, and having the creative energies of all those brains working for us certainly never hurts. Shoot, Ben himself is sometimes helpful, too. ;)</p>
    <p>There is one other lady in need of mentioning and that is Georgia. Cynthia's daughter is a little ray of sunshine when she's not a thundercloud of doom. Either way, her help wrangling little William is invaluable when mama needs to milk a goat.</p>
    <h3>The other brother</h3>
    <p>This brother belongs to Richard, so he's uncle to half of us. Ernie and his wife Cathy run <a href='http://www.borrowedlandfarm.com'>Borrowed Land Mushroom Farm</a> out of a small corner of the RavenRidge land. They live on-site, homestead and help with animals when no-one else is around. The spent substrate from their mushroom business is one of the core ingredients in our hemp growing soil!</p>
</section>
<hr />
<section>
  <h2>The animals</h2>
  <p>Last but not least, there is the menagerie of animals that travel from farm to farm, doing what they do best.</p>
  <p>The hogs are rooting.</p>
  <p>The chickens are laying eggs and eating bugs.</p>
  <p>The cows are grazing contentedly.</p>
  <p>And the horses ... well, they are just hanging out waiting for a scratch.</p>
</section>
