

<section class='story farm-story'>
  <section class='story story-intro'>
    <p><em>Customers and community members</em> tell us that our stories,
      and how they weave together,
      are an integral part of why they choose to support our farm.</p>
    <p><b>We would like to share those stories with you.</b></p>
  </section>

  <img src='/view_hs_from_rr.jpg' alt='From the higher points of RavenRidge you can see the surrounding view afforded by the location of this place.'/>

  <p class='pad-above'><em>There is a place in North Carolina</em>, <br />
    in the morning shadow of a mountain <br />
    the Saura Native Americans called Jomeokee.</p>
  <p class='center-quote'><b>“the Great Guide”</b><img class='center-logo-part' src="/logo_pilot_mountain.png" alt='Artistic rendering of the iconic shape of Pilot Mountain, North Carolina.' /></p>

  <p>It was carved by Mother Nature from
    the shores of <em>the Iapetus Ocean</em>,
    father to the Atlantic;</p>
  <p>This place was gifted to them, and the
    people <b>lived in harmony</b> with the land
    for many generations, gaining sustenance from its abundance.</p>
    <p class='pad-above'><em>Time passed ...</em></p>
  <section class='alt-section'>
    <img class='center-logo-part' src="/logo_hanging_rock.png" alt='Artistic rendering of Cooks mountain, an exposed bluff within nearby Hanging Rock State Park.' />
    <p>... eventually the surrounding area was settled by foreigners.
      The land changed hands many times until eventually
      it became a <em>small family tobacco farm</em>.</p>
    <p>It was still considered the most beautiful and
      abundant land to be found in the shadows
      of the mountain, and it was a good place
      to raise a family.</p>
      <img src='/pilot_sunrise.jpg' alt='The lovely oranges and reds of a sunrise over Pilot Mountain as seen from the porch of the Big House at RavenRidge.'/>
    <p>The fertile fields provided the owners a good living,
      but over time, both the land and its owners wore out,
      and their children moved on.</p>
      <p>Those who were left retired to a small
      corner of the property where they remain to this day.</p>
    <img class='center-logo-part' src="/charlie.jpg" alt='In this photo, Mr. Needham, the previous landowner, repairs part of a farm implement.' />
  </section>
  <section class='story story-intro'>
    <h2>New Owners, Renewed Purpose</h2>
    <p>In 2007, Richard and Michele purchased that worn out farm and became its stewards.
      They took their time to learn the lay of the land,
      and they nurtured their committment to recover the diversity and abundance
      that once thrived here all on its own.</p>

      <div class='flex_box_top_align'>
        <div class='farmer_profile'>
          <img src='/square_dad_willy_sm.jpg' />
          <h3>Richard</h3>
          <span>Soil Enthusiast • </span><span class='extra-content'>Family Physician • </span><span class='really-extra-content'>Skeptic • </span><span>Grandfather</span>
          <p>As a primary care physician, I observed and treated the effects of modern life, disconnected from the natural world. <a href='/learn/richard'>Read Richard's Story</a></p>
        </div>
        <div class='farmer_profile'>
          <img src='/square_mom_pruning_hemp.jpg' />
          <h3>Michele</h3>
          <span>City Girl in the Country • </span><span class='extra-content'>Artist • </span><span class='really-extra-content'>Educator • </span><span>Grandmother</span>
          <p>Bringing the soil back to life brings continued life back to us.<a href='/learn/michele'>Read Michele's Story</a></p>
        </div>
      </div>

      <p class='center-quote'>That first fall, a cacophony of flocking Ravens presented the name: <b>RavenRidge Family Farm</b></p>
  </section>
  <section class='story story-intro'>
  <h2>Enter Cynthia and Nathan</h2>
    <img class='center-logo-part' src="/logo_sauratown.png" alt='Artistic rendering of Sauratown mountain outside of King, North Carolina. Home of Hidden Springs Horse Farm' />
    When the time came for the Wheeler's son Nathan to again settle, after spending some hard years reconnecting with the natural world he, together with his wife Cynthia
    took on the task of farming the land at RavenRidge. For her part, Cynthia brought a wealth of crucial prior knowledge and experience as an animal caretaker.</p>
    <p>They have burrowed deep into this new, yet ancient way of managing land. Combining a deeply compassionate style with the newest science around what makes regenerative agriculture work.</p>
    <div class='flex_box_top_align'>
      <div class='farmer_profile'>
        <img src='/square_cynthia_holds_hemp.jpg' />
        <h3>Cynthia</h3>
        <span>Mother • </span><span class='really-extra-content'>Gardener • </span><span class='extra-content'>Massage Therapist • </span><span>Horse Woman</span>
        <p>It’s all connected: the soil, the living organisms above and below ground, our food, how we treat each other and the world around us.<a href='/learn/cynthia'>Read Cynthia's Story</a></p>
      </div>
      <div class='farmer_profile'>
        <img src='/square_nathan_hen.jpg' />
        <h3>Nathan</h3>
        <span>Unlikely farmer • </span><span class='extra-content'>Environmentalist • </span><span class='really-extra-content'>Web Developer • </span><span>Father</span>
        <p>Hemp in and of itself is not agriculture’s salvation. The way humans choose to grow hemp could be. <a href='/learn/nathan'>Read Nathan's Story</a></p>
      </div>
    </div>

    <h3>A quick nod to Hidden Springs Horse Farm</h3>
    <img src='/hidden_springs_sunrise.jpg' alt='Beautiful sunsets are not exclusively the domain of RavenRidge as seen here heading out the driveway from Hidden Springs' />
    <p>Cynthia and Nathan also manage a second farm
      called <b>Hidden Springs</b>, on Cynthia's family land
      at the base of Sauratown mountain. Here is where they live, tend the forests, and raise and train animals of all kinds ( including two children ).</p>
  </section>
    <hr />
    <h2>The Short of It</h2>
    <p class='center-quote'>The ambition for RavenRidge is to turn the land management pratices of the past into possibility for a brighter future.</p>
    <section class='important-summary'>
      <p>We raise and graze animals with compassion.<br />
        We grow hemp following regenerative practices.<br />
        And we make <a href='/shop'>CBD products</a> from that hemp.</p>
        <div class='flex_box'>
          <img src='/horses_in_hemp.jpg' class='center-logo-part' alt='At RavenRidge we run animals as part of our hemp operation. Here the horses Gus and Duke clean up fescue around the hemp plants.' />
          <img src='/hogs_on_terraces.jpg' class='center-logo-part' alt='We also run hogs in our production areas ... in the off-season, of course.' />
        </div>
      <p>But read on and you'll see, there’s so much more to our story than that.</p>
    </section>
    <hr />
</section>
<section class='well_padded'>
  <h2>The Rest of the Family</h2>
  <p>We'd be remiss not to mention at least some of the other folks who have contributed to the farm. As with any endeavor, it wouldn't be possible without support.</p>
  <section>
    <h3>Grandma Hunt</h3>
    <p>Grandma lives on the farm and has been involved from the beginning. She carried chicken poop from vine to vine at the original grape planting. She has seen animals of every sort come and go. And although she did spend much of her youth on a farm, she certainly never expected to spend her final years on one too!</p>
    <div class='flex_box'>
      <img src='/grandma_and_goat.jpg' class='center-logo-part' alt='Grandma Hunt holds a young goat at Hidden Springs.' />
      <img src='/grandma_waits.jpg' class='center-logo-part' alt='Grandma Hunt helping weigh in the hemp harvest with Nathan and little Willy watching on.' />
    </div>
    <p>In her ninth decade, Neva is still helping out wherever she can and has weighed in as many buckets of hemp as anyone over the past three years.</p>
    <p>Thank you Grandma Hunt. We love you.</p>

  </section>
  <section>
    <h3>The Boys</h3>
    <p>Shauna ( the middle child ) and her three boys have helped out whenever something major is happening during their visits to the farm. Dan is the work-horse. Braxton is the clever one. And Adam is the wild child. Each of them has left a mark on the farm.</p>
    <div class='flex_box'>
      <img src='/shaunas_boys.jpg' class='center-logo-part' alt="Sister Shauna and her boys are a big help on the farm." />
      <img src='/tretan_pipes_gabe.jpg' class='center-logo-part' alt='Tretan and Gabriel - nephews slash cousins - live on the farm but spend most of their time fooling around rather than farming. Boys!' />
    </div>
    <p>Then there are Tretan and Gabe, children of Richard's brother Ernie ( more on him below ). These two characters are always around. It seems every time I visit the hogs, I pass them wandering this way or that. To be fair, they really only help when they have to, but I don't blame them. Farming is hard work. </p>
    <h3>The Girls</h3>
    <p>Ben ( the youngest son ), wife Jenny and family of fine ladies and a little fellah have also helped out when opportunity allows, and having the creative energies of all those brains working for us certainly never hurts. Shoot, Ben himself is sometimes helpful, too. ;)</p>
    <div class='flex_box'>
      <img src='/ben_and_jen.jpg' class='center-logo-part' alt='Brother Ben and sister-in-law Jenny plant grapes in the early years of RavenRidge' />
      <img src='/georgia_with_flower.jpg' class='center-logo-part' alt='Georgia is a little ray of sunshine, here holding a like-colored flower.' />
    </div>
    <p>There is one other lady in need of mentioning and that is Georgia. Cynthia's daughter is a little ray of sunshine when she's not a thundercloud of doom. Either way, her help wrangling little William is invaluable when mama needs to milk a goat.</p>
    <h3>The other brother</h3>
    <p>This brother belongs to Richard, so he's uncle to half of us. Ernie and his wife Cathy run <a href='http://www.borrowedlandfarm.com'>Borrowed Land Mushroom Farm</a> out of a small plot of land adjacent to RavenRidge. They homestead and help with animals when no-one else is around.</p>
    <p>The spent substrate from their mushroom business is one of the core ingredients in our hemp growing soil!</p>
    <img src='/substrate.jpg' class='center-logo-part' alt='Spent mushroom substrate is a key component of building our healthy soil.' />
</section>
<hr />
<section>
  <h2>The animals</h2>
  <p>Last but not least, there is the menagerie of animals that travel from farm to farm, doing what they do best.</p>
  <p>The hogs are rooting.</p>
  <p>The chickens are laying eggs and eating bugs.</p>
  <p>The cows are grazing contentedly.</p>
  <p>And the horses ... well, they are just hanging out waiting for a scratch.</p>
</section>

<img class='center-logo-part' src='/logo_hanging_rock.png' alt='This artists depiction shows Cooks wall at Hanging Rock State Park, visible from Hidden Springs.' />
