<article class='story personal-story'>

  <h1>Cynthia</h1>
  <img src='/cynthia_header.jpg' alt='Cynthia family farm sits at the base of Saruatown Mountain, shown here covered in a dusting of snow.' />
  <p>I have been with Raven Ridge for a little over 4 years. It has always been clear that treating this land with respect has been a top priority. It was a struggle(and fun) working through what the options were to bring revenue into the farm without compromising our values. When hemp presented itself to Nathan and I, we encouraged everyone to consider it.</p>
  <p>We all loaded up and attended a local Hemp Conference so that we could get a better grasp on this concept. After educating ourselves, we decided this could be the door we had been looking for.</p>
  <img src='/cynthia_from_betsy.jpg' class='center-logo-part' alt='Cynthia looks through a door. In this case that of her trusty old Chevy Truck, Besty' />
  <div class='alt-section'>
  <h2>Regarding Hemp and CBD</h2>
    <p>For me, the key aspects of hemp are:</p>
    <ul>
      <li>It grows harmoniously with the soil, and</li>
      <li>It helps people and animals.</li>
    </ul>
    <p>With my background as an EMT and as a Massage Therapist, I have had an up close view of people’s daily struggles. I also have a passion for helping them find answers, feel good, and take care of their bodies.</p>

    <p>Personally, I use CBD for anxiety, to help with sleeping, and for TMJ pain relief.</p>

    <p>My aunt with chronic knee issues; through using the sublingual and salve product has been able to decrease her pain enough to start exercising. Her ultimate goal was to lose some weight and gain muscle to support her weak knees. In a relatively short time she was able to start running again! She also found hormone balancing benefits from the product.
    This is a product that supports her both mentally and physically.</p>
  </div>
  <h2>Some Background</h2>
  <p>As long as I can remember, I’ve  felt connected to the land, and passionate about helping animals.</p>

  <img src='/cynthia_and_mama_hog.jpg' class='medium_image' alt='This picture shows Cynthia at her happiest - in this case scratching on a happy sows belly. This pig weighing in over 300 pounds!' />

  <p>As a little girl, I spent my time hiking, camping, riding horses in the forest and national parks, training dogs, and watching wildlife with my family. I have a memory of my sister and I at my grandparents’, spending hours trying to integrate ourselves into the deer herds that would come to graze. My parents did a great job encouraging us to be connected to what was around us.</p>

  <p>A real life-changing moment for me was with my Dad’s best friend Butch. He was a wildlife rehabber and he would show me the animals he had when we visited. My eyes really opened one day as we stood in his carport looking at the Copperhead snake he was relocating in an attempt to save its life. He spoke of how beautiful, smart, and meaningful this snake was. It changed my perspective. I could feel and see what he was talking about. After that day I never looked at things the same again. I am a firm believer that everything is about perspective.</p>

  <p class='center-quote'>When you know better, you do better.</p>
  <h2>Raising Animals</h2>

  <p>  I was fortunate to be exposed early in life to the reality of factory farming of animals and large scale agriculture. I might not have known how to make it better but I knew what I was seeing didn't feel good.</p>
  <p>I could never settle into the idea that the environment or animals had to suffer for us to take what we wanted from them. In fact I am very proud of the way we now raise our own meat from pigs and chickens. Our animals live the good life, from beginning to the end.</p>
  <p><em>I see them as beautiful, smart and important creatures -- the same way I try to look at every living thing.</em></p>
  <img src='/milkweed_and_grass.jpg' class='center-logo-part' alt='A beatiful drawing of a milkweed plant.' />

  <h2 id='the_tornado'>The Tornado</h2>
  <p>Only a year into our relationship, Nathan and I had returned home to the farm at Hidden Springs after buying strawberries to make jam. Suddenly we got a warning on my phone about a tornado in the area. Nathan looked out the front door and saw it, literally as it was coming straight towards the middle of our farm. Thankfully, no one was injured, and we only lost one chicken, but the impact on our land was devastating: forest and habitat destroyed right through the heart of this land.</p>
  <p>It has been hard to process, but it has also been amazing to watch the forest recover, the birds and ground animals take advantage of the new habitats created by the piles of trees. We have been blessed to watch this land transition from forest into these thriving new ecosystems.</p>
  <img src='/cynthia_george_and_nathan.jpg' class="medium_image" alt='Cynthia and Nathan are riding the old Long brand farm tractor at RavenRidge, with George the lap-dog riding along.' />
  <p>From the very first interaction with Nathan, I knew he thought outside the box, like me. Together we have been able to learn and study everything around us. When I walk through a field, I see so much more now than I ever would have imagined years ago. When you really start to study what is happening around you, and can see both the good and the bad, you discover that becoming more aware isn’t the easy way.</p>
  <p>When I drive past newly cleared forest or plowed fields or overgrazed pastures that haven’t been managed in a way that is cohesive with nature, my heart hurts. It hurts for the land, for the surrounding habitat, for the displaced wildlife, and for our children.</p>
  <p class='center-quote'>I understand why some people have chosen to be disconnected, but I now believe it is crucial that we help people to understand why being connected can be so rewarding.</p>

  <h2>What it's all about</h2>
  <p>My philosophy goes back to connection, and to the statement, “When you know better, do better.” I am passionate about seeing a spark in someone’s eye when you expose them to something that they have never seen done before, in the way that you do it. These moments shaped who I am today.</p>

  <p>It is important that people understand that it’s all connected: the soil, the living organisms above and below ground, our food, our water ... how we treat each other and the world around us. If you can open someone’s eyes to why the little changes matter, then I believe they start making better and better choices. It isn’t why one way is wrong, it’s how we can all make it better for everyone and everything.</p>

  <p>By <a href='/shop'>purchasing our products</a>, you are committing to helping us continue our vision, but you are also buying the best of the best. It matters how the plants are grown, it matters that we know what is in our product and what isn’t, it matters that it is hand harvested and cared for daily, it matters that we work with the crop and the land, it matters that the final product is made by hand with the best possible ingredients.</p>

  <p>It isn't just what is in our product, it’s also about what is not.</p>

  <p>In supporting our farm, you are supporting the future for younger generations. You are helping to guarantee that children will have a chance to live in a gorgeous world like I did as a child. You are also placing value where it matters -- in the things that truly matter.</p>
  <img src='/cynthia_duke_and_kids.jpg' alt='Cynthia spends as much time as possible with the kids and the horses. Here she has little William behind Georgia on trusty old Duke.' />


</article>

{{>mtw_navigation nav=nav}}
