<article>
    <h1>Product FAQS</h1>
    {{#each faqs}}
      <section>
      <h2>{{{category}}}</h2>
      {{#if image}}
      <img src="/{{image}}" />
      {{/if}}
      {{#each items}}
      <div>
        <h3>{{question}}</h3>
        <p>{{{answer}}}</p>
      </div>
      {{/each}}
      <section>
    {{/each}}
</article>
