<header class='mains_header'>
  <h1>Learn all about it here!</h1>
</header>
<article>
  <p>Education ... sharing what we have learned through our own experiences ... is part of our
    core mission at RavenRidge Family Farm. This is your springboard to that knowledge.</p>
  <p>We hope you find the content useful. It is divided up into categories that will change over time,
      but you'll always be able to find what you're looking for here.</p>

    <h2>Learn more about:</h2>
    <ol>
      <li><a href='/learn/third_party_testing'>Third-party, DEA certified testing</a></li>
      <li><a href='/learn/why_ravenridge'>Why you should buy from RavenRidge?</a></li>
      <li><a href='/learn/why_regenerative'>Why Regenerative Practices matter</a></li>
      <li><a href='/learn/product_faqs'>Product FAQ's</a></li>
      <li><a href='/learn/meet_the_wheelers'>Meet the Wheelers</a></li>
    </ol>
</article>
<footer>
  <p>Be sure to sign up for our newsletter: </p>{{#newsletter_signup}}{{/newsletter_signup}}
</footer>
