
<article class='story story-intro'>
  <h1>Learn all about it here!</h1>
  <p>Educating, <em>by sharing what we have learned through our own experiences</em>, is part of our
    core mission at RavenRidge Family Farm. </p>
  <img class='center big' src='/welcome_cardinal.jpg' alt='This drawing of a cardinal with one wing out invites us in to the learning space.' />
  <section class='center big'>
    <h2>We're undergoing some work here.</h2>
    <p>So the content you've grown used to may be gone for a while. We'll be back before long, better than ever.</p>
  </section>
<section class='well-padded center big'>
  <h2>The RavenRidge Monthly Newsletter</h2>
  <p>Be sure to sign up for our monthly newsletter: </p>
  {{#>newsletter_signup}}{{/newsletter_signup}}
  <p>You can read past <a href='/newsletter/'>newsletter editions here</a>. The emailed version comes in an abbreviated format.</p>
</section>
<footer class='center-quote'>Didn't find what you were looking for? Email us at ravenridgefamilyfarm @ gmail.com</footer>
