
<article class='story story-intro'>
  <h1>Learn all about it here!</h1>
  <p>Educating, <em>by sharing what we have learned through our own experiences</em>, is part of our
    core mission at RavenRidge Family Farm. </p>
  <img class='center big' src='/welcome_cardinal.jpg' alt='This drawing of a cardinal with one wing out invites us in to the learning space.' />
  <p>We hope you find this content useful and informative.</p>
</article>
<article class='story farm-story'>
    <h2>Current Topics of Interest</h2>
    <ul class='no-decoration padded-list'>
      <li>Why buy <a href='/learn/why_ravenridge'>RavenRidge Regenerative CBD</a> products?</li>
      <li>Third-party, DEA certified <a href='/learn/third_party_testing'>product testing</a>.</li>
      <li>RavenRidge's <a href='/learn/transparent_pricing'>transparent pricing</a>.</li>
      <li>Which product <a href='/learn/which_product'>the Farm Doc recommends for you</a>?</li>
      <li><a href='/learn/product_faqs'>Product FAQ's</a>.</li>
      <li>Why <a href='/learn/why_regenerative'>Regenerative Practices matter</a>.</li>
      <li>Meet <a href='/learn/meet_the_wheelers'>the Wheelers</a>!</li>
    </ul>
</article>
<img class='center tiny' src='/the_snail.jpg' alt='This hand drawn snail leads the way to the monthly newsletter.' />
<section class='well-padded center big'>
  <h2>The RavenRidge Monthly Newsletter</h2>
  <p>Be sure to sign up for our monthly newsletter: </p>
  {{#>newsletter_signup}}{{/newsletter_signup}}
  <p>You can read past <a href='/newsletter/'>newsletter editions here</a>. The emailed version comes in an abbreviated format.</p>
</section>
<footer class='center-quote'>Didn't find what you were looking for? Email us at ravenridgefamilyfarm @ gmail.com</footer>
