<article>

  <h1>Michele</h1>

  <p>I was a “city girI” for over 50 years and had no thoughts of that being any different. Some stressful family events forced me to take charge of my emotional health. I began walking several miles a day. Choosing not to take my cell phone, it was just me with no distractions visiting neighborhoods, parks, greenways, taking note of nature’s abundance. I visualized roots growing from my feet, passing through the pavement, into the soil, into underground backyards teeming with life, awakening once again that sense of curiosity and wonder.</p>

  [photo of Michele, maybe in the city? Or could be on the farm]

  <p>Over the years, Richard and I had had conversations about finding some acreage in a rural area as a place of discovery and connection for our grandchildren. Then one day we “up and bought” a farm in Pinnacle, NC, situated at the base of Pilot Mountain state park.</p>

  <p>In the fall, the cacophony of migratory Ravens presented a name for our farm: RavenRidge.</p>

  <p>Being directionally challenged, the idea of walking through our 58 acres of fields and woods was a bit intimidating. Then it occurred to us that we should walk the patchwork of cattle fencing to create walking trails around smaller areas. Now there were multiple small sections to explore, multiple backyards. Daily walks gave me the opportunity to observe a variety of growing environments and see parallels between depleted fields and my own feelings of weariness. A very real connection began to emerge between regenerating and nurturing healthy soil and regaining my own emotional equilibrium and strength.</p>

  [Photo: cattle fencing, one of the “backyards”, or something indicating soil regeneration]

  <p>Five years ago, our son Nathan came back to live at the farm for a while. There were brainstorming sessions and opportunities to try and implement new ideas. Early on, we recognized that our goals for the farm didn’t fit completely with that of being simply sustainable or organic. Over time, we have seen that our  philosophy and approach are aligned more with regenerative farming. Bringing the soil back to life brings continued life back to us.  </p>

  <p>Nathan and Cynthia introduced the idea of growing hemp as part of our regenerative plan for the farm. After lots of “due diligence” work, we hired Nathan as our farm manager, and we put our first hemp crop in the ground. The goal was to grow, process and make CBD based products, conduct a small scale study to help inform our purpose and plan for the next years.  My mom and I were both part of that initial study. Increased pain from osteoarthritis was impacting mom’s ability to sew, knit, read, walk and sleep. Neck and hand pain made it more difficult for me to create art, play a musical instrument and do farm work. That was 3 years ago, and we both continue to benefit from using CBD salve and sublingual and savor the improved quality of life.</p>

  [Photo of Michele and her mom? Or of Michele playing an instrument, making art, doing something active on the farm, etc.… could even be something with the grandkids]

  <p>When we moved to our farm I had no idea where it would all lead. Going slowly and respectfully has been key to the evolution of our farm. The place I call home provides endless learning opportunities, exhausting sometimes and amazing. Every day there is something new to observe and discover. </p>

</article>
