
<article>

  <h1>Nathan</h1>

  <p>I have spent the better part of 5 days a week over the last 5 years toiling on the land at RavenRidge Family Farm. That’s right: I said “toiling.” I never wanted to be a farmer. I didn’t ask for this. Life just has its own way of making you stand up and take notice. For me, that was the day my son William was born into this world. But I’m getting ahead of myself. </p>

  <img src='/nathan_and_willy.jpg' alt='Nathans life changed forever when his son Willy was born. If given his druthers, he would spend hours every day with Willy watching birds. If Willy would stay still.' />
  
  <p>I do have a strange affinity for plants. I would not call it a green thumb. Indeed, I have killed a full third as many hemp plants as I have grown out successfully. But there is something there … a primal sort of calling. Right now, even as I write this, I feel that tug at my chest. We were born into the forests, and I feel certain that on some deep level we all long to return to them.</p>

  [Photo: Nathan with the hemp plants]

  <p>Hemp is a really valuable plant: it provides food, fiber, fodder and medicine gladly, taking relatively little from the land and giving back more than its due. Yet hemp has become, as all things do in America, a fad. Folks are growing it labelled “good for the land” while tilling and hilling bare, exposed soil. Planting more plants per acre and leaving less residue behind. It is a travesty. Hemp in and of itself is not agriculture’s salvation. The way humans choose to grow hemp could be.</p>

  <p>The single most defining moment in my life took me nearly two years to appreciate as such. That moment was the birth of my son William into this world -- a world that at the time was becoming a scarier place by the moment, and has since been rocked by a global pandemic, increasingly intense climactic events, and an active attempt by a standing president to subvert an election that he lost resoundingly. On a more personal level, Cynthia and I were still getting used to the routines of our relatively new life together, and we had only begun processing the pain of the damage from the previous year’s tornado. </p>

  <p>But in this moment, something changed -- and I have known since then that it no longer mattered whether or not I wanted to be a farmer. It didn’t matter whether it was the hardest thing to do each morning just to drag myself out into the cold, dark world each morning. It didn’t matter that we didn’t even know how we were going to ever make the farm work. It just had to be done. William, my son, just like all of the other sons and daughters out there, all deserve to grow up into a world of promise and opportunity. They deserve to inherit a world every bit as vibrant and glorious as is the world of today, but it is going to take significant change to make that a reality. That’s what I’m all about.</p>

  <p>My hope for the future is that we are able to sustain the family farm with several proper living wages and have enough resources left over to begin making real and meaningful investments into the local community here. And I’d love to get my brother and sister involved. </p>

  <p>In the big picture, I’d like to see a serious attempt at designing, implementing and maintaining a locally sustainable food system somewhere in the United States. I’d love for it to be right here at home, but we may just not be ready yet. People need to see some models of this really working and we need to learn what all the levers are that need to be pulled in order to make the necessary changes happen in other communities all across the country. We cannot be long-term sustainable as a species if we remain dependent upon far distant workers in far distant lands doing a significant portion of our food production for us. (Nothing personal, Chile.) We need to regain control of our food system in the United States, and I think regenerative agriculture is the right framework for doing that.</p>

</article>
