
<article class='story personal-story'>

  <h1>Nathan</h1>

  <img src='/nathan_header.jpg' alt='The fields in front of Hidden Springs farm are often shrouded in mist early morning, as in this photograph looking down the driveway.' />
  <p>I have spent the better part of 5 days a week over the last 5 years toiling on the land at RavenRidge Family Farm.</p>
  <p>That’s right: I said <b>toiling</b>.</p>
  <p>Now, I don't want to give the impression that farming doesn't bring its fair share of pleasure, but make no mistake ... farming is hard.</p>
  <p>Building a successful business is hard.</p>
  <p>Heck, just doing things the "right way" rather than the "easy way" is ... <em>really hard</em>.</p>
  <p>So what makes it all worthwhile, you may ask? For me, the answers came in the form of my wife and partner Cynthia, and then my son William, although it has taken me the better part of these past four years to appreciate it.</p>
  <div class='flex_box'>
    <img src='/cynthia_with_milk.jpg' class='half lightly-padded' alt='Cynthia holds a quart of fresh goats milk, and smiles!' />
    <img src='/nathan_and_willy.jpg' class='half lightly-padded' alt='Nathans life changed forever when his son Willy was born. If given his druthers, he would spend hours every day with Willy watching birds. If Willy would stay still.' />
  </div>
  <h2>My Experience</h2>
  <p>I've been fortunate enough to have lived several lives in my four-plus decades on this planet. Most recently, I have adopted this role of caretaker to the RavenRidge land, but immediately before that I was a handyman, then a cell tower repairman. Before that an herbalist and student of permaculture. Prior to that I was a web developer and before that still, a student of Avian and Plant biology.</p>
  <p class='center-quote'>My point is this: we are all something, and we all have the opportunity to try to be something even better, tomorrow.</p>
  <h2>On Forests</h2>
  <p>I have a strange affinity for plants. I would not call it a green thumb, exactly. I have killed a full third as many hemp plants as I have grown out successfully.</p>
  <p>But there is something there … a primal sort of calling. I can feel it right now, even as I write this.</p>
  <p>We were born into the forests, and I feel certain that on some deep level we all long to return to them.</p>
  <img src='/in_the_forest.jpg' />
  <h2>On Hemp</h2>
  <p>Speaking of useful plants, hemp certainly is an interesting one: it casually provides superfood, fiber, fodder and medicine, while asking relatively little of the land in return. Yet hemp has become, as all things do in America, a fad.</p>
  <p>Folks are growing it labelled <em>good for the land</em> while tilling and hilling bare, exposed soil. Planting more plants per acre and leaving less residue behind. It is a travesty.</p>
  <p>If I've learned one thing about hemp over these three long years, it's this: <em>hemp in and of itself is not humanity’s salvation, but the way we choose to grow hemp, could be.</em></p>
  <img src='/nathan_in_hemp.jpg' class='medium_image' alt='Nathan in the hemp fields.' />
  <div class='alt-section'>
    <h2>Back on Track</h2>
    <p>Here's what I think folks, and I'll keep it simple:</p>
    <p>William, my son, just like all of the other sons and daughters out there, deserves to grow up into a world of promise and opportunity.</p>
    <p>They deserve to inherit a world every bit as vibrant and glorious as is the world of today, but it is going to take significant change to make that a reality.</p>
  </div>
  <p class='center-quote'>That kind of change is what I am all about.</p>

</article>
