

<h1>Regenerative Agriculture</h1>

<p>Thanks for your interest in regenerative agriculture. Although the concept has been around for many years, those who are practicing it are still deep in the soil developing the practices, tools and techologies needed to make economically viable regenerative farms work.
  We need the support of people like you, and although we can't talk about the specific ways our <a href='/purchase/'>Full Spectrum Hemp products</a> might help you, we can talk about how growing that hemp regeneratively can help the world.</p>

<img class='paired-half' src='/dad_on_utv.jpg' alt='Dad riding on the utility vehical along a grow bed with deep, dark soil within a verdant pasture.' /><img class='paired-half' src='/rake_on_row.jpg' alt='Hand gardening tools on cover cropped row of soil.' />

<h2>Definition</h2>

<p>In brief, regenerative agriculture is a different framework from conventional and organic agriculture for the production of natural-based food, fuel, fiber and medicine grounded in an appreciation for the limits of natural resources and our impact upon the ecological viability of our planet.
  Regenerative agriculture is how we feed humanity into the future while maintaining a viable home for ourselves and our children. We encourage you to visit the good folks at <a href='http://www.regenerativeagriculturedefinition.com/'>the regenerative agriculture definition project</a> to learn more, but be sure to come back for your full spectrum hemp needs.</p>

<h3>Goals of Regenerative Production at RavenRidge Family Farm</h3>
<ul>
  <li>Sequestering carbon in the soil to reverse the impacts of climate change.</li>
  <li>Encouraging diversity in all life forms above and below ground for more resilient growing systems.</li>
  <li>Keeping soil where it should be ... on the farm.</li>
</ul>
<img class='landscape' src='/cow_and_pigs.jpg' alt='Happy cow and hogs in diverse green pasture surrounded by temporary electric fencing.' />
<h4>A final caveat</h4>
<p>Regenerative agriculture is not a silver bullet. Sustaining our population in healthy ways that prioritize environmental stability over economic growth will require two key elements:
  time and backbone. Coronavirus may have bought us some of the first, but the second is entirely up to us. Learning how to transition our current commercial food production system into one
  that is more sustainable, much less regenerative, requires that we support local businesses who are thinking regeneratively, that we encourage the business owners, farmers and consumers who make these hard
  choices, and that we use our voice and our vote in favor of those who will take the fight all the way to the top. The rewards will be worth the effort.</p>
