
<article class='story'>
  <img src='/georgia_with_flower.jpg' class='center tiny' alt='Nathan and Cynthia&apos;s daughter holds a perfect yellow flower in front of her face.' />
  <section class='personal-story'>
    <h1>Why Regenerative Matters</h1>
    <p>We have been managing our land following regenerative practices for quite a few years now, and the land at both farms is becoming more vibrant with each season. The diversity of life supported by the fields and forests is a testament to the efficacy of these practices we have adopted.</p>
    <p>It is hard work, but we believe we owe it to our children to keep learning how we can live more harmoniously with the rest of the natural world.</p>
    <img src='/utv_rolling_hay.jpg' class='center medium' alt='Richard and Michele use the UTV to aid in rolling hay bales across the hemp rows in 2019.' />
    <p class='center-basic-quote'>We also believe we deserve it for ourselves, to truly experience the wonders of our living planet.</p>
    <p>We hope that through sharing what we learn, it may encourage others to change the way we grow and eat our food <a href='https://rodaleinstitute.org/wp-content/uploads/rodale-white-paper.pdf' target="_blank">which could impact the planet to the benefit of all of us</a>.</p>
    <p class='meaningful-quote'>For more about our evolution to becoming a Regenerative Operation read <a href='/learn/richard'>the Farm Doc’s story</a>.</p>
  </section>
  <section>
    <h2>What exactly is Regenerative Agriculture?</h2>
    <p><strong>Regenerative agriculture</strong> principles help us to grow food, fiber and fuel by actively supporting the living things in the soil that are actively supporting vibrant growth of the plants rooted within it.</p>
    <p>How these practices are implemented depends upon the unique context of any given plot of land being managed, but generally speaking:
      <div class='center-quote'>Regenerative Management encourages us to stop <strong>making plants grow</strong> and start <strong>letting plants grow</strong>.</div></p>
    <img class='center medium' src='/covercrop_and_hay.jpg' alt='Cover crop seed comes up evenly across this terrace which has also been mulched with hay.' />
    <p>It’s a different way of managing land-based resources and it uses a different toolbox from conventional agriculture. The way we practice it here at RavenRidge, it also uses a different toolbox from organic agriculture, but that is a conversation best saved for another day.</p>
  </section>
  <section class='alt-section'>
    <h3>How RavenRidge practices Regenerative Agriculture</h3>
    <p>Practically here at RavenRidge and at our partner farm Hidden Springs, to grow following Regenerative Practices means:
      <ul>
        <li>We keep our soil covered by leaving crop residue and applying organic mulches.</li>
        <li>We seed diversity wherever we can, both above and below the ground.</li>
        <li>We strive to keep a living root in the ground all year ‘round.</li>
        <li>We don’t till or use pesticides or herbicides.</li>
        <li>And we manage grazing intensity to minimize soil disturbance.</li>
      </ul>
      You heard right. We manage grazing intensity. That is because <em>we are also a Regenerative Grazing operation</em>.</p>
  </section>
  <section>
    <img src='/horses_on_hemp_hill.jpg' class='center big' alt='Two of our horses graze the pathways between sections of hemp.' />
    <h2>What is Regenerative Grazing?</h2>
    <p>The definition of this term is a bit more nebulous, but the goal of regenerative grazing is to manage animals in such a way that the land on which they are managed continually becomes healthier.
      <div class='center-quote'>In regenerative terms, healthier means <strong>more diverse</strong>, <strong>more abundant</strong> and <strong>more resilient</strong></div></p>
    <p>Simultaneously, the animals being grazed remain healthy even as we reduce external inputs over time such as dewormers, antibiotics, and manufactured feed supplements.</p>
    <p>Temporary electric polywire and portable solar fence energizers allow regenerative graziers like us to put fencing pretty much anywhere, which means we can try to provide the right menu to the right species at the right time, and we can manage based on what the conditions are at the moment of grazing, even when things don’t go to plan.</p>
  </section>
  <section class='alt-section'>
    <h3>Regenerative Grazing at RavenRidge</h3>
    <p>On the ground at our farms, being a Regenerative Grazing operation means:
      <ul>
        <li>We manage multiple species of animals across our two farms.</li>
        <li>We utilize animal impact through adaptive paddock rotations.</li>
        <li>We seed and graze diverse pastures and forests.</li>
        <li>We avoid managing more animals than our land can sustain.</li>
        <li>And we ensure that the animals we cull for food are processed humanely.</li>
      </ul>
    </p>
  </section>
  <section>
    <img src='/neva_on_hemp_hill.jpg' class='center big' alt='Neva, the matriarch of the family, walks to the top of hemp hill in 2019.' />
    <h3>The Nitty Gritty of Regenerative Land Management</h3>
    <p>When combined together, Regenerative Agriculture and Regenerative Grazing provide a very effective set of tools for managing land towards human production needs without sacrificing ecosystem health. Of course there is a lot more to it than just following a set of principles.</p>
    <p>There is timing, and the sourcing of animals and organic materials. There are coyotes and skunks who eat chickens and baby goats. There are hailstorms and mineral deficient field mice who ravage hemp plants. Don’t forget all the native plants to learn, and the insect poo to identify. There's welding and fencing and hay bailers to repair in the field.</p>
    <h3>Observation as a Primary Tool</h3>
    <p>As you get to know us, you'll find that observation is a through-line in much of what we do. Perhaps it's because, as a family comprised of scientists, healthcare professionals, artists, and problem-solvers, we feel strongly that this practice of consistently observing the land in order to tune in to its needs is both crucial and foundational.</p>
    <p>Ultimately Regenerative Managers know we have to learn how to ask the land what it needs, and then we have to learn how to look and listen.</p>
    <p>If you do this faithfully for long enough, you’ll begin to see and hear the answers.</p>
  </section>
  <hr />
  <section class='personal-story'>
    <h3>The Bottom Line</h3>
    <p>At RavenRidge we are proud to be growing food for our families, and hemp for our customers, following Regenerative Practices.</p>
    <img src='/hemp_2020.jpg' class='center big' alt='Hemp plants growing in dense covercrop during our 2020 season.' />
    <p>Whether you <a href='https://shop.ravenridgefamilyfarm.com'>try our CBD products</a> or not, we hope you’ll sign up for our newsletter below where we explore how we can change our perception of health by engaging more deeply with the world outside our doors.
      {{>newsletter_signup simple=true}}
    </p>
  </section>
</article>
