<article class='story personal-story'>

  <h1>Richard</h1>

  <img src='/richard_sunrise.jpg' class="img-personal-story-header" alt='Richard appreciates the lovely oranges and reds of a sunrise over Pilot Mountain as seen from the porch of the Big House at RavenRidge.'/>
  <p>I had practiced medicine as a Family Physician for 25 years prior to acquiring this land, with a dream of starting a vineyard and winery dedicated to using grapes that could thrive in North Carolina without spraying.  </p>

  <p>In 2010, with help from family and friends, we planted 25 varieties of hybrid grapes to see which would thrive in North Carolina.  </p>

  <img src='/richard_vineyard_planting.jpg' alt='The first grape planting at RavenRidge was a real to-do with friends and family pitching in.' />

  <p>Five years of observing and tending the grapes convinced me this would not be a 10 year project as initially envisioned. It also deepened my connection with the land, as <a href='/learn/michele#walking_the_land'>Michele and I explored</a> the property and its many “backyards” (micro-ecosystems).</p>
  <p>It revealed the impact of our actions as I watched the cornucopia of native bee populations decline and recover from our temporary experiment with honey bees (something we thought could only be beneficial).</p>
  <p>It revealed that the soil was critically ill, and needed to be nurtured back to health in order for the soil and ecosystem to sustainably support the family… in order for it to be a place where multiple generations could thrive as the original stewards so many generations ago had.  </p>
  <div class='alt-section'>
  <p>This all resonated with me as a primary care physician, <em>where I observed and treated the effects of modern life</em>, disconnected from the natural world and the consequences of our actions, on my patients’ health and wellbeing.  </p>
  </div>

  <p>Nathan and Cynthia had been interested in growing hemp for CBD, and I began exploring it as an option when it became legal to grow in North Carolina in 2016. While I was initially skeptical, research on the endogenous cannabinoid receptor system (one of the largest, most widely distributed, and most influential receptor systems in the human body, and one I, like most physicians, was unaware even existed); its role in maintaining homeostasis; the interaction of CBD with key receptor systems; and its use in Europe, convinced me it was safe, and that there were mechanisms of action that suggested it could be beneficial.</p>
  <p>I decided to purchase some CBD and try it for a lingering shoulder problem, and discovered the challenges of finding a high quality product. I eventually purchased some sublingual CBD, which I used for a month with unexpected benefit.</p>

  <img src='/richard_product_maker.jpg' class="medium_image" alt='Richard dons the lab coat and makes some sublingual product from our 2019 Hemp harvest.' />

  <p>That experience convinced me it was time to shift our focus to growing hemp for CBD, making products, and doing some double blinded “N of 1” placebo controlled trials to see if participants objectively appeared to benefit from taking CBD.</p>

  <p>For two years, we focused on regenerating the soil, and in 2018 we put in our first hemp crop. It was a failure, but there were many invaluable lessons, and we extracted enough CBD to do the trials with 25 family members and friends. Results and feedback from people with arthritis were especially encouraging, and the trials convinced me to proceed with growing hemp for CBD.</p>

  <p>Our second crop taught us more lessons, but was very productive.  We spent that winter preparing to sell CBD online, which we rolled out in January of 2020, with a focus on quality, transparency, and rapid, reliable delivery. COVID-19 had a significant impact on our roll-out, but it also reinforced our decision to focus on internet sales.</p>

  <img src='/richard_harvesting_hemp.jpg' class="well_padded" alt='Hemp harvest is always a family affair as Michele, son Ben and nephew Braxton show in this picture.' />

  <p>Our third crop again presented new opportunities to learn, but was highly successful and validated our focus on regenerating the soil and working in collaboration with our local ecosystem.</p>

  <p>We are now ready to engage with the broader community, applying and sharing what we have learned, and to recruit other collaborators who are interested in participating in regenerating their soil, engaging with their “backyard” ecosystem, and <a href='/shop'>using high quality products</a> grown following regenerative agriculture principles.</p>

  <p class='alt-section'>We believe that by focusing on our own “backyards,” sharing our learnings, and supporting others who do the same, we will have a broader global impact, as we rise to the challenge our planet faces.</p>
  <p class='center-quote'><b>I look forward to our collaboration.</b></p>

</article>
