
<article class='story personal-story'>

  <h1>Richard, <em>the Farm Doc</em></h1>

  <p>Richard, “The Farm Doc”, is a Family Physician with 28 years of clinical practice, primarily with Kaiser Permanente and Duke.  He has served as Chief Medical Officer for several companies, and is currently a Client Medical Director for <a href='https://www.cotiviti.com/'>Cotiviti</a>, a leading analytics and health care services company.</p>
  <section class='alt-section'>
    <p>He is co-owner of RavenRidge Family Farm in Pilot Mountain, North Carolina, along with his wife Michele, son Nathan, and daughter-in-law Cynthia.</p>
    <p>Mother-in-law Neva even pitches in during harvest, as seen below weighing hemp flower before Richard runs it through the extraction contraption.</p>
    <div class='flex_box'><img src='/hemp_and_cbd.jpg' class='medium center' alt='Richard is seen here mid-run separating kief from shake during the 2020 hemp harvest.' /></div>
    <p class='center-text'>( read Richard's <a href='/learn/richard'>full journey to regenerative farming here</a> )</p>
  </section>
  <p>The Farm Doc's experience as a primary care physician, and a regenerative farmer growing hemp and making CBD products, has led him to a deeper understanding and appreciation of the connection between <em>healthy soil; healthy plants; healthy people; and a healthy planet</em>.</p>
</article>
