<article class='story farm-story'>
  <h1>Pain tracker might help</h1>
  <img class='center huge' src='/symptom_tracker.png' alt='This chart provides an easy way to track your response to CBD over a month.' />
</article>
<article class='story personal-story'>
  <h2>What dosage should I buy?</h2>
</article>
