<section class='story'>
  <h1>Which product should I buy?</h1>
  <img src='/product_images/salve_and_sublingual_floor.jpg' class='center medium' />
  <p class='center-text title'>Look for <em>the Farm Doc's</em> recommendation in the table below.</p>
  <table class='question-table'>
    <tr><th>Reason for trying CBD</th><th>Recommended Product</th><th>Recommended Strength</th></tr>
    <tr><td>General health benefit.</td><td>Sublingual Oil</td><td><a href='https://shop.ravenridgefamilyfarm.com/collections/regenerative-cbd-sublingual-oil/products/regenerative-cbd-300mg-sublingual-oil'>300mg CBD per bottle</a><br /><strong>30 doses</strong> at <em>10 mg/ml</em></td><tr>
    <tr><td>Joints, sleep, or other specific reasons.</td><td>Sublingual Oil</td><td><a href='https://shop.ravenridgefamilyfarm.com/collections/regenerative-cbd-sublingual-oil/products/regenerative-cbd-900mg-sublingual-oil'>900mg CBD per bottle</a><br /><strong>30 doses</strong> @ <em>30 mg/ml</em></td></tr>
    <tr><td>Minor discomforts and skin related reasons.</td><td>Topical Salve</td><td><a href='https://shop.ravenridgefamilyfarm.com/collections/regenerative-cbd-salve/products/regenerative-cbd-1-salve?variant=37918800216219'>1% CBD - 300mg per oz</a></td></tr>
    <tr><td>Significan joint discomfort.</td><td>Topical Salve</td><td><a href='https://shop.ravenridgefamilyfarm.com/collections/regenerative-cbd-salve/products/2-regenerative-cbd-salve?variant=37918846582939'>2% CBD - 600mg per oz</a></td></tr>
  </table>
  {{>fda_approved class='center big'}}
</section>
<section class='story personal-story'>
  <h2>Can I use both at the same time?</h2>
  <p>Sure. Many of our customers <em>use both sublingual and salve products</em>. Keep in mind that sublingual products get to where they work via the bloodstream, while topical products get there through the skin.</p>
  <section class='alt-section'>
    <h3>Looking to bundle and save?</h3>
    <img src='/product_images/starter_packs.jpg' class='center medium' />
    <p>Try one of our two starter packs:
      <ul>
        <li><a href='https://shop.ravenridgefamilyfarm.com/collections/regenerative-cbd-starter-packs/products/low-dose-starter-pack'>Low Dosage Starter Pack</a> - I am intrigued and want to see if it works for me. </li>
        <li><a href='https://shop.ravenridgefamilyfarm.com/collections/regenerative-cbd-starter-packs/products/high-dose-starter-pack'>High Dosage Starter Pack</a> - I really need some help and hope this works!</li>
      </ul>
    </p>
  </section>
</section>
<section>
{{>visit_shop}}
</section>
