<section class='story personal-story'>
  <h1>Which product should I buy?</h1>
</section>
<article class='story'>
  <h2>Sublingual Oils</h2>
  <p>The main decision to make with sublingual oils is what strength to use. Below is how the Farm Doc recommends you go about making, and then refining that decision over time.</p>
  <p> BOOM!!!</p>
</article>
<article class='story'>
  <h2>Topical Salve</h2>
  <p>We offer only two strengths of topical salve, and if you haven't used salve before, we would suggest starting with the higher strength. You can always use less each time if you find that it works really well.</p>
  <p>There is also a question of size with the Salve, since we offer 1oz, 2oz and 4oz containers. Richard, suggests ...</p>
  <p>KaBlooey</p>
</article>
