<section class='story personal-story'>
  <h1>Which product should I buy?</h1>
  <img src='/product_images/salve_and_sublingual_floor.jpg' class='center medium' />
  <p>Look for your reason to be trying CBD in the table below and see <br class='really-extra-content' /><a href='/learn/richard'>the Farm Doc's</a> recommendations.</p>
  <table class='question-table'>
    <tr><th>Reason for trying CBD</th><th>Recommended Product</th><th>Recommended Strength</th></tr>
    <tr><td>General health benefit.</td><td>Sublingual Oil</td><td><a href='https://shop.ravenridgefamilyfarm.com/collections/regenerative-cbd-sublingual-oil/products/regenerative-cbd-600mg-sublingual-oil'>600mg CBD per bottle</a><br /><strong>30 doses</strong> at <em>20 mg/ml</em></td><tr>
    <tr><td>Joints, sleep, or other systemic reason.</td><td>Sublingual Oil</td><td><a href='https://shop.ravenridgefamilyfarm.com/collections/regenerative-cbd-sublingual-oil/products/1200mg-regenerative-cbd-sublingual-oil'>1200mg CBD per bottle</a><br /><strong>30 doses</strong> @ <em>40 mg/ml</em></td></tr>
    <tr><td>Minor discomforts and skin related reasons</td><td>Topical Salve</td><td><a href='https://shop.ravenridgefamilyfarm.com/collections/regenerative-cbd-salve/products/2-regenerative-cbd-salve?variant=37918846582939'>2% CBD - 600mg per oz</a></td></tr>
  </table>
</section>
<section class='story personal-story'>
  <h2>Can I use both at the same time?</h2>
  <p>Sure. <em>Many of our customers use both sublingual and salve products</em>. Keep in mind that sublingual products get to where they work via the bloodstream, while topical products get there through the skin.</p>
  <section class='alt-section'>
    <h3>Looking to bundle and save?</h3>
    <img src='/product_images/sm_salve_and_sublingual.jpg' class='center small' />
    <p>Try one of our two starter packs:
      <ul>
        <li><a href='https://shop.ravenridgefamilyfarm.com/collections/regenerative-cbd-starter-packs/products/low-dose-starter-pack'>Low Dosage Starter Pack</a> - I am intrigued and want to see if it works for me. </li>
        <li><a href='https://shop.ravenridgefamilyfarm.com/collections/regenerative-cbd-starter-packs/products/high-dose-starter-pack'>High Dosage Starter Pack</a> - I really need some help and hope this works!</li>
      </ul>
    </p>
  </section>
</section>
<section>
{{>visit_shop}}
</section>
