
<article>
<h1>Why should you buy from us?</h1>

<p>Well, for one thing, it matters to us how we grow our hemp. That's why we are committed
  to using only Estate Grown Hemp in our products, and on our estate, we grow following regenerative practices.</p>

<h2>Testing</h2>
<p>Blahdity blah ...</p>

<h2>Other stuff</h2>

<p>More blahs... </p>

</article>
