
<article id='rrff_things_to_know'>
  <div class='learn_header'>
    <h1>Things to Know About RavenRidge Family Farm</h1>
    <h2>Regenerative CBD Products</h2>

    <p>We really care about the products we produce, and this shows in how we create these products from the time the seeds go into the ground until the products reach your hand.</p>
    <p>Read on to discover the most important ways RavenRidge Family Farm products differ from the rest.</p>
  </div>

  <div class='thing_to_know'>
    <h2>RavenRidge uses CBD from hemp grown on our farm (estate grown) following Regenerative Farming practices</h2>
    <p>Our hemp is grown on healthy, living soil, with no exposure to manufactured fertilizers or sprays.  Visit our <a href='/learn/why_regenerative'>Why Regenerative Matters</a> page to learn more.</p>
  </div>

  <div class='thing_to_know'>
    <h2>RavenRidge uses DEA Registered Labs for all testing on its products</h2>
    <p>It is important to know that the tests being performed on CBD products are reliable.  To assure this, RavenRidge uses DEA Registered Labs. The full list of DEA-certified labs <a href='https://www.ams.usda.gov/rules-regulations/hemp/dea-laboratories'>is here</a>.</p>
  </div>

  <div class='thing_to_know'>
    <h2>RavenRidge is committed to transparency.</h2>
    <p>We post all of our product test results so you can easily confirm safety and potency of the products, and we provide pricing/mg of CBD to facilitate price comparison and value. Visit our storefront to purchase <a href='https://shop.ravenridgefamilyfarm.com'>CBD products here.</a>.</p>
  </div>

  <div class='thing_to_know'>
    <h2>RavenRidge Regenerative CBD products contain no residues</h2>
    <p>There are several methods for extracting oil from hemp flower. Some methods use compounds such as Butane which can leave harmful residues. RavenRidge's extraction process uses carbon dioxide which leaves no residues.</p>
  </div>

  <div class='thing_to_know'>
    <h2>RavenRidge Regenerative CBD products contain no heavy metals</h2>
    <p>The hemp plant is very efficient at extracting heavy metals from the soil.  Even soil containing minimal amounts of heavy metals can produce hemp CBD oil with significant levels of heavy metals, so we test our CBD oil. View our <a href='/test_results/2019_coa_heavy_metals.pdf'>Heavy Metal testing</a> or read more in <a href='/blog/cbd-heavy-metals'>this blog post</a>.</p>
  </div>

  <div class='thing_to_know'>
    <h2>RavenRidge Regenerative CBD products contain no dangerous mycotoxins.</h2>
    <p>RavenRidge takes precautions to minimize the risk: we follow Regenerative Farming practices to raise healthy plants; dry and cure our flower immediately; and store it in a controlled environment until the CBD oil is extracted.  However we still test it. View our <a href='/test_results/2019_coa_mycotoxins.pdf'>Mycotoxin testing</a> or read more in <a href='/blog/cbd-mycotoxins'>this blog post</a>.</p>
  </div>

  <div class='thing_to_know'>
    <h2>RavenRidge Regenerative CBD products are tested for CBD potency</h2>
    <p>All CBD products should be clearly labeled with the amount of CBD contained, and the test result should correlate.  For instance, check out the test results from our 900mg sublingual product <a href='/product_testing/103'>here</a>, and to read more <a href='/blog/cbd-content'>try this blog post</a>.</p>
  </div>

  <div class='thing_to_know'>
    <h2>RavenRidge Regenerative CBD products are tested for THC potency</h2>
    <p>Many CBD products contain small amounts of THC.  Even small amounts can be detected on drug screening.  Products are frequently mislabeled as containing no TCH, so If you are subject to drug screening, check THC test results to confirm.</p>
  </div>

  <div class='thing_to_know'>
    <h2>RavenRidge Regenerative CBD products are made with Full Spectrum Extract.</h2>
    <p>Full Spectrum Extract contains all of the biologically active compounds produced by the hemp flower.  There is increasing evidence that, for most uses, products made from a Full Spectrum Extract containing all of the flower’s cannabinoids, terpenes, and flavonoids is more beneficial than product made with CBD Isolate.  This is called the Entourage Effect.</p>
  </div>
  <div class='thing_to_know'>
    <h2>RavenRidge Regenerative CBD salve contains Argan Oil, a skin penetration enhancer</h2>
    <p>CBD is not water soluble.  It cannot penetrate through the skin to the underlying structures, like joints and muscles.  Argan Oil is an absorption enhancer that allows CBD to penetrate through the skin to the deeper structures.</p>
  </div>

  <h3>General Information on CBD</h3>
  <a href='https://www.projectcbd.org/'>Project CBD: Demystifying the facts behind cannabis and CBD</a><br>
  <a href='https://www.who.int/medicines/access/controlled-substances/CannabidiolCriticalReview.pdf'>CANNABIDIOL (CBD)</a>

  <hr />

  <section>
    <h3>References:</h3>
    <ul>
      <li><a href='http://www.scirp.org/html/5-2500582_53912.htm'>Overcoming the Bell-Shaped Dose-Response of Cannabidiol by Using Cannabis Extract Enriched in Cannabidiol</a></li>
      <li><a href='https://www.frontiersin.org/articles/10.3389/fneur.2018.00759/full'>Potential Clinical Benefits of CBD-Rich Cannabis Extracts Over Purified CBD in Treatment-Resistant Epilepsy: Observational Data Meta-analysis</a></li>
      <li><a href='https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5796020/'>Anti-Inflammatory and Skin Barrier Repair Effects of Topical Application of Some Plant Oils</a></li>
      <li><a href='https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5818782/'>Labeling Accuracy of Cannabidiol Extracts Sold Online</a></li>
    </ul>
  </section>
</article>
