    <div class="ui very padded text container">
      <div class="ui very padded red message">
        <div class="header">
          RavenRidge Full Spectrum Hemp Products available soon!
        </div>
        <br>
        <div class="ui content">
          <div class="ui item"><p>RavenRidge Sublingual Sprays will be available for purchase <em>here</em>the first week of January, and Topical Salves will be released later in the first quarter of 2019. <br>We appreciate your interest and hope our products are effective for you.</p>
          </div>
        </div>
      </div>
    </div>
