
<h1>Purchase Full Spectrum Hemp Products</h1>
<article class='story farm-story'>
  <p>Thank you for your interest in <em>RavenRidge</em> products.</p>
  <img src='/hemp_flower.jpg' class='small extra-content' />
  <img src='/product_images/sm_salve_and_sublingual.jpg' class='small' />
  <p>If you're ready to buy:</p>
  <div class='center'><a href='/shop/sublingual' class='call_to_action_link'>Browse Sublingual</a> or <a href='/shop/salve' class='call_to_action_link'>Shop for Salve</a></div>
  <p>For a little more information ... read on.</p>
</article>
<img src='/hemp.png' class='center tiny' />
<article class='story personal-story alt-section'>
  <h2>Why Buy From Us</h2>
  <ul class='padded-list'>
    <li>Our products are made from hemp we grew and harvested.</li>
    <li>We only grow using regenerative practices to preserve our living soils, which means:<ul class='padded-list'><li>no petrochemical-based fertilizers</li><li>no chemical sprays</li><li>and minimal disturbance</li></ul>
       ( visit '<a href='/learn/why_regenerative'>why regenerative</a>' to learn more )</li>
    <li>Our two-step extraction process involves only carbon dioxide, high pressure and low temperature, rather than harsh solvents.</li>
    <li>To our Full Spectrum Hemp Extract, we add only organic carrier oils, flavorings, and scents.</li>
    <li>Finally, we hand make small batches to preserve the highest quality for our terpene and cannabinoid rich products.</li>
  </ul>
  <div class='center-quote'><p>Interested in learning more?</p></div>
  <p>Try the <a href='/learn/why_ravenridge'>Why RavenRidge</a> and <a href='/learn/product_faqs'>Product FAQs</a> pages.</p>
</article>
<article class='story personal-story'>
  <h2>RavenRidge Regenerative CBD Sublingual Oil</h2>
  <p>Sublingual products are intended to be absorbed directly into the bloodstream through highly vascularized areas in the mouth.</p>
  <img class='paired-half' src='/sublingual_spray.jpg' /><img class='paired-half' src='/sublingual_dropper.jpg'>
  <p>They are made by combining concentrated Full Spectrum Hemp Extract with a carrier oil. Flavorings can be added to make the resulting oil more palatable.</p>
  <img class='half-full' src='/label_sublingual.jpg' />
  <p>Although per FDA regulations, we can't say much about how our product might help you specifically, we can say this:</p>
  <p class='center-basic-quote'>sublingual products are effective at delivering a large percentage of whatever cannabinoids are available to whatever part of your endocannabinoid system has available receptors for it.</p>
  <p>What happens after that depends on your body, and the condition it is in at that moment.</p>
  <p>You can browse our <a href='/shop/sublingual'>sublingual products here</a>. We hope you find benefit in them.</p>
</article>
<article class='story alt-section'>
  <h2>RavenRidge Regenerative CBD Topical Salve</h2>
  <p>Topical Salve products are intended to be applied to impacted areas of the body via the skin, with the expectation that some of the CBD will be absorbed into the affected areas.</p>
  <img class='half-full' src='/salve.jpg' />
  <p>If you say ouch when you move it or your doctor has said you just need to rest it, this could be the product for you.</p>
  <img class='center medium' src='/product_images/salve-600mg-4oz.jpg' />
  <p>We use argan oil which has been shown to help with absorption, and we take the same care with small batches to give our salve the best chance of being helpful.</p>
  <img class='center small' src='/product_images/salve-bottom.jpg' />
  <p>Oh, and it'll make your skin feel great, too! Browse our <a href='/shop/salve'>topical salve offerings here.</a></p>
</article>
<p class='center-quote'>Thanks for considering our products!</p>
<p>still need that extra bit of confidence? The <a href='/learn/why_ravenridge'>Why RavenRidge</a> and <a href='/learn/product_faqs'>Product FAQs</a> pages should answer any questions you may have.</p>
