
<h1>Purchase Full Spectrum Hemp Products</h1>
<article class='story farm-story'>
  <p>Thank you for your interest in <em>RavenRidge</em> products.</p>
  <img src='/hemp_flower.jpg' class='small extra-content' />
  <img src='/product_images/sm_salve_and_sublingual.jpg' class='small' />
  <p>If you're ready to buy:</p>
  <div class='center'><a href='/shop/sublingual' class='call_to_action_link'><span class='extra-content'>Browse </span>Sublinguals</a> or <a href='/shop/salve' class='call_to_action_link'><span class='extra-content'>Shop for </span>Salve</a></div>
</article>
<article class='story personal-story alt-section'>
  <img src='/hemp.png' class='center tiny' />
  <h2>Why Buy From Us</h2>
  <ul class='padded-list'>
    <li>Our products are made from hemp <em>we grew and harvested</em>.</li>
    <li>We grow using <a href='/learn/why_regenerative'>regenerative practices</a> to preserve our living soils.</li>
    <li>Our extraction process utilizes carbon dioxide, pressure and temperature, <em>rather than harsh solvents</em>.</li>
    <li>We only use <strong>organic</strong> carrier oils, flavorings, and scents.</li>
    <li>And we <em>hand make small batches</em> to ensure terpene and cannabinoid rich products.</li>
  </ul>
  <div class='callout-link-box'>
    <div class='title'>Learn more at:</div>
    <div class='links'><a href='/learn/why_ravenridge'>Why RavenRidge</a> and <a href='/learn/product_faqs'>Product FAQs</a></div>
  </div>
</article>
<article class='story'>
  <h2>Why might I use Sublingual Oil</h2>
  <p>Sublingual products are made by combining concentrated Full Spectrum Hemp Extract with a carrier oil. Flavorings can be added to make the resulting oil more palatable.</p>
  <img class='half-full' src='/label_sublingual.jpg' />
  <p>Although per FDA regulations, we can't say much about how our product might help, we can say this:</p>
  <p class='center-basic-quote'>sublingual products are effective at delivering a large percentage of whatever cannabinoids are available to whatever part of your endocannabinoid system has available receptors for it.</p>
  <p>What happens after that depends on your body, and the condition it is in at that moment.</p>
  <p>Browse our <a href='/shop/sublingual'>sublingual products</a>. We hope you find benefit in them.</p>
</article>
<article class='story alt-section'>
  <h2>When should I use Topical Salve</h2>
  <p>Salve is made by combining concentrated Full Spectrum Hemp Extract with various carrier oils and essential oils for scent.</p>
  <img class='center medium' src='/product_images/salve-600mg-4oz.jpg' />
  <p>If you say ouch when you move it or your doctor has said you just need to rest it, this could be the product for you.</p>
  <img class='center small' src='/product_images/salve-bottom.jpg' />
  <p>Oh, and it'll make your skin feel great, too! Browse our <a href='/shop/salve'>topical salve offerings.</a></p>
</article>
<p class='center-quote'>Thanks for considering our products!</p>
<p>still need that extra bit of confidence? The <a href='/learn/why_ravenridge'>Why RavenRidge</a> and <a href='/learn/product_faqs'>Product FAQs</a> pages should answer any questions you may have.</p>
