    <div class="ui very padded text container">
      <div class="ui very padded red message">
        <div class="header">
          RavenRidge Full Spectrum Hemp Products available soon!
        </div>
        <p>RavenRidge Sublingual Sprays and Topical Salve will be available for purchase <br>the first week of January ... and here is where you'll find them :). <br>We appreciate your interest and hope our products are effective for you.</p>
      </div>
    </div>
