<div class="hidden content">
  <div class="ui center aligned very padded container">
    <div class="ui text container">
      <h3 class="ui header">Our currently available products can be found below.</h3>
      <p>We offer free first-class USPS shipping and believe our prices reflect reasonable market value.</p>
      <p>Please note that at present we can only accept eCheck payment ( <a id="echeckinfo">more information</a> ).<br>
      <span class="ui small red text">( when a reasonable credit card option becomes available, we will update our services to include that payment option )</span></p>
      </div>
      <div class="ui horizontal divider"></div>
      <div id="my-store-17874207"></div>
      <div>
      <script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?17874207&data_platform=code&data_date=2019-11-11" charset="utf-8"></script><script type="text/javascript"> xProductBrowser("categoriesPerRow=3","views=grid(20,3) list(60) table(60)","categoryView=grid","searchView=list","id=my-store-17874207");</script>
    </div>
  </div>
</div>
</div>

<script language='javascript'>
$('#echeckinfo')
.popup({
position : 'right center',
title    : 'eCheck Payment',
content  : 'This is due to the evolving CBD regulatory environment. To pay by eCheck, you only need your checking and routing number from either a paper check, or from your financial institution.'
})
;
</script>
