
<!-- IMAGE UPLOADING AND TAGGING -->
<div id="image_loader" class="ui relaxed list">
  <div class="ui instructions" style="font-size:.8em;color:#999999;">Select and upload images.</div>
  <div class="ui item">
    <div class="ui fluid buttons">
      <button id="activity_image_button" class="ui inverted orange button" onclick="javascript:$('#activity_image').click();">
        Select Image(s) to Upload
      </button>
      <div class="ui or"></div>
      <button id="upload_image_button" class="ui green disabled button" onclick="javascript:uploadImage();">
        <i class="ui upload icon"></i>
        <span>Upload</span>
      </button>
    </div>
    <form id="imagecontainer" action="/image/add" style="display:none;">
      <input type="file" accept="image/*" id="activity_image" name="activity_image" onchange="javascript:imagesSelected(this);" multiple style="display:none;">
    </form>
    <div style="display:none;" class="ui red progress" id='image_progress' >
        <div class="bar"></div>
    </div>
  </div>
  <div class="ui item">
    <div id="image_thumbs" class="ui cards">
    </div>
  </div>
</div>
<!-- /***** image methods ******/ -->
<script language="javascript">

//  $("#image_loader").css("display", "none");

  var image_count = 0;
  var images_selected = {};

  function toggleImageLoader( show ){
    if( show || $("#image_loader").css("display") == "none"){
      $("#image_loader").css("display", "block");
      $("#attach_images_button").text("Remove Images");
      $("#attach_images_button").removeClass("inverted");
      $('#activity_image').click();
    }else{
      $("#image_loader").css("display", "none");
      $("#attach_images_button").addClass("inverted");
      $("#attach_images_button").text("Attach Images");
      for(let i in images_selected){
        removeImage( i );
      }
    }
  }

  function imagesSelected(target){
    //update the UI to reflect option to upload {image_count} selected images
    if(target.value != ""){
      let image_count = target.files.length;
      $("#activity_image_button").text("Change selected images");
      $("#upload_image_button").removeClass('disabled');
      $("#upload_image_button span").text("Upload " + image_count);
    }
    else
    {
      if( !$("#upload_image_button").hasClass('disabled') ) $("#upload_image_button").addClass('disabled');
      $("#activity_image_button").text("Select Image(s) to Upload");
      $("#upload_image_button span").text("Upload");
    }
  }

  function uploadImage(){
    if( document.getElementById('activity_image').value == "" ){
      alert('You have to select at least one image before uploading.');
      return;
    }
    $("#image_progress").css("display", "block");
    $("#image_progress").progress({percent:0});
    let form = document.getElementById('imagecontainer');
    var form_data = new FormData(form);
    // loop over files in the uploader and append each to the form_data object, then send to server
    $("#imagecontainer").prop('disabled', true);
    $.ajax({
      type: "POST",
      url: $("#imagecontainer").attr('action'),
      enctype: 'multipart/form-data',
      data:form_data,
      cache: false,
      contentType: false,
      processData: false,
      xhr: function() {
                  var myXhr = $.ajaxSettings.xhr();
                  if (myXhr.upload) {
                      // For handling the progress of the upload
                      myXhr.upload.addEventListener('progress', function(e) {
                          if (e.lengthComputable) {
                            $('#image_progress').progress({percent:(e.loaded/e.total * 100)});
                          }
                      } , false);
                  }
                  return myXhr;
              },
      success: imageUploaded,
      dataType: 'json'
    });

  }

  function imageUploaded( res ){
    $("#image_progress").css("display", "none");
    $("#upload_image_button").addClass("disabled");
    for( let i in res ){
      if( res[i].success ){
        images_selected[ res[i].image_id ] = [];
        $('#image_thumbs').append("<div id='activity_image_" + res[i].image_id + "' class='ui centered fluid card'><div class='ui three top attached buttons'><div class='ui blue inverted button' id='receipt_" + res[i].image_id + "' onclick='javascript:markImageAs(" + res[i].image_id + ", \"receipt\")'><i class='file alternate icon'/>receipt</div><div class='ui blue inverted button' id='label_" + res[i].image_id + "' onclick='javascript:markImageAs(" + res[i].image_id + ", \"label\")'><i class='newspaper icon'/>label</div><div class='ui red button' onclick='javascript:removeImage("+res[i].image_id+");'><i class='ui trash icon'></i>Delete</div></div><img class='ui fluid image' src='" + res[i].Location + "'></img></div>");
      }else{
        console.log("Could not load image...");
      }
    }
  }

  function removeImage( image_id ){
    //$('#activity_image_' + image_id).remove();
    $.get({
        url: "/image/remove/",
        data: {image_id:image_id},
        success: (data)=>{
          console.log(data);
          if( data.success ){
            $('#activity_image_' + data.image_id).remove();
            delete images_selected[ data.image_id ];
          }
          //$('#attach_images').prop('disabled', false);
        },
        dataType: "json"
      });
  }

  //method to set and locally manage tags as applied to image cards
  function markImageAs( image_id, tag ){
    let i = images_selected[ image_id ].indexOf( tag );
    if( i >= 0 ){
      //unmark this tag
      images_selected[image_id].splice( i, 1 );
    }
    else
    {
      images_selected[image_id].push(tag);
    }
    $('#' + tag + '_' + image_id).toggleClass('inverted');
  }

</script>

<!-- /**** end image methods *****/ -

<script language="javascript">

import ImageTools from './image/imagetools';

const imageTools = new ImageTools();

//imageTools.resize(file, { width: 1080, height: 1920 });
//imageTools.crop(file, { width: 400, height: 400 });

//upon pressing upload button, trigger resize call ...


</script>
-->
